<div class="panel panel-default">

  <div class="panel-heading">
    <div class="text-center">
      <span class="h4 block m-b-sm">{{ panelTitle }}</span>
    </div>
    <div class="row">
      <div class="col-sm-8 m-b-xs pos-rlt">
        <form [formGroup]="searchForm">
          <input formControlName="sch_partner_name"
                 [typeahead]="listPartners"
                 typeaheadOptionField="Alias"
                 [typeaheadOptionsLimit]="50"
                 [typeaheadScrollable]="true"
                 [typeaheadMinLength]="0"
                 (typeaheadOnSelect)="onSelectListPartner($event)"
                 placeholder="거래처명"
                 class="input-sm form-control w-sm inline v-middle"/>
          <input type="text" formControlName="sch_product_name" id="sch_product_name" (keyup)="updateFilter($event)"
                 class="input-sm form-control w-sm inline v-middle" placeholder="제품번호"/>
          <button (click)="getAll()" class="btn btn-sm btn-default">검색</button>
        </form>
      </div>
      <div class="col-sm-4 text-right text-center-xs">
        <button (click)="openModal()" [disabled]="!selectedId" class="btn btn-sm btn-primary btn-addon">
          <i class="glyphicon glyphicon-plus"></i>등록
        </button>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <ngx-datatable
      [style.height.px]=gridHeight
      class="bootstrap"
      [rows]="rows"
      [columnMode]="'force'"
      [headerHeight]="30"
      [rowHeight]="30"
      [scrollbarV]="true"
      [scrollbarH]="false"
      [selected]="selected"
      [selectionType]="'single'"
      (select)='onSelect($event)'
      [messages]="messages">
      <ngx-datatable-column prop="" name="수주번호"></ngx-datatable-column>
      <ngx-datatable-column prop="partner_name" name="거래처"></ngx-datatable-column>
      <ngx-datatable-column prop="" name="등록일자"></ngx-datatable-column>
      <ngx-datatable-column prop="" name="약속일자"></ngx-datatable-column>
      <!-- <ngx-datatable-column prop="product_code" name="제품번호"></ngx-datatable-column> -->
      <!-- <ngx-datatable-column prop="partner_code" name="거래처코드" [width]="1" [canAutoResize]="false" -->
                            <!-- [resizeable]="false"></ngx-datatable-column> -->
      <!-- <ngx-datatable-column prop="drawing_no" name="도번"></ngx-datatable-column> -->
      <ngx-datatable-column prop="product_name" name="제품명"></ngx-datatable-column>
      <!-- <ngx-datatable-column prop="material" name="재질" cellClass="text-center"></ngx-datatable-column> -->
      <ngx-datatable-column prop="size" name="규격" cellClass="text-center"></ngx-datatable-column>
      <ngx-datatable-column prop="" name="수량" cellClass="text-center"></ngx-datatable-column>
      <!-- <ngx-datatable-column>
          <ng-template let-column="column" ngx-datatable-header-template>
    규격&middot;길이
  </ng-template>
  <ng-template let-row="row" ngx-datatable-cell-template>
    <span class="inline size text-center">{{ row.size }}</span>/
              <span class="inline cut-length text-center">{{ row.cut_length }}</span>
  </ng-template>
      </ngx-datatable-column> -->
      <!-- <ngx-datatable-column prop="input_weight" name="투중" cellClass="text-center"></ngx-datatable-column> -->
      <!-- <ngx-datatable-column prop="product_weight" name="제중" cellClass="text-center"></ngx-datatable-column> -->
      <ngx-datatable-column prop="product_price" name="단가" cellClass="text-right">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span
            class="inline m-r-sm{{ row.is_tmp_price == 'Y' ? ' text-danger' : '' }}">{{ value | numberFormat }}</span>
        </ng-template>
      </ngx-datatable-column>
      <!-- <ngx-datatable-column prop="production_line" name="작업라인" cellClass="text-center"></ngx-datatable-column> -->
    </ngx-datatable>
  </div>

  <!-- <footer class="panel-footer">
    <div class="row">
      <div class="col-sm-6 hidden-xs">

      </div>
      <div class="col-sm-6 text-right text-center-xs">
        <button (click)="openModal()" [disabled]="!selectedId" class="btn btn-sm btn-primary btn-addon">
          <i class="glyphicon glyphicon-plus"></i>등록
        </button>
      </div>
    </div>
  </footer> -->
</div>

<div bsModal #InputFormModal="bs-modal" id="input-form" class="modal fade" tabindex="-1" role="dialog"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <form [formGroup]="inputForm">
        <div class="modal-header">
          <button type="button" class="close" (click)="InputFormModal.hide()"><span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{{ inputFormTitle }}</h4>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="col-lg-6">

              <div class="form-group">
                <div class="row">
                  <label for="product_code" class="col-lg-4 control-label">
                    제품번호 <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                  </label>
                  <div class="col-lg-8">
                    <input type="text" formControlName="product_code" id="product_code" nextFocus="delivery_date"
                           class="form-control inline w-sm"/>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <label for="passenger_phone" class="col-lg-4 control-label">
                    수주구분1 <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                  </label>
                  <div class="col-lg-8">
                    <label class="i-checks">
                      <input type="radio" formControlName="order_type1" value="Y" checked>
                      <i></i>
                      정상
                    </label>
                    <label class="i-checks">
                      <input type="radio" formControlName="order_type1" value="X">
                      <i></i>
                      예상
                    </label>
                    <label class="i-checks">
                      <input type="radio" formControlName="order_type1" value="D">
                      <i></i>
                      개발
                    </label>
                    <label class="i-checks">
                      <input type="radio" formControlName="order_type1" value="F">
                      <i></i>
                      불량
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <label for="passenger_name" class="col-lg-4 control-label">
                    거래처 <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                  </label>
                  <div class="col-lg-8">
                    <input formControlName="partner_name" id="partner_name"
                           [typeahead]="inputPartners"
                           typeaheadOptionField="Alias"
                           [typeaheadOptionsLimit]="50"
                           [typeaheadScrollable]="true"
                           [typeaheadMinLength]="0"
                           (typeaheadOnSelect)="onSelectInputPartner($event)"
                           placeholder="거래처명"
                           class="input-sm form-control w-sm inline v-middle"/>
                    <input type="hidden" formControlName="partner_code" id="partner_code"/>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <label for="delivery_date" class="col-lg-4 control-label">
                    요구일 <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                  </label>
                  <div class="col-lg-8">
                    <input type="text" formControlName="delivery_date" id="delivery_date" bsDatepicker
                           placement="bottom left" (bsValueChange)="onValueChange($event)" (blur)="copy_date($event)"
                           nextFocus="promised_date" class="form-control w-sm"/>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <label for="promised_date" class="col-lg-4 control-label">
                    약속일자 <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                  </label>
                  <div class="col-lg-8">
                    <input type="text" formControlName="promised_date" id="promised_date" bsDatepicker
                           placement="bottom left" nextFocus="product_price" class="form-control w-sm"/>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <label for="product_price" class="col-lg-4 control-label">
                    단가
                  </label>
                  <div class="col-lg-8">
                    <input type="text" (keyup)="AddComma($event)" formControlName="product_price" id="product_price"
                           nextFocus="order_qty" class="form-control inline w-sm text-right"
                           [ngClass]="{'text-danger': isTmpPrice==true}"/>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <label for="order_qty" class="col-lg-4 control-label">
                    수주수량<span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                  </label>
                  <div class="col-lg-8">
                    <input type="text" decimal [(ngModel)]="order_qty" formControlName="order_qty" id="order_qty"
                           nextFocus="order_no" class="form-control w-sm text-right"/>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <label for="order_no" class="col-lg-4 control-label">수주번호</label>
                  <div class="col-lg-8">
                    <input type="text" formControlName="order_no" id="order_no" nextFocus="input_date"
                           class="form-control w-sm"/>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-lg-6">

              <div class="form-group">
                <div class="row">
                  <label for="input_date" class="col-lg-4 control-label">
                    등록일자 <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                  </label>
                  <div class="col-lg-8">
                    <input type="text" formControlName="input_date" id="input_date" bsDatepicker placement="bottom left"
                           nextFocus="order_type2" class="form-control w-sm"/>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <label for="order_type2" class="col-lg-4 control-label">
                    수주구분2 <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                  </label>
                  <div class="col-lg-8">
                    <label class="i-checks">
                      <input type="radio" formControlName="order_type2" value="J" checked>
                      <i></i>
                      정기
                    </label>
                    <label class="i-checks">
                      <input type="radio" formControlName="order_type2" value="I">
                      <i></i>
                      추가
                    </label>
                    <label class="i-checks">
                      <input type="radio" formControlName="order_type2" value="S">
                      <i></i>
                      긴급
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <label for="product_name" class="col-lg-4 control-label">
                    제품명
                  </label>
                  <div class="col-lg-8">
                    <input type="text" formControlName="product_name" id="product_name" nextFocus="size"
                           class="form-control inline w"/>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <label for="size" class="col-lg-4 control-label">
                    규격
                  </label>
                  <div class="col-lg-8">
                    <input type="text" formControlName="size" id="size" nextFocus="production_line"
                           class="form-control w-sm"/>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <label for="production_line" class="col-lg-4 control-label">
                    작업라인
                  </label>
                  <div class="col-lg-8">
                    <select formControlName="production_line" id="production_line" nextFocus="modi_reason"
                            class="input-sm form-control w-sm inline v-middle">
                      <option *ngFor="let line of productionLines" value="{{ line.LineCode }}">{{ line.LineCode }}
                        -{{ line.EquipmentName }}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-group" [ngClass]="{'show': isEditMode==true, 'hide': isEditMode==false}">
                <div class="row">
                  <label for="modi_reason" class="col-lg-4 control-label">
                    정정사유
                  </label>
                  <div class="col-lg-8">
                    <select formControlName="modi_reason" class="input-sm form-control w-sm inline v-middle">
                      <option value="CANCEL">수주취소</option>
                      <option value="DECREASE">수주감량</option>
                      <option value="INCREASE">수주증량</option>
                      <option value="DELAY">납기연기</option>
                      <option value="ETC">기타</option>
                    </select>
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>

        <div class="modal-footer">
          <div class="text-center">
            <button type="button" (click)="Save()" [disabled]="!inputForm.valid" class="btn btn-primary btn-save">완료
            </button>
            <button type="button" (click)="InputFormModal.hide()" class="btn btn-primary btn-cancel">취소</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>

<div *ngIf="isLoadingProgress" class="loading-progress">

  <div class="sk-fading-circle">
    <div class="sk-circle1 sk-circle"></div>
    <div class="sk-circle2 sk-circle"></div>
    <div class="sk-circle3 sk-circle"></div>
    <div class="sk-circle4 sk-circle"></div>
    <div class="sk-circle5 sk-circle"></div>
    <div class="sk-circle6 sk-circle"></div>
    <div class="sk-circle7 sk-circle"></div>
    <div class="sk-circle8 sk-circle"></div>
    <div class="sk-circle9 sk-circle"></div>
    <div class="sk-circle10 sk-circle"></div>
    <div class="sk-circle11 sk-circle"></div>
    <div class="sk-circle12 sk-circle"></div>
  </div>

</div>
