<div class="panel panel-default">

  <div class="panel-heading">
    <div class="text-center">
      <span class="h4 block m-b-sm">{{ panelTitle }}</span>
    </div>
    <div class="row">
      <div class="col-sm-8 m-b-xs pos-rlt">
        <form [formGroup]="searchForm">
          <input formControlName="sch_partner_name"
                 [typeahead]="partnerList"
                 typeaheadOptionField="name"
                 [typeaheadOptionsLimit]="50"
                 [typeaheadScrollable]="true"
                 [typeaheadMinLength]="0"
                 (typeaheadOnSelect)="onSearchSelectListPartner($event)"
                 placeholder="거래처명"
                 class="input-sm form-control w-sm inline v-middle"/>
          <input type="text" formControlName="sch_product_name" id="sch_product_name" (keyup)="updateFilter($event)"
                 class="input-sm form-control w-sm inline v-middle" placeholder="제품번호"/>
          <button (click)="getAll()" class="btn btn-sm btn-default">검색</button>
        </form>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <ngx-datatable
      [style.height.px]=gridHeight
      class="bootstrap"
      [rows]="rows"
      [columnMode]="'force'"
      [headerHeight]="30"
      [rowHeight]="30"
      [scrollbarV]="true"
      [scrollbarH]="false"
      [selected]="selected"
      [selectionType]="'single'"
      (select)='onSelect($event)'
      [messages]="messages">
      <ngx-datatable-column prop="order_no" name="수주번호"></ngx-datatable-column>
      <ngx-datatable-column prop="partner_name" name="거래처"></ngx-datatable-column>
      <ngx-datatable-column prop="demand_date" name="등록일자"></ngx-datatable-column>
      <ngx-datatable-column prop="promised_date" name="약속일자"></ngx-datatable-column>
      <ngx-datatable-column prop="product_name" name="제품명"></ngx-datatable-column>
      <ngx-datatable-column prop="product_type" name="규격" cellClass="text-center"></ngx-datatable-column>
      <ngx-datatable-column prop="product_qty" name="수량" cellClass="text-center"></ngx-datatable-column>
      <ngx-datatable-column prop="product_price" name="단가" cellClass="text-right">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span
            class="inline m-r-sm{{ row.is_tmp_price == 'Y' ? ' text-danger' : '' }}">{{ value | numberFormat }}</span>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
  <footer class="panel-footer">
    <div class="row">
      <div class="col-sm-6 hidden-xs">

      </div>
      <div class="col-sm-6 text-right text-center-xs">
        <button (click)="openModal()" class="btn btn-sm btn-primary btn-addon">
          <i class="glyphicon glyphicon-plus"></i>등록
        </button>
      </div>
    </div>
  </footer>
</div>

<div bsModal #InputFormModal="bs-modal" id="input-form" class="modal fade" tabindex="-1" role="dialog"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="width: 960px !important;">
      <form [formGroup]="inputForm">
        <div class="modal-header">
          <button type="button" class="close" (click)="InputFormModal.hide()"><span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{{ inputFormTitle }}</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <div class="row">
                  <label for="input_date" class="col-lg-4 control-label">
                    등록일자 <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                  </label>
                  <div class="col-lg-8">
                    <input type="text" formControlName="input_date" id="input_date" bsDatepicker placement="bottom left"
                           nextFocus="" class="form-control w-sm"/>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label for="order_no" class="col-lg-4 control-label">
                    수주번호 <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                  </label>
                  <div class="col-lg-8">
                    <input type="text" formControlName="order_no" id="order_no" nextFocus=""
                           class="form-control inline w-sm"/>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label for="demand_date" class="col-lg-4 control-label">
                    요구일 <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                  </label>
                  <div class="col-lg-8">
                    <input type="text" formControlName="demand_date" id="demand_date" bsDatepicker placement="bottom left"
                           nextFocus="" class="form-control w-sm"/>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <div class="row">
                  <label for="partner_name" class="col-lg-4 control-label">
                    거래처 <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                  </label>
                  <div class="col-lg-8">
<!--                    <input type="text" formControlName="partner_name" id="product_code" nextFocus=""-->
<!--                                                                    class="form-control inline w-sm"/>-->
                    <input formControlName="sch_partner_name" id="sch_partner_name"
                           [typeahead]="partnerList"
                           typeaheadOptionField="name"
                           [typeaheadOptionsLimit]="50"
                           [typeaheadScrollable]="true"
                           [typeaheadMinLength]="0"
                           (typeaheadOnSelect)="onSelectListPartner($event)"
                           class="form-control inline w-sm"/>
                    <input type="hidden" formControlName="partner_id"
                           id="partner_id"/>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label for="order_type" class="col-lg-4 control-label">
                    수주구분 <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                  </label>
                  <div class="col-lg-8">
                    <label class="i-checks">
                      <input type="radio" formControlName="order_type" value="Y" checked>
                      <i></i>
                      정상
                    </label>
                    <label class="i-checks">
                      <input type="radio" formControlName="order_type" value="X">
                      <i></i>
                      예상
                    </label>
                    <label class="i-checks">
                      <input type="radio" formControlName="order_type" value="F">
                      <i></i>
                      불량
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label for="promised_date" class="col-lg-4 control-label">
                    약속일자 <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                  </label>
                  <div class="col-lg-8">
                    <input type="text" formControlName="promised_date" id="promised_date" bsDatepicker placement="bottom left"
                           nextFocus="" class="form-control w-sm"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <table>
                <tr *ngFor='let product of [].constructor(productDataCnt); let index = index;'>
                  <div *ngIf="inputForm.value['product_id_'+(index+1)] != -1" style="display: contents"
                       id="product_wrap_{{index+1}}">
                    <th>
                      <label for="material_title_{{index+1}}">제품명</label>
                    </th>
                    <td>
                      <input formControlName="sch_product_{{index+1}}" id="product_title_{{index+1}}"
                             [typeahead]="productList"
                             typeaheadOptionField="name"
                             [typeaheadOptionsLimit]="50"
                             [typeaheadScrollable]="true"
                             [typeaheadMinLength]="0"
                             (typeaheadOnSelect)="onSelectListProduct($event, index+1)"
                             class="input-sm form-control w-sm inline v-middle"/>
                      <input type="hidden" formControlName="product_id_{{index+1}}" id="product_id_{{index+1}}"/>
                    </td>
                    <th>
                      <label for="product_type_{{index+1}}">규격</label>
                    </th>
                    <td>
                      <input type="text" formControlName="product_type_{{index+1}}" id="product_type_{{index+1}}"
                             class="form-control inline input-sm w-xs text-right"/>
                    </td>
                    <th>
                      <label for="prodcut_qty_{{index+1}}">수주수량</label>
                    </th>
                    <td>
                      <input type="text" formControlName="product_qty_{{index+1}}" id="product_qty_{{index+1}}"
                             (keyup)="calculatePrice($event, index+1)"
                             class="form-control inline input-sm w-xxs text-right"/>
                    </td>
                    <th>
                      <label for="product_unit_price_{{index+1}}">단가</label>
                    </th>
                    <td>
                      <input type="text" formControlName="product_unit_price_{{index+1}}" id="product_unit_price_{{index+1}}"
                             class="form-control inline input-sm w-xs text-right"/>
                      <input type="hidden" formControlName="product_base_unit_price_{{index+1}}"
                             id="product_base_unit_price_{{index+1}}"/>
                    </td>
                    <th>
                      <label for="product_price_{{index+1}}">금액</label>
                    </th>
                    <td>
                      <input type="text" formControlName="product_price_{{index+1}}" id="product_price_{{index+1}}"
                             class="form-control inline input-sm w-xs text-right"/>
                    </td>
                    <th>
                      <label for="sch_work_line{{index+1}}">작업라인</label>
                    </th>
                    <td>
                      <input formControlName="sch_work_line_{{index+1}}" id="sch_work_line_{{index+1}}"
                             [typeahead]="productionLines"
                             typeaheadOptionField="line_no"
                             [typeaheadOptionsLimit]="50"
                             [typeaheadScrollable]="true"
                             [typeaheadMinLength]="0"
                             (typeaheadOnSelect)="onSelectListWorkLine($event, index+1)"
                             class="input-sm form-control w-xxs inline v-middle"/>
                      <input type="hidden" formControlName="product_workline_id_{{index+1}}"
                             id="product_workline_id_{{index+1}}"/>
                    </td>
                    <td>
                      <div style="display: flex">
                        <button *ngIf="chkViewAddBtn(index+1)" (click)="addMaterialRow()"
                                [disabled]="!inputForm.valid"
                                id="material_add_btn_{{index+1}}"
                                class="btn btn-sm btn-info btn-addon" style="margin-right: 5px">추가
                        </button>
                        <button *ngIf="chkViewRemoveBtn(index+1)"
                                (click)="removeMaterialRow(index+1)"
                                id="material_remove_btn_{{index+1}}"
                                class="btn btn-sm btn-danger btn-addon">삭제
                        </button>
                      </div>
                    </td>
                  </div>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="text-center">
            <button type="button" (click)="Save()" [disabled]="!inputForm.valid" class="btn btn-primary btn-save">완료
            </button>
            <button type="button" (click)="InputFormModal.hide()" class="btn btn-primary btn-cancel">취소</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>

<div *ngIf="isLoadingProgress" class="loading-progress">

  <div class="sk-fading-circle">
    <div class="sk-circle1 sk-circle"></div>
    <div class="sk-circle2 sk-circle"></div>
    <div class="sk-circle3 sk-circle"></div>
    <div class="sk-circle4 sk-circle"></div>
    <div class="sk-circle5 sk-circle"></div>
    <div class="sk-circle6 sk-circle"></div>
    <div class="sk-circle7 sk-circle"></div>
    <div class="sk-circle8 sk-circle"></div>
    <div class="sk-circle9 sk-circle"></div>
    <div class="sk-circle10 sk-circle"></div>
    <div class="sk-circle11 sk-circle"></div>
    <div class="sk-circle12 sk-circle"></div>
  </div>

</div>
