<div class="panel panel-default">

  <div class="panel-heading">
      <div class="text-center">
          <span class="h4 block">{{ panelTitle }}</span>
      </div>
      <form [formGroup]="searchForm">
        <label for="sch_sdate" class="control-label text-sm">조회기간</label>
        <input type="text"
            formControlName="sch_sdate"
            id="sch_sdate"
            bsDatepicker
            placement="bottom left"
            class="form-control inline input-sm w-xs" /> ~
        <input type="text"
            formControlName="sch_edate"
            id="sch_edate"
            bsDatepicker
            placement="bottom left"
            class="form-control inline input-sm w-xs" />
        <button (click)="getAll()" class="btn btn-sm btn-default hidden-print">검색</button>
    </form>
  </div>
  <div class="panel-body">
      <ngx-datatable
          [style.height.px] = gridHeight
          class="bootstrap"
          [rows]="rows"
          [columnMode]="'force'"
          [headerHeight]="30"
          [rowHeight]="30"
          [scrollbarV]="true"
          [scrollbarH]="false"
          [selected]="selected"
          [selectAllRowsOnPage]="false"
          [messages]="messages">
          <ngx-datatable-column prop="production_date" name="생산일자" cellClass="text-center"></ngx-datatable-column>
          <ngx-datatable-column prop="defect_count1" name="찍힘" cellClass="text-center"></ngx-datatable-column>
          <ngx-datatable-column prop="defect_count2" name="깨짐" cellClass="text-center"></ngx-datatable-column>
          <ngx-datatable-column prop="defect_count3" name="인쇄불량" cellClass="text-center"></ngx-datatable-column>
          <ngx-datatable-column prop="defect_count4" name="색상불량" cellClass="text-center"></ngx-datatable-column>
          <ngx-datatable-column prop="defect_count5" name="성형불량" cellClass="text-center"></ngx-datatable-column>
          <ngx-datatable-column prop="defect_count6" name="작업불량" cellClass="text-center"></ngx-datatable-column>
          <ngx-datatable-column prop="defect_count7" name="기타" cellClass="text-center"></ngx-datatable-column>
      </ngx-datatable>
  </div>
</div>

