<div class="panel panel-default" id="print-target-ht-outsourcing">

    <div class="panel-heading">
        <div class="text-center">
            <span class="h4 block m-b-sm">{{ panelTitle }}</span>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <form [formGroup]="searchForm">
                    <span class="inline m-r-sm">거래처:</span>
                    <input formControlName="sch_partner_name"
                        [typeahead]="listPartners"
                        typeaheadOptionField="Alias"
                        [typeaheadOptionsLimit]="50"
                        [typeaheadScrollable]="true"
                        [typeaheadMinLength]="0"
                        (typeaheadOnSelect)="onSelectListPartner($event)"
                        placeholder="거래처명"
                        class="input-sm form-control w-sm inline v-middle"
                        id="sch_partner_name" />
                    <span class="inline m-l m-r-sm">조회기간:</span>
                    <input type="text" formControlName="sch_sdate" bsDatepicker placement="bottom left" class="input-sm form-control w-xs inline v-middle" id="sch_sdate" /> ~
                    <input type="text" formControlName="sch_edate" bsDatepicker placement="bottom left" class="input-sm form-control w-xs inline v-middle" id="sch_edate"/>
                    <button (click)="getAll()" class="btn btn-sm btn-default hidden-print">검색</button>
                </form>
            </div>
            <div class="col-sm-6 text-right hidden-print">
                <button (click)="openModal('upload')" class="btn btn-sm btn-success btn-addon">
                <i class="glyphicon glyphicon-upload"></i>엑셀업로드
                </button>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <ngx-datatable
            [style.height.px] = gridHeight
            class="bootstrap"
            [rows]="rows"
            [columnMode]="'force'"
            [headerHeight]="30"
            [rowHeight]="30"
            [scrollbarV]="true"
            [scrollbarH]="false"
            [selected]="selected"
            [selectionType]="'checkbox'"
            [selectAllRowsOnPage]="false"
            (select)="onSelect($event)"
            [messages]="messages">
            <ngx-datatable-column prop="id" [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" headerClass="checkAll" cellClass="text-center">
                <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                    <label class="i-checks i-checks-sm m-b-none hidden-print">
                        <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"/><i></i>
                    </label>
                </ng-template>
                <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
                    <label class="i-checks i-checks-sm m-b-none hidden-print">
                        <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)"/><i></i>
                    </label>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="poc_no" name="POC No" [resizeable]="false" cellClass="text-center"></ngx-datatable-column>
            <ngx-datatable-column prop="product_code" name="제품코드" [resizeable]="false" cellClass="text-center"></ngx-datatable-column>
            <ngx-datatable-column prop="drawing_no" name="도번" [resizeable]="false"></ngx-datatable-column>
            <ngx-datatable-column prop="product_name" name="제품명" [resizeable]="false"></ngx-datatable-column>
            <ngx-datatable-column prop="input_date" name="생산일자" [resizeable]="false" cellClass="text-center"></ngx-datatable-column>
            <ngx-datatable-column prop="production_qty" name="생산수량" [resizeable]="false" cellClass="text-right">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                    <span> {{ value | numberFormat }} </span>
                    &nbsp; &nbsp;
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="outs_qty" name="외주재고" [resizeable]="false" cellClass="text-right">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                    <span> {{ value | numberFormat }} </span>
                    &nbsp; &nbsp;
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="orderable_qty" name="발주가능수량" [resizeable]="false" cellClass="text-right">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                    <span> {{ value | numberFormat }} </span>
                    &nbsp; &nbsp;
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>

    <div class="panel-footer text-right hidden-print">

        <button (click)="openModal('write')" [disabled]="selectedCnt != 1" class="btn btn-sm btn-primary btn-addon">
            <i class="glyphicon glyphicon-plus"></i>발주
        </button>
        <button class="btn btn-sm btn-info btn-addon" (click)="electronService.readyPrint('print-target-ht-outsourcing', '', electronService.PRINT_OPT.LANDSCAPE)">
            <i class="glyphicon glyphicon-print"></i>인쇄
        </button>
        <button class="btn btn-sm btn-success btn-addon" (click)="excelDown()"><i class="glyphicon glyphicon-download-alt"></i>엑셀</button>

	</div>
</div>

<div bsModal #InputFormModal="bs-modal" id="input-form" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">

            <form [formGroup]="inputForm">
            <input type="hidden" formControlName="forging_id" id="forging_id" />

			<div class="modal-header">
				<button type="button" class="close" (click)="InputFormModal.hide()"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ inputFormTitle }}</h4>
			</div>
			<div class="modal-body">

                <div class="form-group">
                    <div class="row">
                        <label for="order_date" class="col-lg-5 control-label">
                            발주일자 <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                        </label>
                        <div class="col-lg-7">
                            <input type="text" formControlName="order_date" id="order_date" nextFocus="rcv_req_date" bsDatepicker placement="bottom left" class="form-control input-sm w-sm" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label for="rcv_req_date" class="col-lg-5 control-label">
                            납품요구일 <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                        </label>
                        <div class="col-lg-7">
                            <input type="text" formControlName="rcv_req_date" id="rcv_req_date" nextFocus="poc_no" bsDatepicker placement="bottom left" class="form-control input-sm w-sm" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label for="poc_no" class="col-lg-5 control-label">
                            POC No <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                        </label>
                        <div class="col-lg-7">
                            <input type="text" formControlName="poc_no" id="poc_no" nextFocus="order_qty" class="form-control inline input-sm w-sm" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label for="order_qty" class="col-lg-5 control-label">
                            열처리수량 <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                        </label>
                        <div class="col-lg-7">
                            <input type="text" formControlName="order_qty" id="order_qty" nextFocus="partner_name" class="form-control inline input-sm w-xs" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label for="partner_name" class="col-lg-5 control-label">
                            열처리업체
                        </label>
                        <div class="col-lg-7">
                            <input formControlName="partner_name" id="partner_name"
                                [typeahead]="inputPartners"
                                typeaheadOptionField="Alias"
                                [typeaheadOptionsLimit]="50"
                                [typeaheadScrollable]="true"
                                [typeaheadMinLength]="0"
                                (typeaheadOnSelect)="onSelectInputPartner($event)"
                                placeholder="거래처명"
                                class="input-sm form-control w-sm inline v-middle" />
                            <input type="hidden" formControlName="partner_code" id="partner_code" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label for="heat_treatment_process" class="col-lg-5 control-label">
                            열처리공정
                        </label>
                        <div class="col-lg-7">
                            <select formControlName="heat_treatment_process" id="heat_treatment_process" class="input-sm form-control w-xs inline v-middle">
                                <option *ngFor="let item of heatingProcess" value="{{ item.CfgCode }}">{{ item.CfgName }}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label for="heat_treatment_criteria" class="col-lg-5 control-label">
                            열처리기준
                        </label>
                        <div class="col-lg-7">
                            <input type="text" formControlName="heat_treatment_criteria" id="heat_treatment_criteria" class="form-control input-sm w-sm" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label for="product_code" class="col-lg-5 control-label">
                            제품코드
                        </label>
                        <div class="col-lg-7">
                            <input type="text" formControlName="product_code" id="product_code" class="form-control input-sm w-sm" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label for="drawing_no" class="col-lg-5 control-label">
                            도번
                        </label>
                        <div class="col-lg-7">
                            <input type="text" formControlName="drawing_no" id="drawing_no" class="form-control input-sm w-sm" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label for="product_name" class="col-lg-5 control-label">
                            제품명
                        </label>
                        <div class="col-lg-7">
                            <input type="text" formControlName="product_name" id="product_name" class="form-control input-sm w-sm" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label for="material" class="col-lg-5 control-label">
                            재질
                        </label>
                        <div class="col-lg-7">
                            <input type="text" formControlName="material" id="material" class="form-control input-sm w-sm" />
                        </div>
                    </div>
                </div>

			</div>

            <div class="modal-footer">
				<div class="text-center">
					<button type="button" (click)="Save()" [disabled]="!inputForm.valid" class="btn btn-primary btn-save">완료</button>
                    <button type="button" (click)="InputFormModal.hide()" class="btn btn-primary btn-cancel">취소</button>
				</div>
            </div>
            </form>

		</div>
	</div>
</div>

<div bsModal #UploadFormModal="bs-modal" id="upload-form" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" (click)="UploadFormModal.hide()"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ uploadFormTitle }}</h4>
			</div>
			<div class="modal-body">
                <div class="text-center padder-v">
                    <input type="file" (change)="fileSelected($event)" placeholder="Upload file" accept=".xls,.xlsx" #uploadFileSrc />
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <button type="button" (click)="fileSelected($event)" class="btn btn-primary btn-save">업로드</button>
                    <button type="button" (click)="uploadFileSrc.value=''; UploadFormModal.hide()" class="btn btn-default btn-cancel">취소</button>
                    <button type="button" (click)="excelDown()" class="btn btn-success">다운로드</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isLoadingProgress" class="loading-progress">

    <div class="sk-fading-circle">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
    </div>

</div>
