.all-row-color {
    color:#000; 
    font-weight:bold;
    background-color:#c4c4c4 !important;
}
@media print {
    .panel-body {
        display: table !important;
    }
 
    .ngx-datatable {
        height: unset !important;
    }
 
    .datatable-body {
        height: unset !important;
    }
  
    .datatable-scroll {
        display: table !important;
    }
 
    .datatable-row-wrapper {
        page-break-inside: avoid;
    }
}