<div class="panel panel-default">

    <div class="panel-heading">
      <div class="text-center">
        <span class="h4 block m-b-sm">{{ panelTitle }}</span>
      </div>
      <div class="text-right">
      </div>
    </div>
  
    <div class="panel-body">
      <ngx-datatable
        [style.height.px]=gridHeight
        class="bootstrap"
        [rows]="rows"
        [columnMode]="'force'"
        [headerHeight]="30"
        [rowClass]="getRowClass"
        [rowHeight]="30"
        [selected]="selected"
        (select)='onSelect($event)'
        [scrollbarV]="true"
        [scrollbarH]="false"
        [selectionType]="'single'"
        [messages]="messages">
<!--        <ngx-datatable-column prop="id" [width]="30" [sortable]="false" [canAutoResize]="false"-->
<!--                              [draggable]="false" [resizeable]="false" headerClass="checkAll" cellClass="text-center">-->
<!--          <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"-->
<!--                       let-selectFn="selectFn">-->
<!--            <label class="i-checks i-checks-sm m-b-none">-->
<!--              <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"/><i></i>-->
<!--            </label>-->
<!--          </ng-template>-->
<!--          <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"-->
<!--                       let-onCheckboxChangeFn="onCheckboxChangeFn">-->
<!--            <label class="i-checks i-checks-sm m-b-none">-->
<!--              <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)"/><i></i>-->
<!--            </label>-->
<!--          </ng-template>-->
<!--        </ngx-datatable-column>-->
        <ngx-datatable-column prop="partner_name" name="거래처"></ngx-datatable-column>
        <ngx-datatable-column prop="name" name="제품명"></ngx-datatable-column>
        <ngx-datatable-column prop="size" name="규격"></ngx-datatable-column>
        <ngx-datatable-column prop="receiving_date" name="발주일자" [width]="120" [canAutoResize]="false" [resizeable]="false"
                              cellClass="text-center"></ngx-datatable-column>
        <ngx-datatable-column prop="order_qty" name="발주수량" [width]="100" [canAutoResize]="false" [resizeable]="false"
                              cellClass="text-right">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <div class="wrapper-xs active">{{ value | numberFormat }} &nbsp;</div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="price" name="단가" [width]="120" [canAutoResize]="false" [resizeable]="false"
                              cellClass="text-right">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <div class="wrapper-xs active">{{ value | numberFormat }} &nbsp;</div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="order_price" name="금액" [width]="150" [canAutoResize]="false" [resizeable]="false"
                              cellClass="text-right">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <div class="wrapper-xs active">{{ value | numberFormat }} &nbsp;</div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  
  
    <div class="panel-footer">
      <div class="row">
        <div class="col-sm-6 hidden-xs">
          <button (click)="openModal('cancel')" [disabled]="selectedCnt != 1" class="btn btn-sm btn-danger btn-addon">
            <i class="glyphicon glyphicon-minus"></i>입고취소
          </button>
        </div>
        <div class="col-sm-6 text-right text-center-xs">
          <button (click)="openModal('receiving')" [disabled]="selectedCnt != 1" class="btn btn-sm btn-primary btn-addon">
            <i class="glyphicon glyphicon-plus"></i>입고
          </button>
          <button class="btn btn-sm btn-success btn-addon" (click)="exportExcel(elSrv.EXPORT_EXCEL_MODE.LIST)">
            <i class="glyphicon glyphicon-download-alt"></i>엑셀
          </button>
        </div>
      </div>
    </div>
  </div>
  
  
  <div bsModal #StatusFormModal="bs-modal" id="change-status-confirm" class="modal fade" tabindex="-1" role="dialog"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="StatusFormModal.hide()"><span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{{ statusFormTitle }}</h4>
        </div>
        <div class="modal-body">
          <div class="text-center padder-v">
            {{ statusConfirmMsg }}
          </div>
        </div>
        <div class="modal-footer">
          <div class="text-center">
            <button type="button" (click)="deleteOrder(selectedId)" class="btn btn-danger btn-save">확인</button>
            <button type="button" class="btn btn-primary btn-cancel" (click)="StatusFormModal.hide()">취소</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <div bsModal #InputFormModal="bs-modal" id="input-form" class="modal fade" tabindex="-1" role="dialog"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <form [formGroup]="inputForm">
          <input type="hidden" formControlName="id"/>
          <input type="hidden" formControlName="material_id"/>
  
          <div class="modal-header">
            <button type="button" class="close" (click)="InputFormModal.hide()"><span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">{{ inputFormTitle }}</h4>
          </div>
          <div class="modal-body">
            <table>
              <tr>
                <th width="100px">
                  <label for="receiving_date">
                    입고일자<span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                  </label>
                </th>
                <td>
                  <input type="text" formControlName="receiving_date" id="receiving_date" bsDatepicker placement="bottom left" nextFocus="partner_name"
                         class="form-control input-sm w-sm"/>
                </td>
              </tr>
            
              <tr>
                <th>
                  <label for="partner_name">
                    거래처
                  </label>
                </th>
                <td>
                  <input formControlName="partner_name" id="partner_name"
                         readonly
                         class="input-sm form-control w-sm inline v-middle"/>
                  <input type="hidden" formControlName="partner_id" id="partner_id"/>
                </td>
                <th>
                  <label for="price">
                    단가
                  </label>
                </th>  
                <td>
                  <input readonly type="text" formControlName="price" id="price" nextFocus="result_type"
                         class="form-control input-sm w-sm text-right"/>
                </td>              
              </tr>
            
              <tr>
                <th>
                  <label for="order_qty">
                    발주수량
                  </label>
                </th>  
                <td>
                  <input type="text" readonly formControlName="order_qty" id="order_qty" class="form-control input-sm w-sm"/>
                </td>
                <th>
                  <label for="receiving_qty">
                    입고수량<span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                  </label>
                </th>  
                <td>
                  <input type="text" formControlName="receiving_qty" id="receiving_qty" (blur)="CalculOrderAmount($event)"
                         decimal [(ngModel)]="receiving_qty" nextFocus="storage"
                         class="form-control input-sm w-sm text-right"/>
                </td>
              </tr>
            
              <tr>
                <th>
                  <label for="name">
                    자재명
                  </label>
                </th>
                <td>
                  <input readonly type="text" formControlName="name" id="name" nextFocus="size"
                         class="form-control input-sm w-sm"/>
                </td>
                <th>
                  <label for="receiving_price">
                    금액
                  </label>
                </th>
                <td>
                  <input type="text" formControlName="receiving_price" id="receiving_price"
                         class="form-control input-sm w-sm text-right"/>
                </td>
              </tr>
            
              <tr>
                <th>
                  <label for="size">
                    규격
                  </label>
                </th>
                <td>
                  <input readonly type="text" formControlName="size" id="size" nextFocus="price_per_unit"
                         class="form-control input-sm w-sm text-right"/>
                </td>
                <th>
                  <label for="receiving_location_name">
                    입고장소
                  </label>
                </th>
                <td>
                  <input formControlName="receiving_location_name" id="receiving_location_name"
                         [typeahead]="storagePartners"
                         typeaheadOptionField="name"
                         [typeaheadOptionsLimit]="50"
                         [typeaheadScrollable]="true"
                         [typeaheadMinLength]="0"
                         (typeaheadOnSelect)="onSelectStoragePartner($event)"
                         placeholder="거래처명"
                         autocomplete="off"
                         class="input-sm form-control w-sm inline v-middle"/>
                  <input type="hidden" formControlName="receiving_location_id" id="receiving_location_id"/>
                </td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <div class="text-center">
              <button type="button" (click)="Save()" [disabled]="!inputForm.valid" class="btn btn-primary btn-save">완료
              </button>
              <button type="button" (click)="InputFormModal.hide()" class="btn btn-primary btn-cancel">취소</button>
            </div>
          </div>
        </form>
  
      </div>
    </div>
  </div>
  
  
  <div *ngIf="isLoadingProgress" class="loading-progress">
  
    <div class="sk-fading-circle">
      <div class="sk-circle1 sk-circle"></div>
      <div class="sk-circle2 sk-circle"></div>
      <div class="sk-circle3 sk-circle"></div>
      <div class="sk-circle4 sk-circle"></div>
      <div class="sk-circle5 sk-circle"></div>
      <div class="sk-circle6 sk-circle"></div>
      <div class="sk-circle7 sk-circle"></div>
      <div class="sk-circle8 sk-circle"></div>
      <div class="sk-circle9 sk-circle"></div>
      <div class="sk-circle10 sk-circle"></div>
      <div class="sk-circle11 sk-circle"></div>
      <div class="sk-circle12 sk-circle"></div>
    </div>
  
  </div>
