<div class="panel panel-default">

    <div class="panel-heading">
        <div class="text-center">
            <span class="h4 block m-t-sm">{{ panelTitle }}</span>
        </div>
        <div class="row">
            <div class="col-sm-6 m-b-xs">
                <form [formGroup]="searchForm">
                    <input formControlName="sch_partner_name"
                        [typeahead]="listPartners"
                        typeaheadOptionField="Alias"
                        [typeaheadOptionsLimit]="50"
                        [typeaheadScrollable]="true"
                        [typeaheadMinLength]="0"
                        (typeaheadOnSelect)="onSelectListPartner($event)"
                        placeholder="거래처명"
                        class="input-sm form-control w-sm inline v-middle" />
                    <button (click)="getAll()" class="btn btn-sm btn-default">검색</button>
                </form>
            </div>
            <div class="col-sm-6 text-right">
                <button class="btn btn-sm btn-success btn-addon" (click)="openModal('upload','')">
                <i class="glyphicon glyphicon-upload"></i>엑셀업로드
                </button>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <ngx-datatable
            [style.height.px] = gridHeight
            class="bootstrap"
            [rows]="rows"
            [columnMode]="'force'"
            [headerHeight]="30"
            [rowHeight]="30"
            [scrollbarV]="true"
            [scrollbarH]="false"
            [selected]="selected"
            [selectionType]="'checkbox'"
            [selectAllRowsOnPage]="false"
            (select)="onSelect($event)"
            [messages]="messages">
            <ngx-datatable-column prop="id" [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" headerClass="checkAll" cellClass="text-center">
                <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                    <label class="i-checks i-checks-sm m-b-none">
                        <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"/><i></i>
                    </label>
                </ng-template>
                <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
                    <label class="i-checks i-checks-sm m-b-none">
                        <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)"/><i></i>
                    </label>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="product_code" name="제품번호"></ngx-datatable-column>
            <ngx-datatable-column prop="drawing_no" name="도번"></ngx-datatable-column>
            <ngx-datatable-column prop="product_name" name="제품명"></ngx-datatable-column>
            <ngx-datatable-column prop="order_no" name="수주번호"></ngx-datatable-column>
            <ngx-datatable-column prop="poc_no" name="POC No"></ngx-datatable-column>
            <ngx-datatable-column prop="partner_code" name="거래처코드" [width]="1" [canAutoResize]="false" [resizeable]="false"></ngx-datatable-column>
            <ngx-datatable-column prop="partner_name" name="거래처명" [width]="1" [canAutoResize]="false" [resizeable]="false"></ngx-datatable-column>
            <ngx-datatable-column prop="delivery_date" name="납품일" cellClass="text-center"></ngx-datatable-column>
            <ngx-datatable-column prop="sales_type" name="판매구분" [width]="80" [canAutoResize]="false" [resizeable]="false" cellClass="text-center">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                    <select id="sales_type_{{row.id}}" class="input-sm form-control inline v-middle">
                        <option value="1" selected>정상</option>
                        <option value="2">반품</option>
                        <option value="3">불량</option>
                        <option value="4">LOSS</option>
                        <option value="5">소급</option>
                    </select>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="delivery_qty" name="납품수량" [width]="80" [canAutoResize]="false" [resizeable]="false" cellClass="text-right">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                    <span>{{ value | numberFormat }}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="sales_qty" name="판매수량" [width]="80" [canAutoResize]="false" [resizeable]="false" cellClass="text-right">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <input type="text" id="sales_qty_{{row.id}}" [value]="value | numberFormat" class="form-control input-sm inline text-right focus-color-change"
                           (blur)="changeQuantityPrice(rowIndex)" (keyup.enter)="onEnterSelectDeliveryQty(row, rowIndex)"
                    />
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="product_price" name="단가" [width]="80" [canAutoResize]="false" [resizeable]="false" cellClass="text-center">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <input type="text" id="product_price_{{row.id}}" [value]="value | numberFormat" class="form-control input-sm inline text-right focus-color-change"
                           (blur)="changeQuantityPrice(rowIndex)" (keyup.enter)="onEnterSelectDeliveryQty(row, rowIndex)"
                    />
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="sales_price" name="금액" cellClass="text-right">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <input type="text" id="sales_price_{{row.id}}" [value]="value | numberFormat" class="form-control input-sm inline text-right" />
                </ng-template>
            </ngx-datatable-column>
<!--            <ngx-datatable-column prop="is_completed" name="판매처리" cellClass="text-center">-->
<!--                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">-->
<!--                    <button (click)="openModal('completion', rowIndex)" class="btn btn-xs btn-primary">판매처리</button>-->
<!--                </ng-template>-->
<!--            </ngx-datatable-column>-->
            <ngx-datatable-column name="미판매수량" [width]="80" [canAutoResize]="false" [resizeable]="false" cellClass="text-right">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <input type="text" id="unsold_qty_{{row.id}}" class="form-control input-sm inline text-right" />
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>

	<footer class="panel-footer">
        <div class="row">
            <form [formGroup]="checkedInputForm">
            <table align="right">
            <tr>
                <th>
                    처리일자
                </th>
                <th>
                    판매수량
                </th>
                <th>
                    금액
                </th>
                <th></th>
            </tr>
            <tr>
                <td>
                    <input type="text"
                        formControlName="checked_sales_date"
                        id="checked_sales_date"
                        bsDatepicker
                        placement="top left"
                        class="input-sm form-control w-xs inline v-middle" />
                </td>
                <!-- <td>
                    <select formControlName="checked_sales_type" id="checked_sales_type" class="input-sm form-control inline w-xs v-middle">
                        <option value="1" selected>정상</option>
                        <option value="2">반품</option>
                        <option value="3">불량</option>
                        <option value="4">LOSS</option>
                        <option value="5">소급</option>
                    </select>
                </td> -->
                <td>
                    <input type="text" formControlName="checked_sales_qty" id="checked_sales_qty" value="{{ selectedTotalQty }}" class="form-control input-sm inline w-xs text-right" />
                </td>
                <td>
                    <input type="text" formControlName="checked_sales_price" id="checked_sales_price" value="{{ selectedTotalPrice }}" class="form-control input-sm inline w-xs text-right" />
                </td>
                <td>
                    <button class="btn btn-sm btn-black" [disabled]="!checkedInputForm.valid" (click)="SaveChecked()">판매처리</button>
                </td>
            </tr>
            </table>
            </form>
        </div>
	</footer>

</div>

<div bsModal #InputFormModal="bs-modal" id="input-form" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

            <form [formGroup]="inputForm">
            <input type="hidden" formControlName="delivery_no" id="delivery_no" value="" />
			<div class="modal-header">
				<button type="button" class="close" (click)="InputFormModal.hide()"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ salesCompletionTitle }}</h4>
			</div>
			<div class="modal-body">
                <div class="form-group">
                    <div class="row">
    					<label for="sales_date" class="col-lg-2 control-label">
                            처리일자<span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                        </label>
    					<div class="col-lg-10">
    						<input type="text"
                                formControlName="sales_date"
                                id="sales_date"
                                bsDatepicker
                                placement="bottom left"
                                class="form-control w-sm" />
    					</div>
                    </div>
				</div>

				<div class="form-group">
                    <div class="row">
    					<label class="col-lg-2 control-label">
                            거래처
                        </label>
    					<div class="col-lg-10">
                            {{ partnerName }}
    					</div>
                    </div>
				</div>

                <div class="form-group">
                    <div class="row">
                        <label for="sales_type" class="col-lg-2 control-label">
                            판매구분<span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                        </label>
                        <div class="col-lg-10">
                            <label class="i-checks">
                                <input type="radio" formControlName="sales_type" value="1">
                                <i></i>
                                정상
                            </label>
                            <label class="i-checks">
                                <input type="radio" formControlName="sales_type" value="2">
                                <i></i>
                                반품
                            </label>
                            <label class="i-checks">
                                <input type="radio" formControlName="sales_type" value="3">
                                <i></i>
                                불량
                            </label>
                            <label class="i-checks">
                                <input type="radio" formControlName="sales_type" value="4">
                                <i></i>
                                LOSS
                            </label>
                            <label class="i-checks">
                                <input type="radio" formControlName="sales_type" value="5">
                                <i></i>
                                소급
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
    					<label class="col-lg-2 control-label">
                            제품번호
                        </label>
    					<div class="col-lg-4">
    						{{ productCode }}
    					</div>
    					<label class="col-lg-2 control-label">
                            수주번호
                        </label>
    					<div class="col-lg-4">
    						{{ orderNo }}
    					</div>
                    </div>
				</div>

                <div class="form-group">
                    <div class="row">
    					<label class="col-lg-2 control-label">
                            POC No
                        </label>
    					<div class="col-lg-4">
    						{{ POCNO }}
    					</div>
    					<label class="col-lg-2 control-label">
                            납품일자
                        </label>
    					<div class="col-lg-4">
    						{{ deliveryDate }}
    					</div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label for="sales_qty" class="col-lg-2 control-label">
                            판매수량<span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                        </label>
                        <div class="col-lg-4">
                            <input type="text" formControlName="sales_qty" id="sales_qty" value="" class="form-control w-sm text-right" />
                        </div>
                    </div>
				</div>

                <div class="form-group">
                    <div class="row">
                        <label for="product_price" class="col-lg-2 control-label">
                            단가
                        </label>
                        <div class="col-lg-10">
                            <input type="text" formControlName="product_price" id="product_price" value="" class="form-control w-sm text-right" />
                        </div>
                    </div>
				</div>

                <div class="form-group">
                    <div class="row">
    					<label for="sales_price" class="col-lg-2 control-label">
                            금액
                        </label>
    					<div class="col-lg-10">
    						<input type="text" formControlName="sales_price" id="sales_price" value="" class="form-control w-sm text-right" />
    					</div>
                    </div>
				</div>

            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <button type="button" (click)="Save()" class="btn btn-danger btn-save">판매처리</button>
                    <button type="button" (click)="InputFormModal.hide()" class="btn btn-primary btn-cancel">취소</button>
                </div>
            </div>
            </form>

        </div>
    </div>
</div>

<div bsModal #PrintResultsModal="bs-modal" id="printResults" class="modal fade" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" id="print-target-comp-waiting">
        <div class="modal-content modal-content-print">
            <div class="modal-header">
                <button type="button" class="close hidden-print" (click)="PrintResultsModal.hide()"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">판매처리결과</h4>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-sm btn-info btn-addon btn-print hidden-print"
                        (click)="electronService.readyPrint('print-target-comp-waiting', '', electronService.PRINT_OPT.LANDSCAPE)">
                    <i
                            class="glyphicon glyphicon-print"></i>인쇄
                </button>

                <div class="m-b-sm">판매일자: {{ salesDate }}</div>

                <table class="table table-bordered table-condensed b-light" style="border-top:1px solid #eaeff0">
                    <thead>
                    <tr>
                        <!-- <th>도번</th> -->
                        <th>납품일자</th>
                        <th>거래처</th>
                        <th>제품번호</th>
                        <th>제품명</th>
                        <th>납품수량</th>
                        <th>판매수량</th>
                        <th>단가</th>
                        <th>금액</th>
                        <th>판매구분</th>
                        <th>수주번호</th>
                        <th>POC No</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let row of resultRows">
                        <!-- <td class="text-center">{{ row.drawing_no }}</td> -->
                        <td class="text-center">{{ row.delivery_date }}</td>
                        <td class="text-center">{{ row.partner_name }}</td>
                        <td class="text-center">{{ row.product_code }}</td>
                        <td class="text-center">{{ row.product_name }}</td>
                        <td class="text-right">
                            <span>{{ row.delivery_qty | numberFormat}}</span>
                        </td>
                        <td class="text-right">
                            <span>{{ row.sales_qty | numberFormat }}</span>
                        </td>
                        <td class="text-right">
                            <span>{{ row.product_price | numberFormat }}</span>
                        </td>
                        <td class="text-right">
                            <span>{{ row.sales_price | numberFormat }}</span>
                        </td>
                        <td class="text-center">
                            <span *ngIf="row.sales_type == 'NORMAL'">정상</span>
                            <span *ngIf="row.sales_type == 'RETURN'">반품</span>
                            <span *ngIf="row.sales_type == 'BAD'">불량</span>
                            <span *ngIf="row.sales_type == 'LOSS'">LOSS</span>
                            <span *ngIf="row.sales_type == 'RETRO'">소급</span>
                        </td>
                        <td class="text-center">{{ row.order_no }}</td>
                        <td class="text-center">{{ row.poc_no }}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<div bsModal #UploadFormModal="bs-modal" id="upload-form" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" (click)="UploadFormModal.hide()"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ uploadFormTitle }}</h4>
			</div>
			<div class="modal-body">
                <div class="text-center padder-v">
                    <input type="file" (change)="fileSelected($event)" placeholder="Upload file" accept=".xls,.xlsx" #uploadFileSrc />
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <button type="button" (click)="fileSelected($event)" class="btn btn-primary btn-save">업로드</button>
                    <button type="button" (click)="uploadFileSrc.value=''; UploadFormModal.hide()" class="btn btn-default btn-cancel">취소</button>
                    <button type="button" (click)="excelDown()" class="btn btn-success">다운로드</button>
                </div>
            </div>
        </div>
    </div>
</div>
