<div class="panel panel-default" id="print-main-list">

  <div class="panel-heading">
    <div class="text-center">
      <span class="h4 block m-b-sm">{{ panelTitle }}</span>
    </div>
    <div class="row">
      <div class="col-sm-8 m-b-xs pos-rlt">
        <form [formGroup]="searchForm">
          <label for="sch_yearmonth" class="control-label text-sm">작업년월</label>
          <input id="sch_yearmonth" type="text" formControlName="sch_yearmonth"
                 class="input-sm form-control w-xs inline v-middle"
                 bsDatepicker [bsConfig]="bsConfig" (bsValueChange)="onValueChange($event)"/>
          <label for="sch_prdline" class="m-l">작업라인</label>
          <select formControlName="sch_prdline" id="sch_prdline" (change)="getAll()"
                  class="input-sm form-control w-sm inline v-middle">
            <option *ngFor="let line of productionLines" value="{{ line.id }}">{{ line.line_no }}</option>
          </select>
        </form>
      </div>
<!--      <div class="col-sm-4 text-right hidden-print">-->
<!--        <button (click)="openModal('batchInsert')" class="btn btn-sm btn-success btn-addon">-->
<!--          <i class="glyphicon glyphicon-upload "></i>일괄입력-->
<!--        </button>-->
<!--        <button (click)="openModal('deleteAll')" class="btn btn-sm btn-danger btn-addon">-->
<!--          <i class="glyphicon glyphicon-trash"></i>일괄삭제-->
<!--        </button>-->
<!--      </div>-->
    </div>
  </div>
  <!-- 제목항상고정 -->
  <div class="panel-body">
    <ngx-datatable
            [style.height.px]=gridHeight
            class="bootstrap"
            [rows]="rows"
            [columnMode]="'force'"
            [headerHeight]="30"
            [rowHeight]="'100%'"
            [scrollbarV]="true"
            [scrollbarH]="false"
            [virtualization]="false"
            [selected]="selected"
            [selectionType]="'single'"
            (select)='onSelect($event)'
            [messages]="messages">
      <ngx-datatable-column prop="working_date" name="작업일자" [width]="80" [sortable]="false" cellClass="text-center"></ngx-datatable-column>
      <ngx-datatable-column prop="weekday" name="요일" [width]="50" [sortable]="false" cellClass="text-center">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span *ngIf="row.weekday == '토'" class="text-info">{{ row.weekday }}</span>
          <span *ngIf="row.weekday == '일'" class="text-danger">{{ row.weekday }}</span>
          <span *ngIf="row.weekday != '토' && row.weekday != '일'">{{ row.weekday }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="working_stime" name="시작시간" [sortable]="false" cellClass="text-center">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <div *ngIf="isEditTime(rowIndex)" style="margin-top: 5px">
            <timepicker class="custom_time_picker text-center"
                        [(ngModel)]="row.working_stime"
                        (ngModelChange)="calWorkTime(row)"
                        (focusout)="timePickerFocusOut($event)"
                        [showMeridian]="false" [showSpinners]="false"
                        [minuteStep]="10"></timepicker>
          </div>
          <div *ngIf="!isEditTime(rowIndex)">{{makeTimeToString(row.working_stime)}}</div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="working_etime" name="종료시간" [sortable]="false" cellClass="text-center">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <div *ngIf="isEditTime(rowIndex)" style="margin-top: 5px">
            <timepicker class="custom_time_picker text-center"
                        [(ngModel)]="row.working_etime"
                        (ngModelChange)="calWorkTime(row)"
                        (focusout)="timePickerFocusOut($event)"
                        [showMeridian]="false" [showSpinners]="false"
                        [minuteStep]="10"></timepicker>
          </div>
          <div *ngIf="!isEditTime(rowIndex)">{{makeTimeToString(row.working_etime)}}</div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="working_total_time" name="하루작업시간계" [sortable]="false" cellClass="text-center">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <div *ngIf="isEditTime(rowIndex)">
            <input type="text" id="working_total_time{{rowIndex+1}}" style="margin-top: 5px" value="{{row.total_work_time}}"
                   (keyup.enter)="totalWorkTimeFocusOut($event, row, value)" />
          </div>
          <div *ngIf="!isEditTime(rowIndex)">{{row.working_total_time}}</div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="id" name="수정&middot;삭제" cellClass="text-center"
                            [width]="100" [canAutoResize]="false" [resizeable]="false" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <div>
            <button (click)="runEditMode(rowIndex, row)" class="btn btn-xs btn-primary">
              <i class="glyphicon glyphicon-edit"></i>
            </button>
            <button (click)="runDeleteMode(rowIndex)" class="btn btn-xs btn-danger">
              <i class="glyphicon glyphicon-refresh"></i>
            </button>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>

  <footer class="panel-footer text-right hidden-print">
    <button (click)="Save()" class="btn btn-sm btn-primary btn-addon">
      <i class="glyphicon glyphicon-plus"></i>저장
    </button>
<!--    <button (click)="openModal('delete')" class="btn btn-sm btn-danger btn-addon">-->
<!--      <i class="glyphicon glyphicon-trash"></i>삭제-->
<!--    </button>-->
<!--    <button class="btn btn-sm btn-info btn-addon"-->
<!--            (click)="elSrv.readyPrint('print-main-list', elSrv.PRINT_MODE.WORKER)">-->
<!--      <i class="glyphicon glyphicon-print"></i>인쇄-->
<!--    </button>-->
<!--    <a href="" class="btn btn-sm btn-success btn-addon"><i class="glyphicon glyphicon-download-alt"></i>엑셀</a>-->
  </footer>
</div>

<div *ngIf="isLoadingProgress" class="loading-progress">

  <div class="sk-fading-circle">
    <div class="sk-circle1 sk-circle"></div>
    <div class="sk-circle2 sk-circle"></div>
    <div class="sk-circle3 sk-circle"></div>
    <div class="sk-circle4 sk-circle"></div>
    <div class="sk-circle5 sk-circle"></div>
    <div class="sk-circle6 sk-circle"></div>
    <div class="sk-circle7 sk-circle"></div>
    <div class="sk-circle8 sk-circle"></div>
    <div class="sk-circle9 sk-circle"></div>
    <div class="sk-circle10 sk-circle"></div>
    <div class="sk-circle11 sk-circle"></div>
    <div class="sk-circle12 sk-circle"></div>
  </div>

</div>
