<div class="panel panel-default" id="print-target-mio-comp">

    <div class="panel-heading">
        <div class="text-center">
            <span class="h4 block m-b-sm">{{ panelTitle }}</span>
        </div>
        <div class="row">
            <div class="col-sm-7 m-b-xs">
                <form [formGroup]="searchForm">
                    <label for="sch_sdate" class="control-label text-sm m-l">검색기간</label>
                    <input type="text" formControlName="sch_sdate" bsDatepicker placement="bottom left" class="input-sm form-control w-xs inline v-middle" id="sch_sdate" /> ~
                    <input type="text" formControlName="sch_edate" bsDatepicker placement="bottom left" class="input-sm form-control w-xs inline v-middle" id="sch_edate"/>
                    &nbsp;&nbsp;

                    <input type="text" formControlName="sch_material" placeholder="재질" class="input-sm form-control w-xs inline v-middle" id="sch_material" />
                    <input type="text" formControlName="sch_size" placeholder="규격" class="input-sm form-control w-xs inline v-middle" id="sch_size" />

                  <!--   <input formControlName="sch_partner_name"
                    [typeahead]="listPartners"
                    typeaheadOptionField="Alias"
                    [typeaheadOptionsLimit]="50"
                    [typeaheadScrollable]="true"
                    [typeaheadMinLength]="0"
                    (typeaheadOnSelect)="onSelectListPartner($event)"
                    placeholder="거래처명"
                    class="input-sm form-control w-sm inline v-middle" />
                    <input formControlName="sch_maker_name"
                    [typeahead]="listMakers"
                    typeaheadOptionField="CfgName"
                    [typeaheadOptionsLimit]="50"
                    [typeaheadScrollable]="true"
                    [typeaheadMinLength]="0"
                    (typeaheadOnSelect)="onSelectListMaker($event)"
                    placeholder="메이커명"
                    class="input-sm form-control w-sm inline v-middle" /> -->
                    
                    <button (click)="getAll()" class="btn btn-sm btn-default hidden-print">검색</button> 
                </form>
            </div>
            
             <!--<div class="col-sm-6 text-right">
               
                <button class="btn btn-sm btn-success btn-addon">
                <i class="glyphicon glyphicon-upload"></i>엑셀업로드
                </button>
                
            </div>-->
        </div>
    </div>

    <div class="panel-body">
        <ngx-datatable
            style="height:450px;"
            class="bootstrap"
            [rows]="rows"
            [columnMode]="'force'"
            [headerHeight]="30"
            [scrollbarV]="true"
            [virtualization]="false"
            [rowHeight]="30"
            [messages]="messages">
            <ngx-datatable-column prop="material" name="자재명" [canAutoResize]="true" [resizeable]="false" cellClass="text-right"></ngx-datatable-column>
            <ngx-datatable-column prop="size" name="규격" [width]="80" [canAutoResize]="false" [resizeable]="false" cellClass="text-right"></ngx-datatable-column>
            <ngx-datatable-column prop="balance" name="전기이월" [width]="150" [canAutoResize]="false" [resizeable]="false" cellClass="text-right">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                    <span>{{ value | numberFormat }}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="balance_amount" name="전기이월금액" [width]="150" [canAutoResize]="false" [resizeable]="false" cellClass="text-right">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                    <span>{{ value | numberFormat }}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="rcv_weight" name="입고수량" [width]="120" [canAutoResize]="false" [resizeable]="false" cellClass="text-right">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                    <span>{{ value | numberFormat }}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="order_amount" name="입고금액" [width]="120" [canAutoResize]="false" [resizeable]="false" cellClass="text-right">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                    <span>{{ value | numberFormat }}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="used_weight" name="투입수량" [width]="120" [canAutoResize]="false" [resizeable]="false" cellClass="text-right">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                    <span>{{ value | numberFormat }}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="used_amount" name="투입금액" [width]="120" [canAutoResize]="false" [resizeable]="false" cellClass="text-right">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                    <span>{{ value | numberFormat }}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="loss_weight" name="기타반출" [width]="150" [canAutoResize]="false" [resizeable]="false" cellClass="text-right">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                    <span>{{ value | numberFormat }}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="loss_amount" name="기타반출금액" [width]="150" [canAutoResize]="false" [resizeable]="false" cellClass="text-right">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                    <span>{{ value | numberFormat }}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="remaining_weight" name="재고수량" [width]="100" [canAutoResize]="false" [resizeable]="false" cellClass="text-right">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                    <span>{{ value | numberFormat }}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="remaining_amount" name="재고금액" [width]="120" [canAutoResize]="false" [resizeable]="false" cellClass="text-right">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                    <span>{{ value | numberFormat }}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="is_completed" name="내역" [width]="60" [canAutoResize]="false" [resizeable]="false" cellClass="text-center hidden-print">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <button data-toggle="modal" data-target="#input-form" (click)="openModal(row.id)" class="btn btn-xs btn-primary">내역</button>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
        <div class="table-responsive print-table">
            <table class="table table-bordered table-condensed b-light" style="border-top:1px solid #eaeff0">
            <tbody>
            <tr>
                <td class="text-center">계</td>
                <td [width]="80"></td>
                <td [width]="150" class="text-right"><!-- 총전기이월 -->
                    <span>{{ totalBalance | numberFormat }}</span>
                </td>
                <td [width]="150" class="text-right"><!-- 총전기이월금액 -->
                    <span>{{ totalBalanceAmount | numberFormat }}</span>
                </td>

                <td [width]="120" class="text-right"><!-- 총입고중량 -->
                    <span>{{ totalRcvWeight | numberFormat }}</span>
                </td>
                <td [width]="120" class="text-right"> <!-- 총입고금액 -->
                    <span>{{ totalOrderAmount | numberFormat }}</span>
                </td>
                <td [width]="120" class="text-right"><!-- 총투입중량 -->
                    <span>{{ totalUsedWeight | numberFormat }}</span>
                </td>
                <td [width]="120" class="text-right"><!-- 총투입금액 -->
                    <span>{{ totalUsedAmount | numberFormat }}</span>
                </td>

                <td [width]="150"></td> <!-- 기타반출 -->
                <td [width]="150"></td> <!-- 기타반출금액 -->

                <td [width]="100" class="text-right"><!-- 총재고중량 -->
                    <span>{{ totalWeight | numberFormat }}</span>
                </td>
                <td [width]="120" class="text-right"> <!-- 총재고금액 -->
                    <span>{{ totalRemaingAmount | numberFormat }}</span>
                </td>
                <td [width]="76"></td>
            </tr>
            </tbody>
            </table>
        </div>
    </div>

    <footer class="panel-footer hidden-print">
		<div class="row">
            <div class="col-sm-6 hidden-xs">
            </div>
            <div class="col-sm-6 text-right">
                <button class="btn btn-sm btn-info btn-addon"(click)="electronService.readyPrint('print-target-mio-comp', '', electronService.PRINT_OPT.LANDSCAPE)">
                    <i class="glyphicon glyphicon-print"></i>인쇄
                </button>
                <button class="btn btn-sm btn-success btn-addon" (click)="electronService.excelDL(false,'/materials/history/materials-in-out','원자재수불명세서.xlsx')"><i class="glyphicon glyphicon-download-alt"></i>엑셀</button>
    		</div>
        </div>
	</footer>
</div>

<div id="input-form" class="modal modal-xl-center fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-xl-center">
        
		<div class="modal-content modal-xl">

        <div id="print-target-material-inout" style="padding:20px;">
			<div class="modal-header">
				<button type="button" class="close hidden-print" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ inputFormTitle }}</h4>
			</div>
			<div class="modal-body">

				<input type="hidden" id="reservation_id" name="reservation_id" />
				<input type="hidden" id="goods_name" name="goods_name" />
				<input type="hidden" id="fare_per_person" name="fare_per_person" />


                <form [formGroup]="historyForm">
                <table class="table table-bordered view" style="text-align: center">
                    <tr>
                        <th>재질</th>
                        <td width="120px"><span >{{ detail_material }}</span></td>
                        <th>규격</th>
                        <td width="120px"><span>{{ detail_size }}</span></td>
                        <th>메이커</th>
                        <td width="120px">
                            <span>
                                <input formControlName="sch_maker_name"
                                [typeahead]="listMakers"
                                typeaheadOptionField="CfgName"
                                [typeaheadOptionsLimit]="50"
                                [typeaheadScrollable]="true"
                                [typeaheadMinLength]="0"
                                (typeaheadOnSelect)="onSelectListMaker($event)"
                                placeholder="메이커명"
                                class="input-sm form-control w-sm inline v-middle" />
                            </span>
                        </td>
                        <th>공급처</th>
                        <td class="hidden-print">
                            <span>
                                <input formControlName="sch_partner_name"
                                [typeahead]="listPartners"
                                typeaheadOptionField="Alias"
                                [typeaheadOptionsLimit]="50"
                                [typeaheadScrollable]="true"
                                [typeaheadMinLength]="0"
                                (typeaheadOnSelect)="onSelectListPartner($event)"
                                placeholder="거래처명"
                                class="input-sm form-control w-sm inline v-middle" />
                            </span>
                        </td>
                        <th>조회기간</th>
                        <td width="200px"><span>{{ detail_sch_sdate }} ~ {{ detail_sch_edate }}</span></td>
                    </tr>
                </table>
                </form>
    

                <ngx-datatable
                    style="min-height:120px;max-height:420px;"
                    class="bootstrap"
                    [rows]="detailrows"
                    [columnMode]="'force'"
                    [headerHeight]="30"
                    [rowHeight]="30"
                    [messages]="messages">
                    <ngx-datatable-column prop="process_date" name="일자" [width]="100" [canAutoResize]="false" [resizeable]="false" cellClass="text-center"></ngx-datatable-column>
                    <ngx-datatable-column prop="material" name="재질" [width]="75" [canAutoResize]="false" [resizeable]="false" cellClass="text-right"></ngx-datatable-column>
                    <ngx-datatable-column prop="size" name="규격" [width]="70" [canAutoResize]="false" [resizeable]="false" cellClass="text-right"></ngx-datatable-column>
                    <ngx-datatable-column prop="steel_maker" name="메이커"></ngx-datatable-column>
                    <ngx-datatable-column prop="partner_name" name="공급처"></ngx-datatable-column>
                    <ngx-datatable-column prop="ms_no" name="M.S No" [width]="200" [canAutoResize]="false" [resizeable]="false" cellClass="text-right"></ngx-datatable-column>
                    <!--<ngx-datatable-column prop="order_no" name="전기이월" [width]="70" [canAutoResize]="false" [resizeable]="false" cellClass="text-right"></ngx-datatable-column>-->
                    <ngx-datatable-column prop="rcv_weight" name="입고중량" [width]="70" [canAutoResize]="false" [resizeable]="false" cellClass="text-right">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                            <span *ngIf='value > 0'>{{ value | numberFormat }}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column prop="loss_weight" name="기타반출" [width]="70" [canAutoResize]="false" [resizeable]="false" cellClass="text-right">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                            <span *ngIf='value > 0'>{{ value | numberFormat }}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column prop="used_weight" name="투입(절단)중량" [width]="90" [canAutoResize]="false" [resizeable]="false" cellClass="text-right">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                            <span>{{ value | numberFormat }}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column prop="product_code" name="제품번호" [width]="90" [canAutoResize]="false" [resizeable]="false" cellClass="text-right"></ngx-datatable-column>
                    <ngx-datatable-column prop="quantity" name="제품수량" [width]="70" [canAutoResize]="false" [resizeable]="false" cellClass="text-right">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                            <span *ngIf='value > 0'>{{ value | numberFormat }}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column prop="poc_no" name="POC No" [width]="70" [canAutoResize]="false" [resizeable]="false" cellClass="text-center"></ngx-datatable-column>
                    <ngx-datatable-column prop="remaining_weight" name="재고중량" [width]="100" [canAutoResize]="false" [resizeable]="false" cellClass="text-right">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                            <span *ngIf='value > 0'>{{ value | numberFormat }}</span>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
                
                <div class="table-responsive">
            		<table class="table table-bordered table-condensed b-light" style="border-top:1px solid #eaeff0" >
            		<tbody>
            		<tr>
                        <td width="240px" class="text-center" >계</td>
                        <td></td>
                        <td width="71px;"></td>
                        <td width="71px;"></td>
                        <td width="71px" class="text-right" style="padding-right: 10px"  >
                            <span>{{ detailsums_total_rcv_weight | numberFormat }}</span>
                        </td>
                        <td width="71px" class="text-right" style="padding-right: 10px">
                            <span>{{ detailsums_total_loss_weight | numberFormat }}</span>
                        </td>
                        <td width="88px" class="text-right" style="padding-right: 10px">
                            <span>{{ detailsums_total_used_weight | numberFormat }}</span>
                        </td>
                        <td width="88px" class="text-right"></td>
                        <td width="71px"></td>
                        <td width="71px"></td>
                        <td width="98px" class="text-right" style="padding-right: 10px">
                            <span>{{ detailsums_total_remaining_weight | numberFormat }}</span>
                        </td>
            		</tr>
            		</tbody>
            		</table>
            	</div>
            </div>
            
            </div>

            <div class="modal-footer">
				<div class="text-center">
                    <button type="button" class="btn btn-info" (click)="electronService.readyPrint('print-target-material-inout', '', electronService.PRINT_OPT.LANDSCAPE)">인쇄</button>
                    <button type="button" class="btn btn-success">엑셀</button>
                    <button type="button" class="btn btn-primary btn-cancel" data-dismiss="modal" aria-label="Close">취소</button>
				</div>
            </div>

		</div>
	</div>
</div>
