<div class="panel panel-default">

    <div class="panel-heading">
      <div class="text-center">
        <span class="h4 block m-b-sm">{{ panelTitle }}</span>
      </div>
      <div class="row">
        <div class="col-sm-6 m-b-xs">
          <form [formGroup]="searchForm">
          <label for="sch_order_no" class="control-label text-sm">수주번호</label>
          <input type="text" formControlName="sch_order_no" id="sch_order_no"
                 class="input-sm form-control w-sm inline v-middle" placeholder="수주번호" />
          <button (click)="getAll()" class="btn btn-sm btn-default">검색</button>
          </form>
        </div>
        <div class="col-sm-6 text-right">
          <!--
          <button class="btn btn-sm btn-success btn-addon">
          <i class="glyphicon glyphicon-upload"></i>엑셀업로드
          </button>
          -->
        </div>
      </div>
    </div>

    <div class="panel-body">
      <div>[판매]</div>
      <ngx-datatable
              [style.height.px]=gridHeight
              class="bootstrap"
              [rows]="rowsSales"
              [columnMode]="'force'"
              [headerHeight]="30"
              [rowHeight]="30"
              [scrollbarV]="true"
              [scrollbarH]="false"
              [summaryRow]="true"
              [summaryPosition]="'bottom'"
              [summaryHeight]="35"
              [messages]="messages">
        <ngx-datatable-column prop="order_no" name="수주번호" [width]="150" [canAutoResize]="false"
                              [resizeable]="false" cellClass="text-center" [summaryTemplate]="total_label_sale">
          <ng-template #total_label_sale let-row="row" let-value="value">
            <div style="margin-top: 6px; text-align: center"><span><b>판매 합계</b></span></div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="partner_name" name="거래처"></ngx-datatable-column>
        <ngx-datatable-column prop="name" name="제품명"></ngx-datatable-column>
        <ngx-datatable-column prop="type_name" name="규격"></ngx-datatable-column>
        <ngx-datatable-column prop="input_date" name="판매일" [width]="120" [canAutoResize]="false"
                              [resizeable]="false" cellClass="text-center"></ngx-datatable-column>
        <ngx-datatable-column prop="qty" name="수량" [width]="100" [canAutoResize]="false"
                              [resizeable]="false" cellClass="text-right" [summaryTemplate]="total_sale_qty">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span>{{ value | numberFormat }}</span>
          </ng-template>
          <ng-template #total_sale_qty let-row="row" let-value="value">
            <span style="margin-top: 6px"><b>{{ totalSale() | numberFormat }}</b></span>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
      <div style="margin-top: 10px">[납품]</div>
      <ngx-datatable
            [style.height.px]=gridHeight
            class="bootstrap"
            [rows]="rowsDelivery"
            [columnMode]="'force'"
            [headerHeight]="30"
            [rowHeight]="30"
            [scrollbarV]="true"
            [scrollbarH]="false"
            [summaryRow]="true"
            [summaryPosition]="'bottom'"
            [summaryHeight]="35"
            [messages]="messages">
        <ngx-datatable-column prop="order_no" name="수주번호" [width]="150" [canAutoResize]="false"
                              [resizeable]="false" cellClass="text-center" [summaryTemplate]="total_label_delivery">
          <ng-template #total_label_delivery let-row="row" let-value="value">
            <div style="margin-top: 6px; text-align: center"><span><b>납품 합계</b></span></div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="partner_name" name="거래처"></ngx-datatable-column>
        <ngx-datatable-column prop="name" name="제품명"></ngx-datatable-column>
        <ngx-datatable-column prop="type_name" name="규격"></ngx-datatable-column>
        <ngx-datatable-column prop="input_date" name="판매일" [width]="120" [canAutoResize]="false"
                              [resizeable]="false" cellClass="text-center"></ngx-datatable-column>
        <ngx-datatable-column prop="qty" name="수량" [width]="100" [canAutoResize]="false"
                              [resizeable]="false" cellClass="text-right" [summaryTemplate]="total_delivery_qty">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span>{{ value | numberFormat }}</span>
          </ng-template>
          <ng-template #total_delivery_qty let-row="row" let-value="value">
            <span style="margin-top: 6px"><b>{{ totalDelivery() | numberFormat }}</b></span>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
      <div style="margin-top: 10px">[자재]</div>
      <ngx-datatable
              [style.height.px]=gridHeight
              class="bootstrap"
              [rows]="rowsMaterial"
              [columnMode]="'force'"
              [headerHeight]="30"
              [rowHeight]="30"
              [selected]="selected"
              [scrollbarV]="true"
              [scrollbarH]="false"
              [summaryRow]="true"
              [summaryPosition]="'bottom'"
              [summaryHeight]="35"
              [messages]="messages">
        <ngx-datatable-column prop="order_no" name="수주번호" [width]="150" [canAutoResize]="false"
                              [resizeable]="false" cellClass="text-center" [summaryTemplate]="total_label_material">
          <ng-template #total_label_material let-row="row" let-value="value">
            <div style="margin-top: 6px; text-align: center"><span><b>자재 합계</b></span></div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="partner_name" name="거래처"></ngx-datatable-column>
        <ngx-datatable-column prop="name" name="자재명"></ngx-datatable-column>
        <ngx-datatable-column prop="type_name" name="규격"></ngx-datatable-column>
        <ngx-datatable-column prop="input_date" name="입고일" [width]="120" [canAutoResize]="false"
                              [resizeable]="false" cellClass="text-center"></ngx-datatable-column>
        <ngx-datatable-column prop="qty" name="입고수량" [width]="100" [canAutoResize]="false"
                              [resizeable]="false" cellClass="text-right" [summaryTemplate]="total_material_input">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span>{{ value | numberFormat }}</span>
          </ng-template>
          <ng-template #total_material_input let-row="row" let-value="value">
            <span style="margin-top: 6px"><b>{{ totalMaterial('qty') | numberFormat }}</b></span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="insert_qty" name="투입수량" [width]="100" [canAutoResize]="false"
                              [resizeable]="false" cellClass="text-right" [summaryTemplate]="total_material_insert">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span>{{ value | numberFormat }}</span>
          </ng-template>
          <ng-template #total_material_insert let-row="row" let-value="value">
            <span style="margin-top: 6px"><b>{{ totalMaterial('insert_qty') | numberFormat }}</b></span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="remaining_qty" name="잔여수량" [width]="100" [canAutoResize]="false"
                              [resizeable]="false" cellClass="text-right" [summaryTemplate]="total_material_remain">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span>{{ value | numberFormat }}</span>
          </ng-template>
          <ng-template #total_material_remain let-row="row" let-value="value">
            <span style="margin-top: 6px"><b>{{ totalMaterial('remaining_qty') | numberFormat }}</b></span>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
  </div>

    <footer class="panel-footer">
      <div class="row">
        <div class="col-sm-6 hidden-xs">
        </div>
        <div class="col-sm-6 text-right">
<!--          <button class="btn btn-sm btn-info btn-addon"><i class="glyphicon glyphicon-print"></i>인쇄</button>-->
<!--          <button class="btn btn-sm btn-success btn-addon"><i class="glyphicon glyphicon-download-alt"></i>엑셀</button>-->
        </div>
      </div>
    </footer>
  </div>
