<div class="panel panel-default">

    <div class="panel-heading">
        <div class="text-center">
            <span class="h4 block m-b-sm">{{ panelTitle }}</span>
        </div>
        <div class="row">
            <div class="col-sm-6 m-b-xs">
                <label for="passenger_phone" class="control-label text-sm">수주번호</label>
                <input type="text" class="input-sm form-control w-xs inline v-middle m-r" />
                <label for="passenger_phone" class="control-label text-sm m-l">기간</label>
                <input type="text" class="input-sm form-control w-xs inline v-middle" /> ~
                <input type="text" class="input-sm form-control w-xs inline v-middle" />
                <button class="btn btn-sm btn-default">검색</button>
            </div>
            <div class="col-sm-6 text-right">
                <!--
                <button class="btn btn-sm btn-success btn-addon">
                <i class="glyphicon glyphicon-upload"></i>엑셀업로드
                </button>
                -->
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="table-responsive">
            <table class="LOT-Table">
            <thead>
            <tr>
                <th width="62px">판매</th>
                <th width="92px">POC NO</th>
                <th width="100px">수주번호</th>
                <th width="100px">거래처</th>
                <th width="100px">제품번호</th>
                <th width="100px">품명</th>
                <th width="100px">도번</th>
                <th width="80px">판매일</th>
                <th width="60px">수량</th>
                <th width="80px">납품일</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td rowspan="4"></td>
                <td>160721-011</td>
                <td></td>
                <td>셰플(전주)</td>
                <td>207-033</td>
                <td>플랜지</td>
                <td>607082</td>
                <td class="text-center">16-07-31</td>
                <td class="text-right">2,500</td>
                <td class="text-center">16-07-12</td>
            </tr>
            <tr>
                <td>160721-011</td>
                <td></td>
                <td>셰플(전주)</td>
                <td>207-033</td>
                <td>플랜지</td>
                <td>607082</td>
                <td class="text-center">16-07-31</td>
                <td class="text-right">2,500</td>
                <td class="text-center">16-07-12</td>
            </tr>
            <tr>
                <td>160721-011</td>
                <td></td>
                <td>셰플(전주)</td>
                <td>207-033</td>
                <td>플랜지</td>
                <td>607082</td>
                <td class="text-center">16-07-31</td>
                <td class="text-right">2,500</td>
                <td class="text-center">16-07-12</td>
            </tr>
            <tr>
                <td class="text-center">계</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-right">5,510</td>
                <td></td>
            </tr>
            </tbody>
            </table>

            <table class="LOT-Table">
            <thead>
            <tr>
                <th width="62px">납품</th>
                <th width="92px">POC NO</th>
                <th width="100px"></th>
                <th width="100px">거래처</th>
                <th width="100px">제품번호</th>
                <th width="100px">품명</th>
                <th width="100px">도번</th>
                <th width="80px">판매일</th>
                <th width="60px">수량</th>
                <th width="80px">납품일</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td rowspan="4"></td>
                <td>160721-011</td>
                <td></td>
                <td>셰플(전주)</td>
                <td>207-033</td>
                <td>플랜지</td>
                <td>607082</td>
                <td></td>
                <td class="text-right">2,500</td>
                <td class="text-center">16-07-12</td>
            </tr>
            <tr>
                <td>160721-011</td>
                <td></td>
                <td>셰플(전주)</td>
                <td>207-033</td>
                <td>플랜지</td>
                <td>607082</td>
                <td></td>
                <td class="text-right">2,500</td>
                <td class="text-center">16-07-12</td>
            </tr>
            <tr>
                <td>160721-011</td>
                <td></td>
                <td>셰플(전주)</td>
                <td>207-033</td>
                <td>플랜지</td>
                <td>607082</td>
                <td></td>
                <td class="text-right">2,500</td>
                <td class="text-center">16-07-12</td>
            </tr>
            <tr>
                <td class="text-center">계</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-right">5,510</td>
                <td></td>
            </tr>
            </tbody>
            </table>

            <table class="LOT-Table">
            <thead>
            <tr>
                <th width="62px">열처리</th>
                <th width="92px">POC NO</th>
                <th width="100px"></th>
                <th width="100px">거래처</th>
                <th width="100px">제품번호</th>
                <th width="100px">품명</th>
                <th width="100px">도번</th>
                <th width="80px">판매일</th>
                <th width="60px">수량</th>
                <th width="80px">입고일</th>
                <th width="86px">열처리방법</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td rowspan="2"></td>
                <td>160721-011</td>
                <td></td>
                <td>태싱</td>
                <td>207-033</td>
                <td>플랜지</td>
                <td>607082</td>
                <td></td>
                <td class="text-right">5,510</td>
                <td class="text-center">16-07-10</td>
                <td class="text-center">NR</td>
            </tr>
            <tr>
                <td class="text-center">계</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-right">5,510</td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
            </table>

            <table class="LOT-Table">
            <thead>
            <tr>
                <th width="62px">단조</th>
                <th width="92px">POC NO</th>
                <th width="100px"></th>
                <th width="100px"></th>
                <th width="100px">제품번호</th>
                <th width="100px">품명</th>
                <th width="100px">도번</th>
                <th width="80px"></th>
                <th width="60px">수량</th>
                <th width="80px">작업일</th>
                <th width="86px">라인</th>
                <th width="80px">작업자</th>
                <th width="80px">주야</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td rowspan="4"></td>
                <td>160721-011</td>
                <td></td>
                <td></td>
                <td>207-033</td>
                <td>플랜지</td>
                <td>607082</td>
                <td></td>
                <td class="text-right">1,000</td>
                <td class="text-center">16-07-08</td>
                <td class="text-center">3호기</td>
                <td class="text-center">허상권</td>
                <td class="text-center">주</td>
            </tr>
            <tr>
                <td>160721-011</td>
                <td></td>
                <td></td>
                <td>207-033</td>
                <td>플랜지</td>
                <td>607082</td>
                <td></td>
                <td class="text-right">1,200</td>
                <td class="text-center">16-07-08</td>
                <td class="text-center">3호기</td>
                <td class="text-center">신상우</td>
                <td class="text-center">야</td>
            </tr>
            <tr>
                <td>160721-012</td>
                <td></td>
                <td></td>
                <td>207-033</td>
                <td>플랜지</td>
                <td>607082</td>
                <td></td>
                <td class="text-right">1,500</td>
                <td class="text-center">16-07-09</td>
                <td class="text-center">3호기</td>
                <td class="text-center">김성기</td>
                <td class="text-center">주</td>
            </tr>
            <tr>
                <td>160721-013</td>
                <td></td>
                <td></td>
                <td>207-033</td>
                <td>플랜지</td>
                <td>607082</td>
                <td></td>
                <td class="text-right">1,810</td>
                <td class="text-center">16-07-09</td>
                <td class="text-center">3호기</td>
                <td class="text-center">박철진</td>
                <td class="text-center">야</td>
            </tr>
            <tr>
                <td class="text-center">계</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-right">5,510</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
            </table>

            <table class="LOT-Table">
            <thead>
            <tr>
                <th width="62px">절단</th>
                <th width="92px">POC NO</th>
                <th width="100px">M.S NO</th>
                <th width="100px"></th>
                <th width="100px">제품번호</th>
                <th width="100px">품명</th>
                <th width="100px">도번</th>
                <th width="80px">절단일</th>
                <th width="60px">수량</th>
                <th width="80px"></th>
                <th width="86px">작업자</th>
                <th width="80px">재질</th>
                <th width="80px">규격</th>
                <th width="80px">절단중량</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td rowspan="3"></td>
                <td>160721-011</td>
                <td>A234670-0</td>
                <td></td>
                <td>207-033</td>
                <td>플랜지</td>
                <td>607082</td>
                <td>16-07-07</td>
                <td class="text-right">2,550</td>
                <td class="text-center"></td>
                <td class="text-center">김형태</td>
                <td class="text-center">STB2</td>
                <td class="text-center">Φ70</td>
                <td class="text-center">1785</td>
            </tr>
            <tr>
                <td>160721-011</td>
                <td>A234670-0</td>
                <td></td>
                <td>207-033</td>
                <td>플랜지</td>
                <td>607082</td>
                <td>16-07-07</td>
                <td class="text-right">3,000</td>
                <td class="text-center"></td>
                <td class="text-center">김형태</td>
                <td class="text-center">STB2</td>
                <td class="text-center">Φ70</td>
                <td class="text-center">1785</td>
            </tr>
            <tr>
                <td class="text-center">계</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-right">5,510</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
            </table>

            <table class="LOT-Table">
            <thead>
            <tr>
                <th width="62px">원재</th>
                <th width="92px">POC NO</th>
                <th width="100px">M.S NO</th>
                <th width="100px">재질</th>
                <th width="100px">규격</th>
                <th width="100px">메이커</th>
                <th width="100px">거래처</th>
                <th width="80px">절단일</th>
                <th width="60px">수량</th>
                <th width="80px">입고일</th>
                <th width="86px">입고중량</th>
                <th width="80px">제품번호</th>
                <th width="80px">절단중량</th>
                <th width="80px">잔여중량</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td rowspan="4"></td>
                <td>160626-057</td>
                <td>A234670-0</td>
                <td>STB2</td>
                <td>Φ70</td>
                <td>세화특수강</td>
                <td>동명산업</td>
                <td>16-06-27</td>
                <td class="text-right">3,500</td>
                <td class="text-center">16-06-25</td>
                <td class="text-right">8,950</td>
                <td class="text-center">003-028</td>
                <td class="text-right">4,650</td>
                <td class="text-right">4,300</td>
            </tr>
            <tr>
                <td>160721-011</td>
                <td>A234670-0</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>16-07-07</td>
                <td class="text-right">2,550</td>
                <td></td>
                <td></td>
                <td class="text-center">207-033</td>
                <td class="text-right">1,785</td>
                <td class="text-right">2,515</td>
            </tr>
            <tr>
                <td>160721-011</td>
                <td>A234670-0</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>16-07-07</td>
                <td class="text-right">3,000</td>
                <td></td>
                <td></td>
                <td class="text-center">207-033</td>
                <td class="text-right">1,785</td>
                <td class="text-right">2,515</td>
            </tr>
            <tr>
                <td class="text-center">계</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-right">5,550</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
            </table>
        </div>
    </div>

    <footer class="panel-footer">
		<div class="row">
            <div class="col-sm-6 hidden-xs">
            </div>
            <div class="col-sm-6 text-right">
                <button class="btn btn-sm btn-info btn-addon"><i class="glyphicon glyphicon-print"></i>인쇄</button>
                <button class="btn btn-sm btn-success btn-addon"><i class="glyphicon glyphicon-download-alt"></i>엑셀</button>
    		</div>
        </div>
	</footer>
</div>
