<div class="panel panel-default">

    <div class="panel-heading">
        <div class="text-center">
            <span class="h4 block m-b-sm">{{ panelTitle }}</span>
        </div>
        <div class="row">
            <div class="col-sm-8 m-b-xs pos-rlt">
                <form [formGroup]="searchForm">
                <input type="text" formControlName="sch_order_no" id="sch_order_no" (keyup)="updateFilter($event)" class="input-sm form-control w-sm inline v-middle" placeholder="수주번호" />
                <button (click)="getAll()" class="btn btn-sm btn-default">검색</button>
                </form>
            </div>
            <div class="col-sm-4 text-right">
                <!-- <button class="btn btn-sm btn-success btn-addon" data-toggle="modal" data-target="#upload-form" (click)="openModal('upload','')">
                <i class="glyphicon glyphicon-upload"></i>엑셀업로드
                </button> -->
            </div>
        </div>
    </div>

    <div class="panel-body">
        <ngx-datatable
            [style.height.px] = gridHeight
            class="bootstrap"
            [rows]="rows"
            [columnMode]="'force'"
            [headerHeight]="30"
            [rowHeight]="30"
            [scrollbarV]="true"
            [scrollbarH]="false"
            [selected]="selected"
            [selectionType]="'single'"
            (select)='onSelect($event)'
            [messages]="messages">
            <ngx-datatable-column prop="order_no" name="수주번호" cellClass="text-center"></ngx-datatable-column>
            <ngx-datatable-column prop="product_name" name="제품명"></ngx-datatable-column>
            <ngx-datatable-column prop="product_type" name="규격"></ngx-datatable-column>
        </ngx-datatable>
    </div>

    <footer class="panel-footer">
		<div class="row">
			<div class="col-sm-6 hidden-xs">
                <!-- <button class="btn btn-sm btn-danger btn-addon" data-toggle="modal" data-target="#change-status-confirm" (click)="openModal('delete','selected')">
                    <i class="glyphicon glyphicon-trash"></i>삭제
                </button> -->
            </div>
            <div class="col-sm-6 text-right text-center-xs">
                <button (click)="openModal('create', '')" [disabled]="!selectedId" class="btn btn-sm btn-primary btn-addon">
                    <i class="glyphicon glyphicon-plus"></i>입력
                </button>
                <!-- <a href="" class="btn btn-sm btn-info btn-addon"><i class="glyphicon glyphicon-print"></i>인쇄</a>
                <a href="" class="btn btn-sm btn-success btn-addon"><i class="glyphicon glyphicon-download-alt"></i>엑셀</a> -->
    		</div>
        </div>
	</footer>
</div>

<div bsModal #InputFormModal="bs-modal" id="input-form" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" style="width: 300px;">
		<div class="modal-content">

            <form [formGroup]="inputForm">
            <input type="hidden" formControlName="production_qty" id="production_qty"/>
			<div class="modal-header">
				<button type="button" class="close" (click)="InputFormModal.hide()"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ inputFormTitle }}</h4>
			</div>
			<div class="modal-body">
                <table>
                    <tr>
                        <th width="100px">
                            <input type="hidden" formControlName="sales_orders_detail_id" id="sales_orders_detail_id" />
                            <label for="production_date">
                                생산일자 <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                            </label>
                        </th>
                        <td>
                            <input formControlName="production_date" id="production_date"
                                [typeahead]="productionDate"
                                typeaheadOptionField="production_date"
                                [typeaheadOptionsLimit]="50"
                                [typeaheadScrollable]="true"
                                [typeaheadMinLength]="0"
                                (typeaheadOnSelect)="onSelectInputproductionDate($event)"
                                placeholder="생산일자"
                                class="input-sm form-control w-sm inline v-middle" />
                            <input type="hidden" formControlName="assembly_performance_id" id="assembly_performance_id" />
                        </td>
                    </tr>

                    <tr>
                        <th>
                            <label for="order_no">
                                수주번호
                            </label>
                        </th>
                        <td>
                            <input type="text" formControlName="order_no" id="order_no" class="form-control w-sm" />
                        </td>
                    </tr>

                    <tr>
                        <th>
                            <label for="product_name">
                                제품명
                            </label>
                        </th>
                        <td>
                            <input type="text" formControlName="product_name" id="product_name" class="form-control w-sm" />
                        </td>
                    </tr>

                    <tr>
                        <th>
                            <label for="product_type">
                                규격
                            </label>
                        </th>
                        <td>
                            <input type="text" formControlName="product_type" id="product_type" class="form-control w-sm" />
                        </td>
                    </tr>

                    <tr>
                        <th>
                            <label for="material_name">
                                자재명 <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                            </label>
                        </th>
                        <td>
                            <input formControlName="material_name" id="material_name"
                            [typeahead]="inputMaterials"
                            typeaheadOptionField="material_name"
                            [typeaheadOptionsLimit]="50"
                            [typeaheadScrollable]="true"
                            [typeaheadMinLength]="0"
                            (typeaheadOnSelect)="onSelectInputMaterial($event)"
                            placeholder="자재명"
                            class="input-sm form-control w-sm inline v-middle" />
                        <input type="hidden" formControlName="material_id" id="material_id" />
                        </td>
                    </tr>

                    <tr>
                        <th>
                            <label for="qty">
                                불량수량 <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                            </label>
                        </th>
                        <td>
                            <input type="text" (blur)="addCommaQty()" formControlName="qty" id="qty" class="form-control w-sm" />
                        </td>
                    </tr>

                    <tr>
                        <th>
                            <label for="defect_content">
                                불량내용 <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                            </label>
                        </th>
                        <td>
                            <input formControlName="defect_content" id="defect_content"
                            [typeahead]="defectContent"
                            typeaheadOptionField="set_value"
                            [typeaheadOptionsLimit]="50"
                            [typeaheadScrollable]="true"
                            [typeaheadMinLength]="0"
                            (typeaheadOnSelect)="onSelectDefectContent($event)"
                            placeholder="불량내용"
                            class="input-sm form-control w-sm inline v-middle" />
                        <input type="hidden" formControlName="defect_content_id" id="defect_content_id" />
                        </td>
                    </tr>

                    <tr>
                        <th>
                            <label for="etc">
                                기타내용
                            </label>
                        </th>
                        <td *ngIf="etcMode==true;else readonly">
                            <input type="text" formControlName="etc" id="etc" class="form-control w-sm" />
                        </td>
                        <ng-template #readonly>
                        <td>
                            <input readonly type="text" formControlName="etc" id="etc" class="form-control w-sm" />
                        </td>
                        </ng-template>
                    </tr>
                </table>
			</div>

            <div class="modal-footer">
				<div class="text-center">
					<button type="button" (click)="save()" [disabled]="!inputForm.valid" class="btn btn-primary btn-save">완료</button>
                    <button type="button" (click)="InputFormModal.hide()" class="btn btn-primary btn-cancel">
                        <span>취소</span>
                    </button>
				</div>
            </div>
            </form>

		</div>
	</div>
</div>


<div *ngIf="isLoadingProgress" class="loading-progress">

    <div class="sk-fading-circle">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
    </div>

</div>
