<div class="panel panel-default">

    <div class="panel-heading">
        <div class="text-center">
            <span class="h4 block m-b-sm">{{ panelTitle }}</span>
        </div>
        <div class="row">
            <div class="col-sm-6 m-b-xs">
                <!-- <form [formGroup]="searchForm"> -->
                    <!-- <label for="sch_yearmonth" class="control-label text-sm">년월</label>
                    <input type="text" id="sch_yearmonth" formControlName="sch_yearmonth"
                           class="input-sm form-control w-xs inline v-middle"
                           bsDatepicker [bsConfig]="bsConfig" (bsValueChange)="onValueChange($event)" />
                    <button (click)="loadData()" class="btn btn-sm btn-default">검색</button> -->
                <!-- </form> -->
            </div>
            <div class="col-sm-6 text-right">
                <!-- 목표: -->
                <!-- <span *ngIf="PlannedSaleAmount > 0">{{ PlannedSaleAmount *1000000 | numberFormat}} 원</span> -->
                <!-- <button *ngIf="PlannedSaleAmount > 0"  data-toggle="modal" data-target="#input-form" (click)="openModal('edit')" class="btn btn-sm btn-default">수정</button>
                <button *ngIf="PlannedSaleAmount == 0"  data-toggle="modal" data-target="#input-form" (click)="openModal('write')" class="btn btn-sm btn-default">등록</button> -->
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="chart-container">
            <label style="font-size: 20px;">매출현황</label>
            <span style="float: right;">매출목표: 2,400,000 &nbsp; 예상매출:2,360,000 &nbsp; 목표달성율: 98%</span>
            <canvas baseChart width="650" height="240"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
            </canvas>
            <table class="table table-bordered table-condensed b-light">
                <tr>
                    <th width="80px">구분</th>
                    <td>1 월</td>
                    <td>2 월</td>
                    <td>3 월</td>
                    <td>4 월</td>
                    <td>5 월</td>
                    <td>6 월</td>
                    <td>7 월</td>
                    <td>8 월</td>
                    <td>9 월</td>
                    <td>10 월</td>
                    <td>11 월</td>
                    <td>12 월</td>
                </tr>
                <tr>
                    <th>월매출</th>
                    <td>220</td>
                    <td>90</td>
                    <td>280</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>매출누계</th>
                    <td>220</td>
                    <td>310</td>
                    <td>590</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="chart-container" style="margin-left: 5px;">
            <label style="font-size: 20px;">불량율</label>
            <!-- <span style="float: right;">매출목표: 2,400,000 &nbsp; 예상매출:2,360,000 &nbsp; 목표달성율: 98%</span> -->
            <canvas baseChart width="650" height="240"
                [datasets]="lineChartData_2"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
            </canvas>
            <table class="table table-bordered table-condensed b-light">
                <tr>
                    <th width="80px">구분</th>
                    <td>1월</td>
                    <td>2월</td>
                    <td>3월</td>
                    <td>4월</td>
                    <td>5월</td>
                    <td>6월</td>
                    <td>7월</td>
                    <td>8월</td>
                    <td>9월</td>
                    <td>10월</td>
                    <td>11월</td>
                    <td>12월</td>
                    <td>합계</td>
                </tr>
                <tr>
                    <th>생산수량</th>
                    <td>300</td>
                    <td>200</td>
                    <td>300</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>800</td>
                </tr>
                <tr>
                    <th>불량수량</th>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>3</td>
                </tr>
                <tr>
                    <th>불량율</th>
                    <td>0.33%</td>
                    <td>0.50%</td>
                    <td>0.33%</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>0.38%</td>
                </tr>
            </table>
        </div>
        <div class="chart-container">
            <label style="font-size: 20px;">제품별재고현황</label>
            <table class="table table-bordered table-condensed b-light">
                <tr>
                    <th>제품명</th>
                    <th>수주수량</th>
                    <th>납품수량</th>
                    <th>미납수량</th>
                    <th>제품재고</th>
                    <th>과부족</th>
                </tr>
                <tr>
                    <td>BARAMI5-BK</td>
                    <td>520</td>
                    <td>-</td>
                    <td>520</td>
                    <td>238</td>
                    <td style="color: red;">-282</td>
                </tr>
                <tr>
                    <td>BARAMI5-SV</td>
                    <td>420</td>
                    <td>-</td>
                    <td>420</td>
                    <td>126</td>
                    <td style="color: red;">-294</td>
                </tr>
            </table>
        </div>
        <div class="chart-container" style="margin-left: 5px;">
            <label style="font-size: 20px;">납품소요기간</label>
            <table class="table table-bordered table-condensed b-light">
                <tr>
                    <th width="80px">구분</th>
                    <td>1월</td>
                    <td>2월</td>
                    <td>3월</td>
                    <td>4월</td>
                    <td>5월</td>
                    <td>6월</td>
                    <td>7월</td>
                    <td>8월</td>
                    <td>9월</td>
                    <td>10월</td>
                    <td>11월</td>
                    <td>12월</td>
                </tr>
                <tr>
                    <th>소요기간</th>
                    <td>28</td>
                    <td>26</td>
                    <td>24</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <canvas baseChart width="650" height="240"
                [datasets]="lineChartData_3"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
            </canvas>
            
        </div>
    </div>

</div>