<div class="panel panel-default">

    <div class="panel-heading">
        <div class="text-center">
            <span class="h4 block m-b-sm">{{ panelTitle }}</span>
        </div>
        <div class="row">
            <div class="col-sm-6 m-b-xs">
                <!-- <form [formGroup]="searchForm"> -->
                    <!-- <label for="sch_yearmonth" class="control-label text-sm">년월</label>
                    <input type="text" id="sch_yearmonth" formControlName="sch_yearmonth"
                           class="input-sm form-control w-xs inline v-middle"
                           bsDatepicker [bsConfig]="bsConfig" (bsValueChange)="onValueChange($event)" />
                    <button (click)="loadData()" class="btn btn-sm btn-default">검색</button> -->
                <!-- </form> -->
            </div>
            <div class="col-sm-6 text-right">
                <!-- 목표: -->
                <!-- <span *ngIf="PlannedSaleAmount > 0">{{ PlannedSaleAmount *1000000 | numberFormat}} 원</span> -->
                <!-- <button *ngIf="PlannedSaleAmount > 0"  data-toggle="modal" data-target="#input-form" (click)="openModal('edit')" class="btn btn-sm btn-default">수정</button>
                <button *ngIf="PlannedSaleAmount == 0"  data-toggle="modal" data-target="#input-form" (click)="openModal('write')" class="btn btn-sm btn-default">등록</button> -->
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="chart-container">
            <label style="font-size: 20px;">매출현황</label>
            <!-- <span style="float: right;">매출목표: {{mainList.sales_target_price | numberFormat}} &nbsp; 예상매출: {{mainList.sales_expect_price | numberFormat}} &nbsp; 목표달성율: {{targetAttainmentRate}}%</span> -->
            <canvas baseChart width="650" height="240"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
            </canvas>
            <table class="table table-bordered table-condensed b-light" style="width: 650px!important;">
                <tr>
                    <th width="80px">구분</th>
                    <td>1 월</td>
                    <td>2 월</td>
                    <td>3 월</td>
                    <td>4 월</td>
                    <td>5 월</td>
                    <td>6 월</td>
                    <td>7 월</td>
                    <td>8 월</td>
                    <td>9 월</td>
                    <td>10 월</td>
                    <td>11 월</td>
                    <td>12 월</td>
                </tr>
                <tr>
                    <th>월매출</th>
                    <td style="font-size: 11px; padding: 4px 0px !important;">{{sales_situation_data[0].price/1000| numberFormat}}</td>
                    <td style="font-size: 11px; padding: 4px 0px !important;">{{sales_situation_data[1].price/1000 | numberFormat}}</td>
                    <td style="font-size: 11px; padding: 4px 0px !important;">{{sales_situation_data[2].price/1000 | numberFormat}}</td>
                    <td style="font-size: 11px; padding: 4px 0px !important;">{{sales_situation_data[3].price/1000 | numberFormat}}</td>
                    <td style="font-size: 11px; padding: 4px 0px !important;">{{sales_situation_data[4].price/1000 | numberFormat}}</td>
                    <td style="font-size: 11px; padding: 4px 0px !important;">{{sales_situation_data[5].price/1000 | numberFormat}}</td>
                    <td style="font-size: 11px; padding: 4px 0px !important;">{{sales_situation_data[6].price/1000 | numberFormat}}</td>
                    <td style="font-size: 11px; padding: 4px 0px !important;">{{sales_situation_data[7].price/1000 | numberFormat}}</td>
                    <td style="font-size: 11px; padding: 4px 0px !important;">{{sales_situation_data[8].price/1000 | numberFormat}}</td>
                    <td style="font-size: 11px; padding: 4px 0px !important;">{{sales_situation_data[9].price/1000 | numberFormat}}</td>
                    <td style="font-size: 11px; padding: 4px 0px !important;">{{sales_situation_data[10].price/1000 | numberFormat}}</td>
                    <td style="font-size: 11px; padding: 4px 0px !important;">{{sales_situation_data[11].price/1000 | numberFormat}}</td>
                </tr>
                <tr>
                    <th>매출누계</th>
                    <td style="font-size: 11px; padding: 4px 0px !important;">{{sales_situation_data2[0].price/1000 | numberFormat}}</td>
                    <td style="font-size: 11px; padding: 4px 0px !important;">{{sales_situation_data2[1].price/1000 | numberFormat}}</td>
                    <td style="font-size: 11px; padding: 4px 0px !important;">{{sales_situation_data2[2].price/1000 | numberFormat}}</td>
                    <td style="font-size: 11px; padding: 4px 0px !important;">{{sales_situation_data2[3].price/1000 | numberFormat}}</td>
                    <td style="font-size: 11px; padding: 4px 0px !important;">{{sales_situation_data2[4].price/1000 | numberFormat}}</td>
                    <td style="font-size: 11px; padding: 4px 0px !important;">{{sales_situation_data2[5].price/1000 | numberFormat}}</td>
                    <td style="font-size: 11px; padding: 4px 0px !important;">{{sales_situation_data2[6].price/1000 | numberFormat}}</td>
                    <td style="font-size: 11px; padding: 4px 0px !important;">{{sales_situation_data2[7].price/1000 | numberFormat}}</td>
                    <td style="font-size: 11px; padding: 4px 0px !important;">{{sales_situation_data2[8].price/1000 | numberFormat}}</td>
                    <td style="font-size: 11px; padding: 4px 0px !important;">{{sales_situation_data2[9].price/1000 | numberFormat}}</td>
                    <td style="font-size: 11px; padding: 4px 0px !important;">{{sales_situation_data2[10].price/1000 | numberFormat}}</td>
                    <td style="font-size: 11px; padding: 4px 0px !important;">{{sales_situation_data2[11].price/1000 | numberFormat}}</td>
                </tr>
            </table>
        </div>
        <div class="chart-container" style="margin-left: 5px;">
            <label style="font-size: 20px;">불량율</label>
            <!-- <span style="float: right;">매출목표: 2,400,000 &nbsp; 예상매출:2,360,000 &nbsp; 목표달성율: 98%</span> -->
            <canvas baseChart width="650" height="240"
                [datasets]="lineChartData_2"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
            </canvas>
            <table class="table table-bordered table-condensed b-light" style="width: 650px;">
                <tr>
                    <th width="80px">구분</th>
                    <td>1월</td>
                    <td>2월</td>
                    <td>3월</td>
                    <td>4월</td>
                    <td>5월</td>
                    <td>6월</td>
                    <td>7월</td>
                    <td>8월</td>
                    <td>9월</td>
                    <td>10월</td>
                    <td>11월</td>
                    <td>12월</td>
                    <td>합계</td>
                </tr>
                <tr>
                    <th>생산수량</th>
                    <td><span *ngIf="defect_situation_data[0]!=undefined"> {{defect_situation_data[0].qty}} </span></td>
                    <td><span *ngIf="defect_situation_data[1]!=undefined"> {{defect_situation_data[1].qty}} </span></td>
                    <td><span *ngIf="defect_situation_data[2]!=undefined"> {{defect_situation_data[2].qty}} </span></td>
                    <td><span *ngIf="defect_situation_data[3]!=undefined"> {{defect_situation_data[3].qty}} </span></td>
                    <td><span *ngIf="defect_situation_data[4]!=undefined"> {{defect_situation_data[4].qty}} </span></td>
                    <td><span *ngIf="defect_situation_data[5]!=undefined"> {{defect_situation_data[5].qty}} </span></td>
                    <td><span *ngIf="defect_situation_data[6]!=undefined"> {{defect_situation_data[6].qty}} </span></td>
                    <td><span *ngIf="defect_situation_data[7]!=undefined"> {{defect_situation_data[7].qty}} </span></td>
                    <td><span *ngIf="defect_situation_data[8]!=undefined"> {{defect_situation_data[8].qty}} </span></td>
                    <td><span *ngIf="defect_situation_data[9]!=undefined"> {{defect_situation_data[9].qty}} </span></td>
                    <td><span *ngIf="defect_situation_data[10] !=undefined"> {{defect_situation_data[10].qty}} </span></td>
                    <td><span *ngIf="defect_situation_data[11] !=undefined"> {{defect_situation_data[11].qty}} </span></td>
                    <td>{{totalQty}}</td>
                </tr>
                <tr>
                    <th>불량수량</th>
                    <td><span *ngIf="defect_situation_data[0] != undefined"> {{defect_situation_data[0].defect_qty}} </span></td>
                    <td><span *ngIf="defect_situation_data[1] != undefined"> {{defect_situation_data[1].defect_qty}} </span></td>
                    <td><span *ngIf="defect_situation_data[2] != undefined"> {{defect_situation_data[2].defect_qty}} </span></td>
                    <td><span *ngIf="defect_situation_data[3] != undefined"> {{defect_situation_data[3].defect_qty}} </span></td>
                    <td><span *ngIf="defect_situation_data[4] != undefined"> {{defect_situation_data[4].defect_qty}} </span></td>
                    <td><span *ngIf="defect_situation_data[5] != undefined"> {{defect_situation_data[5].defect_qty}} </span></td>
                    <td><span *ngIf="defect_situation_data[6] != undefined"> {{defect_situation_data[6].defect_qty}} </span></td>
                    <td><span *ngIf="defect_situation_data[7] != undefined"> {{defect_situation_data[7].defect_qty}} </span></td>
                    <td><span *ngIf="defect_situation_data[8] != undefined"> {{defect_situation_data[8].defect_qty}} </span></td>
                    <td><span *ngIf="defect_situation_data[9] != undefined"> {{defect_situation_data[9].defect_qty}} </span></td>
                    <td><span *ngIf="defect_situation_data[10] != undefined"> {{defect_situation_data[10].defect_qty}} </span></td>
                    <td><span *ngIf="defect_situation_data[11] != undefined"> {{defect_situation_data[11].defect_qty}} </span></td>
                    <td>{{totalDefectQty}}</td>
                </tr>
                <tr>
                    <th>불량율</th>
                    <td><span *ngIf="defect_situation_data[0] != undefined">{{defectRate[0]}}%</span></td>
                    <td><span *ngIf="defect_situation_data[1] != undefined">{{defectRate[1]}}%</span></td>
                    <td><span *ngIf="defect_situation_data[2] != undefined">{{defectRate[2]}}%</span></td>
                    <td><span *ngIf="defect_situation_data[3] != undefined">{{defectRate[3]}}%</span></td>
                    <td><span *ngIf="defect_situation_data[4] != undefined">{{defectRate[4]}}%</span></td>
                    <td><span *ngIf="defect_situation_data[5] != undefined">{{defectRate[5]}}%</span></td>
                    <td><span *ngIf="defect_situation_data[6] != undefined">{{defectRate[6]}}%</span></td>
                    <td><span *ngIf="defect_situation_data[7] != undefined">{{defectRate[7]}}%</span></td>
                    <td><span *ngIf="defect_situation_data[8] != undefined">{{defectRate[8]}}%</span></td>
                    <td><span *ngIf="defect_situation_data[9] != undefined">{{defectRate[9]}}%</span></td>
                    <td><span *ngIf="defect_situation_data[10] != undefined">{{defectRate[10]}}%</span></td>
                    <td><span *ngIf="defect_situation_data[11] != undefined">{{defectRate[11]}}%</span></td>
                    <td>{{totalDefectRate}}%</td>
                </tr>
            </table>
        </div>
        <div class="chart-container">
            <label style="font-size: 20px;">제품별재고현황</label>
            <!-- <span style="float: right; font-size: 20px; font-weight: bold;">{{tDate}}</span> -->
            <table class="table table-bordered table-condensed b-light" style="width: 650px;">
                <tr>
                    <th>제품명</th>
                    <th>수주수량</th>
                    <th>납품수량</th>
                    <th>미납수량</th>
                    <th>제품재고</th>
                    <th>과부족</th>
                </tr>
                <tr *ngFor="let data of product_situation_data">
                    <td>{{data.product_name}}</td>
                    <td style="text-align: right;">{{data.order_qty}}</td>
                    <td style="text-align: right;">{{data.delivery_qty}}</td>
                    <td style="text-align: right;">{{data.order_qty - data.delivery_qty}}</td>
                    <td style="text-align: right;">{{data.current_qty}}</td>
                    <td>
                        <span *ngIf="((data.order_qty - data.delivery_qty)-data.current_qty)*-1>0">{{((data.order_qty - data.delivery_qty)-data.current_qty)*-1}}</span>
                        <span *ngIf="0>((data.order_qty - data.delivery_qty)-data.current_qty)*-1" style="color: red; text-align: right;">{{((data.order_qty - data.delivery_qty)-data.current_qty)*-1}}</span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="chart-container" style="margin-left: 5px;">
            <label style="font-size: 20px;">납품소요기간</label>
            <table class="table table-bordered table-condensed b-light" style="width: 650px;">
                <tr>
                    <th width="80px">구분</th>
                    <td>1월</td>
                    <td>2월</td>
                    <td>3월</td>
                    <td>4월</td>
                    <td>5월</td>
                    <td>6월</td>
                    <td>7월</td>
                    <td>8월</td>
                    <td>9월</td>
                    <td>10월</td>
                    <td>11월</td>
                    <td>12월</td>
                </tr>
                <tr>
                    <th>소요기간</th>
                    <td><span *ngIf="delivery_situation_data[0] != undefined">{{delivery_situation_data[0].required_period}}</span></td>
                    <td><span *ngIf="delivery_situation_data[1] != undefined">{{delivery_situation_data[1].required_period}}</span></td>
                    <td><span *ngIf="delivery_situation_data[2] != undefined">{{delivery_situation_data[2].required_period}}</span></td>
                    <td><span *ngIf="delivery_situation_data[3] != undefined">{{delivery_situation_data[3].required_period}}</span></td>
                    <td><span *ngIf="delivery_situation_data[4] != undefined">{{delivery_situation_data[4].required_period}}</span></td>
                    <td><span *ngIf="delivery_situation_data[5] != undefined">{{delivery_situation_data[5].required_period}}</span></td>
                    <td><span *ngIf="delivery_situation_data[6] != undefined">{{delivery_situation_data[6].required_period}}</span></td>
                    <td><span *ngIf="delivery_situation_data[7] != undefined">{{delivery_situation_data[7].required_period}}</span></td>
                    <td><span *ngIf="delivery_situation_data[8] != undefined">{{delivery_situation_data[8].required_period}}</span></td>
                    <td><span *ngIf="delivery_situation_data[9] != undefined">{{delivery_situation_data[9].required_period}}</span></td>
                    <td><span *ngIf="delivery_situation_data[10] != undefined">{{delivery_situation_data[10].required_period}}</span></td>
                    <td><span *ngIf="delivery_situation_data[11] != undefined">{{delivery_situation_data[11].required_period}}</span></td>
                </tr>
            </table>
            <canvas baseChart width="650" height="240"
                [datasets]="lineChartData_3"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
            </canvas>
            
        </div>
    </div>

</div>