<div class="panel panel-default" id="print-main-list">

    <div class="panel-heading">
        <div class="text-center">
            <span class="h4 block m-b-sm">{{ panelTitle }}</span>
        </div>
        <div class="row">
            <div class="col-sm-6 m-b-xs">
                <form [formGroup]="searchForm">
                <label for="sch_sdate" class="control-label text-sm">조회기간</label>
                <input id="sch_sdate" type="text" formControlName="sch_sdate" bsDatepicker placement="bottom left" class="input-sm form-control w-xs inline v-middle" /> ~
                <input id="sch_edate" type="text" formControlName="sch_edate" bsDatepicker placement="bottom left" class="input-sm form-control w-xs inline v-middle" />
                    <input id="sch_partner_name" formControlName="sch_partner_name"
                        [typeahead]="listPartners"
                        typeaheadOptionField="name"
                        [typeaheadOptionsLimit]="50"
                        [typeaheadScrollable]="true"
                        [typeaheadMinLength]="0"
                        (typeaheadOnSelect)="onSelectListPartner($event)"
                        placeholder="거래처명"
                        class="input-sm form-control w-sm inline v-middle" />
                    <button (click)="getAll()" class="btn btn-sm btn-default hidden-print">검색</button>
                </form>
            </div>
            <div class="col-sm-6 text-right">
                <!--
                <button class="btn btn-sm btn-success btn-addon">
                <i class="glyphicon glyphicon-upload"></i>엑셀업로드
                </button>
                -->
            </div>
        </div>
    </div>

    <div class="panel-body">
        <ngx-datatable
            [style.height.px] = gridHeight
            class="bootstrap"
            [rows]="rows"
            [columnMode]="'force'"
            [headerHeight]="30"
            [rowHeight]="30"
            [scrollbarV]="true"
            [scrollbarH]="false"
            [messages]="messages">
            <ngx-datatable-column prop="product_name" name="제품명"></ngx-datatable-column>
            <ngx-datatable-column prop="order_no" name="수주번호" [width]="150" [canAutoResize]="false"
                                  [resizeable]="false" cellClass="text-center"></ngx-datatable-column>
            <ngx-datatable-column prop="partner_name" name="거래처"></ngx-datatable-column>
            <ngx-datatable-column prop="id" name="내역" [width]="80" [canAutoResize]="false"
                                  cellClass="text-center">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                <div>
                  <button (click)="openModal(value)" class="btn btn-xs btn-primary hidden-print">
                    내역
                  </button>
                </div>
              </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>

    <footer class="panel-footer hidden-print">
		<div class="row">
            <div class="col-sm-6 hidden-xs">
            </div>
            <div class="col-sm-6 text-right">
<!--                <button class="btn btn-sm btn-info btn-addon"-->
<!--                        (click)="elSrv.readyPrint('print-main-list', elSrv.PRINT_MODE.WORKER, elSrv.PRINT_OPT.LANDSCAPE)">-->
<!--                    <i class="glyphicon glyphicon-print"></i>인쇄-->
<!--                </button>-->
                <button class="btn btn-sm btn-success btn-addon" (click)="exportExcel(elSrv.EXPORT_EXCEL_MODE.LIST)">
                    <i class="glyphicon glyphicon-download-alt"></i>엑셀
                </button>
    		</div>
        </div>
	</footer>
</div>

<div bsModal #NoteModal="bs-modal" id="NoteModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="NoteModal.hide()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ noteTitle }}</h4>
            </div>
            <div class="modal-body">
                <ngx-datatable
                    [style.height.px]=gridHeight
                    class="bootstrap"
                    [rows]="notes"
                    [columnMode]="'force'"
                    [headerHeight]="30"
                    [rowHeight]="30"
                    [scrollbarV]="true"
                    [scrollbarH]="false"
                    [messages]="messages">
                    <ngx-datatable-column prop="input_date" name="최초등록일자" cellClass="text-center"></ngx-datatable-column>
                    <ngx-datatable-column prop="before_value" name="최초등록수량" cellClass="text-center"></ngx-datatable-column>
                    <ngx-datatable-column prop="after_promised_date" name="조정약속일자" cellClass="text-center"></ngx-datatable-column>
                    <ngx-datatable-column prop="after_value" name="조정수량" cellClass="text-center"></ngx-datatable-column>
                    <ngx-datatable-column prop="set_value" name="조정사유" cellClass="text-center"></ngx-datatable-column>
                </ngx-datatable>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <button type="button" class="btn btn-primary btn-cancel" (click)="NoteModal.hide()">확인</button>
                </div>
            </div>
        </div>
    </div>
</div>
