/*.panel-body{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    display: table;*/
/*}*/

#tblProductAnalysis {
    .tbody-scroll {
        max-height: 608px;
        overflow-y: auto;
    }
    thead tr th {
      padding: 4px 11px;
    }
    .w5p{
      width: 5%;
    }
    .w6p{
      width: 6%;
    }
    .w7p{
      width: 7%;
    }
    .w8p{
      width: 8%;
    }
    .w9p{
      width: 9%;
    }
    .w10p{
      width: 10%;
    }
}


@media print {
    .panel-body {
        //display: table !important;
    }

    .tbody-scroll{
        overflow-x: hidden !important;
        overflow-y: visible !important;
        max-height: none !important;
    }

    table, thead, tbody{
        //display: table;
    }

    tr {
        padding: unset !important;
        page-break-inside: avoid;
    }

    td span {
        margin:0px !important;
    }

    #tblProductAnalysis * {
        font-size: 10px;
    }

}
