<div class="panel panel-default" id="print-target-wt-comp">
    <div class="panel-heading">
      <div class="text-center">
        <span class="h4 block m-b-sm">{{ panelTitle }}</span>
      </div>
      <div class="m-l-xs">
        <form [formGroup]="searchForm">
          <label for="sch_sdate" class="control-label text-sm m-l">기간</label>
          <input id="sch_sdate" type="text" formControlName="sch_sdate" bsDatepicker placement="bottom left"
                 class="input-sm form-control w-xs inline v-middle"/> ~
          <input id="sch_edate" type="text" formControlName="sch_edate" bsDatepicker placement="bottom left"
                 class="input-sm form-control w-xs inline v-middle"/>
          <label for="sch_prdline" class="m-l">작업라인</label>
          <select formControlName="sch_prdline" id="sch_prdline" (change)="GetAll()"
                  class="input-sm form-control w-sm inline v-middle">
            <option *ngFor="let line of productionLines" value="{{ line.id }}">{{ line.line_no }}</option>
          </select>
          <button (click)="GetAll()" class="btn btn-sm btn-default hidden-print">검색</button>
        </form>
      </div>
    </div>

  <div class="panel-body">
    <ngx-datatable
            [style.height.px]=gridHeight
            class="bootstrap"
            [rows]="rows"
            [columnMode]="'force'"
            [headerHeight]="52"
            [rowHeight]="30"
            [selected]="selected"
            [scrollbarV]="true"
            [scrollbarH]="false"
            [messages]="messages">
      <ngx-datatable-column prop="production_date" name="작업일" [width]="120" [canAutoResize]="false"
                            [resizeable]="false" cellClass="text-center"></ngx-datatable-column>
      <ngx-datatable-column prop="line_no" name="작업라인" cellClass="text-center"></ngx-datatable-column>
      <ngx-datatable-column prop="total_work_time" name="총가동시간" [width]="100" [canAutoResize]="false"
                            [resizeable]="false" cellClass="text-right">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span>{{ value | numberFormat }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="total_work_personnel" name="투입인원" [width]="100" [canAutoResize]="false"
                            [resizeable]="false" cellClass="text-right">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span>{{ value | numberFormat }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="total_production_qty" name="생산수량" [width]="100" [canAutoResize]="false"
                            [resizeable]="false" cellClass="text-right">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span>{{ value | numberFormat }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="total_production_price" name="생산금액" [width]="120" [canAutoResize]="false"
                            [resizeable]="false" cellClass="text-right">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span>{{ value | numberFormat }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="total_material_price" name="원자재<br>투입금액" [width]="120" [canAutoResize]="false"
                            [resizeable]="false" cellClass="text-right">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span>{{ value | numberFormat }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="hour_production_qty" name="총가동 시간당<br>생산수량"[width]="100" [canAutoResize]="false"
                            [resizeable]="false" cellClass="text-right">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span>{{ value | numberFormat }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="hour_production_price" name="총가동 시간당<br>생산금액" [width]="100" [canAutoResize]="false"
                            [resizeable]="false" cellClass="text-right">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span>{{ value | numberFormat }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="hour_material_price" name="총가동 시간당<br>자재 투입금액" [width]="100" [canAutoResize]="false"
                            [resizeable]="false" cellClass="text-right">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span>{{ value | numberFormat }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="hour_personner_qty" name="투입 인원당<br>생산수량" [width]="100" [canAutoResize]="false"
                            [resizeable]="false" cellClass="text-right">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span>{{ value | numberFormat }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="hour_personner_price" name="투입 인원당<br>생산금액" [width]="100" [canAutoResize]="false"
                            [resizeable]="false" cellClass="text-right">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span>{{ value | numberFormat }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="personner_material_price" name="인원당 원자재<br>투입금액" [width]="100" [canAutoResize]="false"
                            [resizeable]="false" cellClass="text-right">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span>{{ value | numberFormat }}</span>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
  
    <footer class="panel-footer hidden-print">
      <div class="row">
        <div class="col-sm-6 hidden-xs">
        </div>
        <div class="col-sm-6 text-right">
<!--          <button class="btn btn-sm btn-info btn-addon"-->
<!--                  (click)="elSer.readyPrint('print-target-wt-comp', '', elSrv.PRINT_OPT.LANDSCAPE)">-->
<!--            <i class="glyphicon glyphicon-print"></i>인쇄-->
<!--          </button>-->
          <button class="btn btn-sm btn-success btn-addon" (click)="exportExcel(elSrv.EXPORT_EXCEL_MODE.LIST)">
            <i class="glyphicon glyphicon-download-alt"></i>엑셀
          </button>
        </div>
      </div>
    </footer>
  </div>
