<div class="panel panel-default" id="print-target-mold-making">

    <div class="panel-heading">
        <div class="text-center">
            <span class="h4 block m-b-sm">{{ panelTitle }}</span>
        </div>
        <div class="row">
            <div class="col-sm-8 m-b-xs pos-rlt">
                <form [formGroup]="searchForm">
                <input type="text" formControlName="sch_product_code" id="sch_product_code" class="input-sm form-control w-sm inline v-middle" placeholder="제품코드" />
                <button (click)="getAll()" class="btn btn-sm btn-default hidden-print">검색</button>
                </form>
            </div>
            <div class="col-sm-4 text-right">
                <!-- <button class="btn btn-sm btn-success btn-addon" data-toggle="modal" data-target="#upload-form" (click)="openModal('upload','')">
                <i class="glyphicon glyphicon-upload"></i>엑셀업로드
                </button> -->
            </div>
        </div>
    </div>

    <div class="panel-body">
        <ngx-datatable
            [style.height.px] = gridHeight
            class="bootstrap"
            [rows]="rows"
            [columnMode]="'force'"
            [headerHeight]="30"
            [rowHeight]="30"
            [scrollbarV]="true"
            [scrollbarH]="false"
            [selected]="selected"
            [selectionType]="'checkbox'"
            [selectAllRowsOnPage]="false"
            [virtualization]="false"
            [messages]="messages">
            <ngx-datatable-column prop="management_no" name="금형관리번호" cellClass="text-center"></ngx-datatable-column>
            <ngx-datatable-column prop="production_date" name="제작일" cellClass="text-center"></ngx-datatable-column>
            <ngx-datatable-column prop="remaining_limits" name="잔여수명" cellClass="text-right">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                    <span>{{ value | numberFormat }}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="mold_stand_no" name="보관위치" cellClass="text-center"></ngx-datatable-column>
            <ngx-datatable-column prop="repair_date" name="최종인하일" cellClass="text-center"></ngx-datatable-column>
            <ngx-datatable-column prop="repair_partner_name" name="인하업체" cellClass="text-center"></ngx-datatable-column>
            <ngx-datatable-column prop="repair_order_date" name="발주일" cellClass="text-center"></ngx-datatable-column>
            <ngx-datatable-column prop="repair_rcv_req_date" name="요구일" cellClass="text-center"></ngx-datatable-column>
            <ngx-datatable-column prop="id" name="발주&middot;입고" [width]="100" [canAutoResize]="false" [resizeable]="false" cellClass="text-center hidden-print">
                <!-- <ng-template ngx-datatable-header-template><span id="st_header_cell_title">{{name}}</span></ng-template> -->
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <button (click)="openModal(value, 'order')" *ngIf="row.orderable == 'Y'" class="btn btn-xs btn-primary">
                        발주
                    </button>
                    <button (click)="openModal(value, 'store')" *ngIf="row.orderable == 'N'" class="btn btn-xs btn-danger">
                        입고
                    </button>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>

    <footer class="panel-footer hidden-print">
		<div class="row">
            <div class="col-sm-6 hidden-xs">
            </div>
            <div class="col-sm-6 text-right">
                <button class="btn btn-sm btn-info btn-addon" (click)="electronService.readyPrint('print-target-mold-making', '', electronService.PRINT_OPT.LANDSCAPE)">
                    <i class="glyphicon glyphicon-print"></i>인쇄
                </button>
                <button class="btn btn-sm btn-success btn-addon" (click)="excelDown()"><i class="glyphicon glyphicon-download-alt"></i>엑셀</button>
    		</div>
        </div>
	</footer>
</div>

<!-- 발주 -->
<div bsModal #OrderFormModal="bs-modal" id="order-form" class="modal modal-xl-center fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-xl-center">
		<div class="modal-content modal-xl">

            <form [formGroup]="orderForm">
            <input type="hidden" formControlName="mold_id" id="mold_id" />
            <input type="hidden" formControlName="repair_cnt" id="repair_cnt" />
			<div class="modal-header">
				<button type="button" class="close" (click)="OrderFormModal.hide()"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ orderFormTitle }}</h4>
			</div>
			<div class="modal-body row">

                <!-- 발주 처리 -->
                <div class="col-lg-4">
                    <table class="table table-bordered b-light" style="border-top:1px solid #eaeff0">
                    <tbody>
                    <tr>
                        <th>제품번호<span class="text-xs text-danger glyphicon glyphicon-asterisk"></span></th>
                        <td colspan="2">
                            <span class="m-l-sm">{{ productCode }}</span>
                            <input type="hidden" formControlName="product_code" id="product_code" />
                        </td>
                    </tr>
                    <tr>
                        <th>금형관리번호<span class="text-xs text-danger glyphicon glyphicon-asterisk"></span></th>
                        <td colspan="2">
                            <input type="hidden" formControlName="mgmt_no" id="mgmt_no" />
                            <span class="m-l-sm">{{ mgmtNo }}-<input type="text" formControlName="mgmt_third_no" id="mgmt_third_no" class="form-control inline input-xs w-2x" style="margin:0" /></span>
                        </td>
                    </tr>
                    <tr>
                        <th>발주일<span class="text-xs text-danger glyphicon glyphicon-asterisk"></span></th>
                        <td colspan="2">
                            <input type="text" formControlName="repair_order_date" id="repair_order_date" bsDatepicker placement="bottom left" class="form-control input-sm w-sm" />
                        </td>
                    </tr>
                    <tr>
                        <th>작업LINE</th>
                        <td class="text-center">
                            {{ productionLine }}
                        </td>
                        <td class="text-center">
                            {{ equipmentName }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="repair_partner_name">제작처</label>
                            <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                        </th>
                        <td colspan="2">
                            <input formControlName="repair_partner_name" id="repair_partner_name"
                                [typeahead]="inputPartners"
                                typeaheadOptionField="Name"
                                [typeaheadOptionsLimit]="50"
                                [typeaheadScrollable]="true"
                                [typeaheadMinLength]="0"
                                (typeaheadOnSelect)="onSelectInputPartner($event)"
                                placeholder="거래처명"
                                class="input-sm form-control w-sm inline v-middle" />
                            <input type="hidden" formControlName="repair_partner_code" id="repair_partner_code" />
                            <!-- <input type="text" formControlName="production_company" id="production_company" nextFocus="production_date" class="form-control input-sm w-sm" /> -->
                        </td>
                    </tr>
                    <tr>
                        <th><label for="repair_rcv_req_date">요구일</label><span class="text-xs text-danger glyphicon glyphicon-asterisk"></span></th>
                        <td colspan="2">
                            <input type="text" formControlName="repair_rcv_req_date" id="repair_rcv_req_date" bsDatepicker placement="bottom left" class="form-control input-sm w-sm" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="production_costs">금액</label>
                            <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                        </th>
                        <td colspan="2">
                            <input type="text" decimal [(ngModel)]="production_costs" formControlName="production_costs" id="production_costs" nextFocus="mold_size" class="form-control input-sm w-sm text-right" />
                        </td>
                    </tr>
                    </tbody>
                    </table>
                </div>

                <div class="col-lg-4">
                    <ngx-datatable
                        [style.height.px] = 380
                        class="bootstrap"
                        [rows]="prodResultRows"
                        [columnMode]="'force'"
                        [headerHeight]="30"
                        [rowHeight]="30"
                        [scrollbarV]="true"
                        [scrollbarH]="false"
                        [selected]="selected"
                        [selectionType]="'checkbox'"
                        [selectAllRowsOnPage]="false"
                        [messages]="messages">
                        <ngx-datatable-column prop="management_no" name="생산일자" [width]="180" [canAutoResize]="false" [resizeable]="false" cellClass="text-center"></ngx-datatable-column>
                        <ngx-datatable-column prop="repair_date" name="생산수량" [width]="150" [canAutoResize]="false" [resizeable]="false" cellClass="text-center">
                            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                                <span>{{ value | numberFormat }}</span>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>

                <div class="col-lg-4">
                    <table class="table table-bordered b-light" style="border-top:1px solid #eaeff0">
                    <tbody>
                    <tr>
                        <th width="100px">기종</th>
                        <td colspan="2"> <span class="m-l-sm">{{ productType }}</span> </td>
                    </tr>
                    <tr>
                        <th>위도번</th>
                        <td colspan="2"> <span class="m-l-sm">{{ subDrawingNo }}</span> </td>
                    </tr>
                    <tr>
                        <th>도번</th>
                        <td colspan="2"> <span class="m-l-sm">{{ drawingNo }}</span> </td>
                    </tr>
                    <tr>
                        <th>제품명</th>
                        <td colspan="2"> <span class="m-l-sm">{{ productName }}</span> </td>
                    </tr>
                    <tr>
                        <th>재질</th>
                        <td colspan="2"> <span class="m-l-sm">{{ material }}</span> </td>
                    </tr>
                    <tr>
                        <th>규격</th>
                        <td> <span class="m-l-sm">{{ size }}</span> </td>
                        <td> <span class="m-l-sm">{{ cutLength }}</span> </td>
                    </tr>
                    </tbody>
                    </table>
                </div>

			</div>

            <div class="modal-footer">
				<div class="text-center">
					<button type="button" (click)="Save()" [disabled]="!orderForm.valid" class="btn btn-primary btn-save">완료</button>
                    <button type="button" (click)="OrderFormModal.hide()" class="btn btn-primary btn-cancel">취소</button>
				</div>
            </div>
            </form>

		</div>
	</div>
</div>

<!-- 입고 -->
<div bsModal #StoreFormModal="bs-modal" id="store-form" class="modal modal-xl-center fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-xl-center">
		<div class="modal-content modal-xl">

            <form [formGroup]="storeForm">
            <input type="hidden" formControlName="mold_id" id="mold_id" />
            <input type="hidden" formControlName="mold_code" id="mold_code" />
			<div class="modal-header">
				<button type="button" class="close" (click)="StoreFormModal.hide()"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ storeFormTitle }}</h4>
			</div>
			<div class="modal-body row">

                <div class="col-lg-4">
                    <table class="table table-bordered b-light" style="border-top:1px solid #eaeff0">
                    <tbody>
                    <tr>
                        <th>제품번호</th>
                        <td colspan="2">
                            <span class="m-l-sm">{{ productCode }}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>금형관리번호</th>
                        <td colspan="2">
                            <span class="m-l-sm">{{ mgmtNo }}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>입고일</th>
                        <td colspan="2">
                            <input type="text" formControlName="repair_rcv_date" id="repair_rcv_date" bsDatepicker placement="bottom left" class="form-control input-sm w-sm" />
                        </td>
                    </tr>
                    <tr>
                        <th>작업LINE</th>
                        <td class="text-center">
                            <span class="m-l-sm">{{ productionLine }}</span>
                        </td>
                        <td class="text-center">
                            <span class="m-l-sm">{{ equipmentName }}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>제작처</th>
                        <td colspan="2">
                            <span class="m-l-sm">{{ prodPartnerName }}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>요구일<span class="text-xs text-danger glyphicon glyphicon-asterisk"></span></th>
                        <td colspan="2">
                            <span class="m-l-sm">{{ repairRcvReqDate }}</span>
                        </td>
                    </tr>

                    <tr>
                        <th>
                            <label for="production_costs">금액</label>
                            <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                        </th>
                        <td colspan="2">
                            <input type="text" decimal [(ngModel)]="production_costs" formControlName="production_costs" id="production_costs" nextFocus="mold_stand_no" class="form-control input-sm w-sm text-right" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="mold_stand_no">보관위치</label>
                            <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                        </th>
                        <td colspan="2">
                            <input type="text" formControlName="mold_stand_no" id="mold_stand_no" nextFocus="production_limits" class="form-control input-sm w-sm" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="production_limits">수명수량</label>
                            <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                        </th>
                        <td colspan="2">
                            <input type="text" decimal [(ngModel)]="production_limits" formControlName="production_limits" id="production_limits" class="form-control input-sm w-sm text-right" />
                        </td>
                    </tr>
                    </tbody>
                    </table>
                </div>

                <div class="col-lg-4">
                    <ngx-datatable
                        [style.height.px] = 380
                        class="bootstrap"
                        [rows]="prodResultRows"
                        [columnMode]="'force'"
                        [headerHeight]="30"
                        [rowHeight]="30"
                        [selected]="selected"
                        [selectionType]="'checkbox'"
                        [selectAllRowsOnPage]="false"
                        [messages]="messages">
                        <ngx-datatable-column prop="management_no" name="생산일자" [width]="180" [canAutoResize]="false" [resizeable]="false" cellClass="text-center"></ngx-datatable-column>
                        <ngx-datatable-column prop="repair_date" name="생산수량" [width]="150" [canAutoResize]="false" [resizeable]="false" cellClass="text-center">
                            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                                <span>{{ value | numberFormat }}</span>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>

                <div class="col-lg-4">
                    <table class="table table-bordered b-light" style="border-top:1px solid #eaeff0">
                    <tbody>
                    <tr>
                        <th width="100px">기종</th>
                        <td colspan="2"> <span class="m-l-sm">{{ productType }}</span> </td>
                    </tr>
                    <tr>
                        <th>위도번</th>
                        <td colspan="2"> <span class="m-l-sm">{{ subDrawingNo }}</span> </td>
                    </tr>
                    <tr>
                        <th>도번</th>
                        <td colspan="2"> <span class="m-l-sm">{{ drawingNo }}</span> </td>
                    </tr>
                    <tr>
                        <th>제품명</th>
                        <td colspan="2"> <span class="m-l-sm">{{ productName }}</span> </td>
                    </tr>
                    <tr>
                        <th>재질</th>
                        <td colspan="2"> <span class="m-l-sm">{{ material }}</span> </td>
                    </tr>
                    <tr>
                        <th>규격</th>
                        <td> <span class="m-l-sm">{{ size }}</span> </td>
                        <td> <span class="m-l-sm">{{ cutLength }}</span> </td>
                    </tr>
                    </tbody>
                    </table>
                </div>

			</div>

            <div class="modal-footer">
				<div class="text-center">
					<button type="button" (click)="Save()" [disabled]="!storeForm.valid" class="btn btn-primary btn-save">완료</button>
                    <button type="button" (click)="StoreFormModal.hide()" class="btn btn-primary btn-cancel">취소</button>
				</div>
            </div>
            </form>

		</div>
	</div>
</div>
