.row-color {
    font-weight:bold;
    color:#000;
    background-color:#efefef !important;
}
#acct_code_text {
    display: none !important;
}
@media print {
    .panel-body {
        display: table !important;
    }
 
    .ngx-datatable {
        height: unset !important;
    }
 
    .datatable-body {
        height: unset !important;
    }
  
    .datatable-scroll {
        display: table !important;
    }
 
    .datatable-row-wrapper {
        page-break-inside: avoid;
    }

    .print-h .ngx-datatable {
        width: 700px !important;
    }
    .print-h .datatable-row-center {
        width: 700px !important;
    }
    .print-width {
        width: 180px !important;
    }
    #acct_code_text {
        display: unset !important;
    }
}
