<div class="panel panel-default" id="print-main-list">

  <div class="panel-heading">
    <div class="text-center">
      <span class="h4 block m-b-sm">{{ panelTitle }}</span>
    </div>
    <div class="m-l-xs">
      <form [formGroup]="searchForm">
        <input formControlName="sch_partner_name"
               [typeahead]="listPartners"
               typeaheadOptionField="Alias"
               [typeaheadOptionsLimit]="50"
               [typeaheadScrollable]="true"
               [typeaheadMinLength]="0"
               (typeaheadOnSelect)="onSelectListPartner($event)"
               placeholder="거래처명"
               class="input-sm form-control w-sm inline v-middle"
               id="sch_partner_name"/>
        <label for="production_line" class="control-label text-sm m-l">작업LINE</label>
        <select formControlName="production_line" id="production_line"
                class="input-sm form-control w-sm inline v-middle">
          <option value=""></option>
          <option *ngFor="let line of productionLines" value="{{ line.LineCode }}">{{ line.LineCode }}
            -{{ line.EquipmentName }}</option>
        </select>
        <label for="sch_sdate" class="control-label text-sm m-l">기간</label>
        <input id="sch_sdate" type="text" formControlName="sch_sdate" bsDatepicker placement="bottom left"
               class="input-sm form-control w-xs inline v-middle"/> ~
        <input id="sch_edate" type="text" formControlName="sch_edate" bsDatepicker placement="bottom left"
               class="input-sm form-control w-xs inline v-middle"/>
        <button (click)="getAll()" class="btn btn-sm btn-default hidden-print">검색</button>
      </form>
    </div>
  </div>

  <div class="panel-body">
    <ngx-datatable
      class="bootstrap"
      [style.height.px]=gridHeight
      [rows]="rows"
      [columnMode]="'force'"
      [headerHeight]="30"
      [rowHeight]="30"
      [scrollbarV]="true"
      [scrollbarH]="false"
      [virtualization]="false"
      [messages]="messages">
      <ngx-datatable-column prop="line_code" name="작업라인" [width]="80" [canAutoResize]="false" [resizeable]="false"
                            cellClass="text-center"></ngx-datatable-column>
      <ngx-datatable-column prop="product_code" name="제품번호"></ngx-datatable-column>
      <ngx-datatable-column prop="product_name" name="제품명"></ngx-datatable-column>
      <ngx-datatable-column prop="prev_assembly_qty" name="전기이월" [width]="70" [canAutoResize]="false"
                            [resizeable]="false" cellClass="text-right">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
          <span>{{ value | numberFormat }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="assembly_qty" name="생산수량" [width]="80" [canAutoResize]="false" [resizeable]="false"
                            cellClass="text-right">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
          <span>{{ value | numberFormat }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="defective_qty" name="생산불량" [width]="60" [canAutoResize]="false" [resizeable]="false"
                            cellClass="text-right">
      </ngx-datatable-column>
      <ngx-datatable-column prop="loss_qty" name="LOSS" [width]="60" [canAutoResize]="false" [resizeable]="false"
                            cellClass="text-right">
      </ngx-datatable-column>
      <ngx-datatable-column prop="lucre_qty" name="LUCRE" [width]="60" [canAutoResize]="false" [resizeable]="false"
                            cellClass="text-right">
      </ngx-datatable-column>
      <ngx-datatable-column prop="inventory_qty" name="제품재고" [width]="80" [canAutoResize]="false" [resizeable]="false"
                            cellClass="text-right">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
          <span>{{ value | numberFormat }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="내역" [width]="51" [canAutoResize]="false" [resizeable]="false"
                            cellClass="text-center hidden-print">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <button data-toggle="modal" data-target="#input-form" (click)="openModal(row.poc_no)"
                  class="btn btn-xs btn-primary">내역
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
    <div class="table-responsive print-padding">
      <table class="table table-bordered table-condensed b-light" style="border-top:1px solid #eaeff0">
        <tbody>
        <tr>
          <td width="80px" class="text-center">계</td>
          <!--                <td></td>-->
          <td width="423.5px" class="text-right">&nbsp;</td>
          <td width="423.5px" class="text-right">&nbsp;</td>
          <td width="70px" class="text-right">{{ sums_prev_assembly_qty | numberFormat }}</td>
          <td width="60px" class="text-right">{{ sums_defective_qty }}</td>
          <td width="60px" class="text-right">{{ sums_loss_qty }}</td>
          <td width="60px" class="text-right">{{ sums_lucre_qty }}</td>
          <td width="80px" class="text-right">{{ sums_inventory_qty | numberFormat }}</td>
          <td width="50px" class="print-width-50px"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <footer class="panel-footer hidden-print">
    <div class="row">
      <div class="col-sm-6 hidden-xs">
      </div>
      <div class="col-sm-6 text-right">
<!--        <button class="btn btn-sm btn-info btn-addon"-->
<!--                (click)="elSrv.readyPrint('print-main-list', elSrv.PRINT_MODE.WORKER, elSrv.PRINT_OPT.LANDSCAPE)">-->
<!--          <i class="glyphicon glyphicon-print"></i>인쇄-->
<!--        </button>-->
        <button class="btn btn-sm btn-success btn-addon" (click)="exportExcel(elSrv.EXPORT_EXCEL_MODE.LIST)"><i
          class="glyphicon glyphicon-download-alt"></i>엑셀
        </button>
      </div>
    </div>
  </footer>
</div>

<div id="input-form" class="modal modal-xl-center fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-xl-center">
    <div class="modal-content modal-xl" id="print-target-cutting-detail">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ detailsTitle }}</h4>
      </div>
      <div class="modal-body">

        <!-- <input type="hidden" id="reservation_id" name="reservation_id" />
        <input type="hidden" id="goods_name" name="goods_name" />
        <input type="hidden" id="fare_per_person" name="fare_per_person" /> -->

        <table class="table table-bordered view">
          <tr>
            <th>제품번호</th>
            <td width="120px"><span>{{ detail_product_code }}</span></td>
            <th>제품명</th>
            <td width="120px"><span>{{ detail_product_name }}</span></td>
            <th>거래처</th>
            <td><span>{{ detail_partner_name }}</span></td>
            <th>조회기간</th>
            <td width="200px"><span>{{ detail_sch_sdate }} ~ {{ detail_sch_edate }}</span></td>
          </tr>
        </table>

        <ngx-datatable
          style="min-height:120px;max-height:420px;"
          class="bootstrap"
          [rows]="detailrows"
          [columnMode]="'force'"
          [headerHeight]="30"
          [rowHeight]="30"
          [messages]="messages">
          <ngx-datatable-column prop="input_date" name="일자" [width]="120" [canAutoResize]="false" [resizeable]="false"
                                cellClass="text-center"></ngx-datatable-column>
          <!--                    <ngx-datatable-column prop="cutting_qty" name="절단수량" [width]="100" [canAutoResize]="false" [resizeable]="false" cellClass="text-right">-->
          <!--                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">-->
          <!--                            <span>{{ value | numberFormat }}</span>-->
          <!--                        </ng-template>-->
          <!--                    </ngx-datatable-column>-->
          <!--                    <ngx-datatable-column prop="input_weight" name="단위투중" [width]="100" [canAutoResize]="false" [resizeable]="false" cellClass="text-right"></ngx-datatable-column>-->
          <!--                    <ngx-datatable-column prop="forwarding_weight" name="절단중량" [width]="100" [canAutoResize]="false" [resizeable]="false" cellClass="text-right">-->
          <!--                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">-->
          <!--                            <span>{{ value | numberFormat }}</span>-->
          <!--                        </ng-template>-->
          <!--                    </ngx-datatable-column>-->
          <ngx-datatable-column prop="defective_qty" name="생산불량" [width]="100" [canAutoResize]="false"
                                [resizeable]="false" cellClass="text-right"></ngx-datatable-column>
          <ngx-datatable-column prop="loss_qty" name="LOSS" [width]="80" [canAutoResize]="false" [resizeable]="false"
                                cellClass="text-right"></ngx-datatable-column>
          <ngx-datatable-column prop="lucre_qty" name="LUCRE" [width]="80" [canAutoResize]="false" [resizeable]="false"
                                cellClass="text-right"></ngx-datatable-column>
          <ngx-datatable-column prop="inventory_qty" name="조립재고" [width]="120" [canAutoResize]="false"
                                [resizeable]="false" cellClass="text-right">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
              <span>{{ value | numberFormat }}</span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="poc_no" name="POC No" cellClass="text-center"></ngx-datatable-column>
        </ngx-datatable>

        <div class="table-responsive">
          <table class="table table-bordered table-condensed b-light sums">
            <tbody>
            <tr>
              <td width="120px" class="text-center">계</td>
              <!--                        <td width="100px" class="text-right"><span>{{ detailsums_cutting_qty | numberFormat }}</span></td>-->
              <!--                        <td width="100px" class="text-right"></td>-->
              <!--                        <td width="100px" class="text-right"><span>{{ detailsums_forwarding_weight | numberFormat }}</span></td>-->

              <td width="100px" class="text-right"><span>{{ detailsums_defective_qty }}</span></td>
              <td width="80px" class="text-right"><span>{{ detailsums_loss_qty }}</span></td>
              <td width="80px" class="text-right"><span>{{ detailsums_lucre_qty }}</span></td>
              <td width="120px" class="text-right">
                <span>{{ detailsums_inventory_qty | numberFormat }}</span>
              </td>
              <td></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="modal-footer hidden-print">
        <div class="text-center">
          <button type="button" class="btn btn-info"
                  (click)="elSrv.readyPrint('print-target-cutting-detail', '', elSrv.PRINT_OPT.LANDSCAPE)">인쇄
          </button>
          <button type="button" class="btn btn-success">엑셀</button>
          <button type="button" class="btn btn-primary btn-cancel" data-dismiss="modal" aria-label="Close">취소</button>
        </div>
      </div>

    </div>
  </div>
</div>
