<div class="panel panel-default" id="print-main-list">

  <div class="panel-heading">
    <div class="text-center">
      <span class="h4 block m-b-sm">{{ panelTitle }}</span>
    </div>
    <div class="m-l-xs">
      <form [formGroup]="searchForm">
       <input formControlName="sch_product_name"
              [typeahead]="listProduct"
              typeaheadOptionField="name"
              [typeaheadOptionsLimit]="50"
              [typeaheadScrollable]="true"
              [typeaheadMinLength]="0"
              (typeaheadOnSelect)="onSelectListProduct($event)"
              placeholder="제품명"
              class="input-sm form-control w-sm inline v-middle"
              id="sch_product_name"/>
        <label for="sch_yearmonth" class="control-label text-sm">년월</label>
        <input type="text" id="sch_yearmonth" formControlName="sch_yearmonth"
               class="input-sm form-control w-xs inline v-middle"
               bsDatepicker [bsConfig]="bsConfig" (bsValueChange)="onValueChange($event)" />
        <button (click)="getAll()" class="btn btn-sm btn-default hidden-print">검색</button>
      </form>
    </div>
  </div>

  <div class="panel-body">
    <ngx-datatable
      class="bootstrap"
      [style.height.px]=gridHeight
      [rows]="rows"
      [columnMode]="'force'"
      [headerHeight]="30"
      [rowHeight]="30"
      [scrollbarV]="true"
      [scrollbarH]="false"
      [virtualization]="false"
      [messages]="messages">
      <ngx-datatable-column prop="product_name" name="제품명"></ngx-datatable-column>
      <ngx-datatable-column prop="product_type" name="규격"></ngx-datatable-column>
      <ngx-datatable-column prop="transfer_qty" name="전기이월" [width]="100" [canAutoResize]="false"
                            [resizeable]="false" cellClass="text-right">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
          <span>{{ value | numberFormat }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="production_qty" name="생산수량" [width]="100" [canAutoResize]="false"
                            [resizeable]="false" cellClass="text-right">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
          <span>{{ value | numberFormat }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="defect_qty" name="생산불량" [width]="100" [canAutoResize]="false"
                            [resizeable]="false" cellClass="text-right">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
          <span>{{ value | numberFormat }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="loss_qty" name="LOSS" [width]="100" [canAutoResize]="false"
                            [resizeable]="false" cellClass="text-right">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
          <span>{{ value | numberFormat }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="remain_qty" name="제품재고" [width]="100" [canAutoResize]="false"
                            [resizeable]="false" cellClass="text-right">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
          <span>{{ value | numberFormat }}</span>
        </ng-template>
      </ngx-datatable-column>
<!--      <ngx-datatable-column name="내역" [width]="80" [canAutoResize]="false" [resizeable]="false"-->
<!--                            cellClass="text-center hidden-print">-->
<!--        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">-->
<!--          <button data-toggle="modal" data-target="#input-form" (click)="openModal(row.poc_no)"-->
<!--                  class="btn btn-xs btn-primary">내역-->
<!--          </button>-->
<!--        </ng-template>-->
<!--      </ngx-datatable-column>-->
    </ngx-datatable>
  </div>

  <footer class="panel-footer hidden-print">
    <div class="row">
      <div class="col-sm-6 hidden-xs">
      </div>
      <div class="col-sm-6 text-right">
<!--        <button class="btn btn-sm btn-info btn-addon"-->
<!--                (click)="elSrv.readyPrint('print-main-list', elSrv.PRINT_MODE.WORKER, elSrv.PRINT_OPT.LANDSCAPE)">-->
<!--          <i class="glyphicon glyphicon-print"></i>인쇄-->
<!--        </button>-->
        <button class="btn btn-sm btn-success btn-addon" (click)="exportExcel(elSrv.EXPORT_EXCEL_MODE.LIST)"><i
          class="glyphicon glyphicon-download-alt"></i>엑셀
        </button>
      </div>
    </div>
  </footer>
</div>

<!--<div id="input-form" class="modal modal-xl-center fade" tabindex="-1" role="dialog" aria-hidden="true">-->
<!--  <div class="modal-dialog modal-xl modal-xl-center">-->
<!--    <div class="modal-content modal-xl" id="print-target-cutting-detail">-->
<!--      <div class="modal-header">-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span-->
<!--          aria-hidden="true">&times;</span></button>-->
<!--        <h4 class="modal-title">{{ detailsTitle }}</h4>-->
<!--      </div>-->
<!--      <div class="modal-body">-->

<!--        &lt;!&ndash; <input type="hidden" id="reservation_id" name="reservation_id" />-->
<!--        <input type="hidden" id="goods_name" name="goods_name" />-->
<!--        <input type="hidden" id="fare_per_person" name="fare_per_person" /> &ndash;&gt;-->

<!--        <table class="table table-bordered view">-->
<!--          <tr>-->
<!--            <th>제품번호</th>-->
<!--            <td width="120px"><span>{{ detail_product_code }}</span></td>-->
<!--            <th>제품명</th>-->
<!--            <td width="120px"><span>{{ detail_product_name }}</span></td>-->
<!--            <th>거래처</th>-->
<!--            <td><span>{{ detail_partner_name }}</span></td>-->
<!--            <th>조회기간</th>-->
<!--            <td width="200px"><span>{{ detail_sch_sdate }} ~ {{ detail_sch_edate }}</span></td>-->
<!--          </tr>-->
<!--        </table>-->

<!--        <ngx-datatable-->
<!--          style="min-height:120px;max-height:420px;"-->
<!--          class="bootstrap"-->
<!--          [rows]="detailrows"-->
<!--          [columnMode]="'force'"-->
<!--          [headerHeight]="30"-->
<!--          [rowHeight]="30"-->
<!--          [messages]="messages">-->
<!--          <ngx-datatable-column prop="input_date" name="일자" [width]="120" [canAutoResize]="false" [resizeable]="false"-->
<!--                                cellClass="text-center"></ngx-datatable-column>-->
<!--          &lt;!&ndash;                    <ngx-datatable-column prop="cutting_qty" name="절단수량" [width]="100" [canAutoResize]="false" [resizeable]="false" cellClass="text-right">&ndash;&gt;-->
<!--          &lt;!&ndash;                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">&ndash;&gt;-->
<!--          &lt;!&ndash;                            <span>{{ value | numberFormat }}</span>&ndash;&gt;-->
<!--          &lt;!&ndash;                        </ng-template>&ndash;&gt;-->
<!--          &lt;!&ndash;                    </ngx-datatable-column>&ndash;&gt;-->
<!--          &lt;!&ndash;                    <ngx-datatable-column prop="input_weight" name="단위투중" [width]="100" [canAutoResize]="false" [resizeable]="false" cellClass="text-right"></ngx-datatable-column>&ndash;&gt;-->
<!--          &lt;!&ndash;                    <ngx-datatable-column prop="forwarding_weight" name="절단중량" [width]="100" [canAutoResize]="false" [resizeable]="false" cellClass="text-right">&ndash;&gt;-->
<!--          &lt;!&ndash;                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">&ndash;&gt;-->
<!--          &lt;!&ndash;                            <span>{{ value | numberFormat }}</span>&ndash;&gt;-->
<!--          &lt;!&ndash;                        </ng-template>&ndash;&gt;-->
<!--          &lt;!&ndash;                    </ngx-datatable-column>&ndash;&gt;-->
<!--          <ngx-datatable-column prop="defective_qty" name="생산불량" [width]="100" [canAutoResize]="false"-->
<!--                                [resizeable]="false" cellClass="text-right"></ngx-datatable-column>-->
<!--          <ngx-datatable-column prop="loss_qty" name="LOSS" [width]="80" [canAutoResize]="false" [resizeable]="false"-->
<!--                                cellClass="text-right"></ngx-datatable-column>-->
<!--          <ngx-datatable-column prop="lucre_qty" name="LUCRE" [width]="80" [canAutoResize]="false" [resizeable]="false"-->
<!--                                cellClass="text-right"></ngx-datatable-column>-->
<!--          <ngx-datatable-column prop="inventory_qty" name="조립재고" [width]="120" [canAutoResize]="false"-->
<!--                                [resizeable]="false" cellClass="text-right">-->
<!--            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">-->
<!--              <span>{{ value | numberFormat }}</span>-->
<!--            </ng-template>-->
<!--          </ngx-datatable-column>-->
<!--          <ngx-datatable-column prop="poc_no" name="POC No" cellClass="text-center"></ngx-datatable-column>-->
<!--        </ngx-datatable>-->

<!--        <div class="table-responsive">-->
<!--          <table class="table table-bordered table-condensed b-light sums">-->
<!--            <tbody>-->
<!--            <tr>-->
<!--              <td width="120px" class="text-center">계</td>-->
<!--              &lt;!&ndash;                        <td width="100px" class="text-right"><span>{{ detailsums_cutting_qty | numberFormat }}</span></td>&ndash;&gt;-->
<!--              &lt;!&ndash;                        <td width="100px" class="text-right"></td>&ndash;&gt;-->
<!--              &lt;!&ndash;                        <td width="100px" class="text-right"><span>{{ detailsums_forwarding_weight | numberFormat }}</span></td>&ndash;&gt;-->

<!--              <td width="100px" class="text-right"><span>{{ detailsums_defective_qty }}</span></td>-->
<!--              <td width="80px" class="text-right"><span>{{ detailsums_loss_qty }}</span></td>-->
<!--              <td width="80px" class="text-right"><span>{{ detailsums_lucre_qty }}</span></td>-->
<!--              <td width="120px" class="text-right">-->
<!--                <span>{{ detailsums_inventory_qty | numberFormat }}</span>-->
<!--              </td>-->
<!--              <td></td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--          </table>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="modal-footer hidden-print">-->
<!--        <div class="text-center">-->
<!--          <button type="button" class="btn btn-info"-->
<!--                  (click)="elSrv.readyPrint('print-target-cutting-detail', '', elSrv.PRINT_OPT.LANDSCAPE)">인쇄-->
<!--          </button>-->
<!--          <button type="button" class="btn btn-success">엑셀</button>-->
<!--          <button type="button" class="btn btn-primary btn-cancel" data-dismiss="modal" aria-label="Close">취소</button>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->
