<div class="panel panel-default">

  <div class="panel-heading">
    <div class="text-center">
      <span class="h4 block m-b-sm">{{ panelTitle }}</span>
    </div>
    <div class="row">
      <div class="col-sm-8 m-b-xs pos-rlt">
        <form [formGroup]="searchForm">
          <input formControlName="sch_partner_name"
                 [typeahead]="partnerList"
                 typeaheadOptionField="name"
                 [typeaheadOptionsLimit]="50"
                 [typeaheadScrollable]="true"
                 [typeaheadMinLength]="0"
                 (typeaheadOnSelect)="onSearchSelectListPartner($event)"
                 placeholder="거래처명"
                 class="input-sm form-control w-sm inline v-middle"/>
          <input type="text" formControlName="sch_product_name" id="sch_product_name" (keyup)="updateFilter($event)"
                 class="input-sm form-control w-sm inline v-middle" placeholder="제품명"/>
          <button (click)="getAll()" class="btn btn-sm btn-default">검색</button>
        </form>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <ngx-datatable
            [style.height.px]=gridHeight
            class="bootstrap"
            [rows]="rows"
            [columnMode]="'force'"
            [headerHeight]="30"
            [rowHeight]="30"
            [scrollbarV]="true"
            [scrollbarH]="false"
            [selected]="selected"
            [selectionType]="'single'"
            (select)='onSelect($event)'
            [messages]="messages">
      <ngx-datatable-column prop="order_no" name="수주번호"></ngx-datatable-column>
      <ngx-datatable-column prop="partner_name" name="거래처"></ngx-datatable-column>
      <ngx-datatable-column prop="demand_date" name="등록일자"></ngx-datatable-column>
      <ngx-datatable-column prop="promised_date" name="약속일자"></ngx-datatable-column>
      <ngx-datatable-column prop="product_name" name="제품명"></ngx-datatable-column>
      <ngx-datatable-column prop="product_type" name="규격" cellClass="text-center"></ngx-datatable-column>
      <ngx-datatable-column prop="product_qty" name="수량" cellClass="text-center" >
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span>{{ value | numberFormat }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="product_price" name="단가" cellClass="text-right">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span
                  class="inline m-r-sm{{ row.is_tmp_price == 'Y' ? ' text-danger' : '' }}">{{ value | numberFormat }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="id" name="수주조정" [width]="65" [canAutoResize]="false" [resizeable]="false"
                            cellClass="text-center">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <div>
            <button (click)="openModal(row)" class="btn btn-xs btn-primary">
              <i class="glyphicon glyphicon-edit"></i>
            </button>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
  <footer class="panel-footer hidden-print">
    <div class="row">
      <div class="col-sm-6 hidden-xs">
      </div>
      <div class="col-sm-6 text-right">
        <button class="btn btn-sm btn-info btn-addon"
                (click)="elSrv.readyPrint('print-main-list', elSrv.PRINT_MODE.WORKER, elSrv.PRINT_OPT.LANDSCAPE)">
          <i class="glyphicon glyphicon-print"></i>인쇄
        </button>
        <button class="btn btn-sm btn-success btn-addon" (click)="elSrv.excelDL('','/sales/order-adjustment-details','수주조정.xlsx')">
          <i class="glyphicon glyphicon-download-alt"></i>엑셀
        </button>
      </div>
    </div>
  </footer>
</div>

<div bsModal #InputFormModal="bs-modal" id="input-form" class="modal fade" tabindex="-1" role="dialog"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="width: 700px !important;">
      <form [formGroup]="inputForm">
        <div class="modal-header">
          <button type="button" class="close" (click)="InputFormModal.hide()"><span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{{ inputFormTitle }}</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <div class="row">
                  <label for="product_name" class="col-lg-4 control-label">
                    제품명
                  </label>
                  <div class="col-lg-8">
                    <input type="text" formControlName="product_name" id="product_name" placement="bottom left"
                           nextFocus="" class="form-control w-sm" [readonly]="true"/>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label for="product_type" class="col-lg-4 control-label">
                    규격
                  </label>
                  <div class="col-lg-8">
                    <input type="text" formControlName="product_type" id="product_type" nextFocus=""
                           class="form-control inline w-sm" [readonly]="true"/>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label class="col-lg-4 control-label">
                    수주구분
                  </label>
                  <div class="col-lg-8">
                    <label class="i-checks">
                      <input type="radio" formControlName="order_type" value="Y" [attr.disabled]="false">
                      <i></i>
                      정상
                    </label>
                    <label class="i-checks">
                      <input type="radio" formControlName="order_type" value="X" [attr.disabled]="false">
                      <i></i>
                      예상
                    </label>
                    <label class="i-checks">
                      <input type="radio" formControlName="order_type" value="F" [attr.disabled]="false">
                      <i></i>
                      불량
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label for="demand_date" class="col-lg-4 control-label">
                    요구일
                  </label>
                  <div class="col-lg-8">
                    <input type="text" formControlName="demand_date" id="demand_date" bsDatepicker placement="bottom left"
                           nextFocus="" class="form-control w-sm" [readonly]="true"/>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label for="product_qty" class="col-lg-4 control-label">
                    수주수량 <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                  </label>
                  <div class="col-lg-8">
                    <input type="text" formControlName="product_qty" id="product_qty" nextFocus=""
                           class="form-control inline w-sm" (keyup)="calculatePrice($event)"/>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label for="product_price" class="col-lg-4 control-label">
                    단가
                  </label>
                  <div class="col-lg-8">
                    <input type="text" formControlName="product_price" id="product_price" nextFocus=""
                           class="form-control inline w-sm" [readonly]="true"/>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label for="price" class="col-lg-4 control-label">
                    금액
                  </label>
                  <div class="col-lg-8">
                    <input type="text" formControlName="price" id="price" nextFocus=""
                           class="form-control inline w-sm" [readonly]="true"/>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
<!--              <div class="form-group">-->
<!--                <div class="row">-->
<!--                  <label for="input_date" class="col-lg-4 control-label">-->
<!--                    등록일자 <span class="text-xs"></span>-->
<!--                  </label>-->
<!--                  <div class="col-lg-8">-->
<!--                    <input type="text" formControlName="input_date" id="input_date" bsDatepicker placement="bottom left"-->
<!--                           nextFocus="" class="form-control w-sm" [readonly]="true"/>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
              <div class="form-group">
                <div class="row">
                  <label for="first_input_date" class="col-lg-4 control-label">
                    최초등록일
                  </label>
                  <div class="col-lg-8">
                    <input type="text" formControlName="first_input_date" id="first_input_date" bsDatepicker placement="bottom left"
                           nextFocus="" class="form-control w-sm" [readonly]="true"/>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label for="partner_name" class="col-lg-4 control-label">
                    거래처
                  </label>
                  <div class="col-lg-8">
                    <input type="text" formControlName="partner_name" id="partner_name" nextFocus=""
                           class="form-control inline w-sm" [readonly]="true"/>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label for="order_no" class="col-lg-4 control-label">
                    수주번호
                  </label>
                  <div class="col-lg-8">
                    <input type="text" formControlName="order_no" id="order_no" nextFocus=""
                           class="form-control inline w-sm" [readonly]="true"/>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label for="promised_date" class="col-lg-4 control-label">
                    약속일자 <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                  </label>
                  <div class="col-lg-8">
                    <input type="text" formControlName="promised_date" id="promised_date" bsDatepicker placement="bottom left"
                           nextFocus="" class="form-control w-sm"/>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label for="line_no" class="col-lg-4 control-label">
                    작업라인
                  </label>
                  <div class="col-lg-8">
                    <input type="text" formControlName="line_no" id="line_no" bsDatepicker placement="bottom left"
                           nextFocus="" class="form-control w-sm" [readonly]="true"/>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label for="sch_correction_reason" class="col-lg-4 control-label">
                    정정사유 <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                  </label>
                  <div class="col-lg-8">
                    <!--                    <input type="text" formControlName="partner_name" id="product_code" nextFocus=""-->
                    <!--                                                                    class="form-control inline w-sm"/>-->
                    <input formControlName="sch_correction_reason" id="sch_correction_reason"
                           [typeahead]="correctionReasonList"
                           typeaheadOptionField="set_value"
                           [typeaheadOptionsLimit]="50"
                           [typeaheadScrollable]="true"
                           [typeaheadMinLength]="0"
                           (typeaheadOnSelect)="onSelectListCollectionReason($event)"
                           class="form-control inline w-sm"/>
                    <input type="hidden" formControlName="correction_reason_id" id="correction_reason_id"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="text-center">
            <button type="button" (click)="Save()" [disabled]="!inputForm.valid"
                    class="btn btn-primary btn-save">완료
            </button>
            <button type="button" (click)="InputFormModal.hide()" class="btn btn-primary btn-cancel">취소</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>

<div *ngIf="isLoadingProgress" class="loading-progress">

  <div class="sk-fading-circle">
    <div class="sk-circle1 sk-circle"></div>
    <div class="sk-circle2 sk-circle"></div>
    <div class="sk-circle3 sk-circle"></div>
    <div class="sk-circle4 sk-circle"></div>
    <div class="sk-circle5 sk-circle"></div>
    <div class="sk-circle6 sk-circle"></div>
    <div class="sk-circle7 sk-circle"></div>
    <div class="sk-circle8 sk-circle"></div>
    <div class="sk-circle9 sk-circle"></div>
    <div class="sk-circle10 sk-circle"></div>
    <div class="sk-circle11 sk-circle"></div>
    <div class="sk-circle12 sk-circle"></div>
  </div>

</div>
