<div class="panel panel-default">

    <div class="panel-heading">
        <div class="text-center">
            <span class="h4 block m-b-sm">{{ panelTitle }}</span>
        </div>
        <div class="row">
            <div class="col-sm-6 m-b-xs">
                <form [formGroup]="searchForm">
                    <label for="passenger_phone" class="control-label text-sm">년월</label>
                    <input type="text" formControlName="sch_yearmonth" class="input-sm form-control w-xs inline v-middle" />
                    <!-- <label for="passenger_phone" class="control-label text-sm">조회기간</label>
                    <input type="text" class="input-sm form-control w-xs inline v-middle" /> ~
                    <input type="text" class="input-sm form-control w-xs inline v-middle" />
                    <label for="passenger_phone" class="control-label text-sm m-l">거래처</label>
                    <input type="text" class="input-sm form-control w-xs inline v-middle" /> -->
                    <button (click)="loadData()" class="btn btn-sm btn-default">검색</button>
                </form>
            </div>
            <div class="col-sm-6 text-right">
                목표:
                <span *ngIf="PlannedSaleAmount > 0">{{ PlannedSaleAmount}} 원</span>
                <button *ngIf="PlannedSaleAmount > 0"  data-toggle="modal" data-target="#input-form" (click)="openModal('edit')" class="btn btn-sm btn-default">수정</button>
                <button *ngIf="PlannedSaleAmount == 0"  data-toggle="modal" data-target="#input-form" (click)="openModal('write')" class="btn btn-sm btn-default">등록</button>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="chart-container">
            <canvas baseChart width="1300" height="480"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
            </canvas>
        </div>
    </div>

</div>

<div id="input-form" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">

            <form [formGroup]="inputForm">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ inputFormTitle }}</h4>
			</div>
			<div class="modal-body">

                <div class="form-group">
                    <div class="row">
                        <label for="yearmonth" class="col-lg-4 control-label">
                            년월<span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                        </label>
                        <div class="col-lg-8">
                            <input type="text" formControlName="yearmonth" id="yearmonth" nextFocus="order_no" class="form-control w-sm" readonly />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label for="planned_sales_amount" class="col-lg-4 control-label">
                            금액<span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                        </label>
                        <div class="col-lg-8">
                            <input type="text" decimal [(ngModel)]="planned_sales_amount" formControlName="planned_sales_amount" id="planned_sales_amount" class="form-control w-sm" />
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
				<div class="text-center">
					<button type="button" (click)="Save()" [disabled]="!inputForm.valid" class="btn btn-primary btn-save">완료</button>
                    <button type="button" class="btn btn-primary btn-cancel" data-dismiss="modal" aria-label="Close" #writeFormClose>취소</button>
				</div>
            </div>
            </form>

		</div>
	</div>
</div>

<div *ngIf="isLoadingProgress" class="loading-progress">

    <div class="sk-fading-circle">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
    </div>

</div>
