<div class="panel panel-default">

    <div class="panel-heading">
        <div class="text-center">
            <span class="h4 block m-b-sm">{{ panelTitle }}</span>
        </div>
        <div class="row">
            <div class="col-sm-8 m-b-xs pos-rlt">
                <form [formGroup]="searchForm">
                <input formControlName="sch_partner_name"
                    [typeahead]="listPartners"
                    typeaheadOptionField="Alias"
                    [typeaheadOptionsLimit]="50"
                    [typeaheadScrollable]="true"
                    [typeaheadMinLength]="0"
                    (typeaheadOnSelect)="onSelectListPartner($event)"
                    placeholder="거래처명"
                    class="input-sm form-control w-sm inline v-middle" />
                <input type="text" formControlName="sch_material" id="sch_material" (keyup)="updateFilter($event)" class="input-sm form-control w-sm inline v-middle" placeholder="재질" />
                <button (click)="getAll()" class="btn btn-sm btn-default">검색</button>
                </form>
            </div>
            <div class="col-sm-4 text-right">
                <!-- <button class="btn btn-sm btn-success btn-addon" data-toggle="modal" data-target="#upload-form" (click)="openModal('upload','')">
                <i class="glyphicon glyphicon-upload"></i>엑셀업로드
                </button> -->
            </div>
        </div>
    </div>

    <div class="panel-body">
        <ngx-datatable
            [style.height.px] = gridHeight
            class="bootstrap"
            [rows]="rows"
            [columnMode]="'force'"
            [headerHeight]="30"
            [rowHeight]="30"
            [scrollbarV]="true"
            [scrollbarH]="false"
            [selected]="selected"
            [selectionType]="'checkbox'"
            [selectAllRowsOnPage]="false"
            (select)='onSelect($event)'
            [messages]="messages">
            <ngx-datatable-column prop="material_code" [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" headerClass="checkAll" cellClass="text-center">
                <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                    <label class="i-checks i-checks-sm m-b-none">
                        <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"/><i></i>
                    </label>
                </ng-template>
                <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
                    <label class="i-checks i-checks-sm m-b-none">
                        <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)"/><i></i>
                    </label>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="material_type" name="종류" cellClass="text-center"></ngx-datatable-column>
            <ngx-datatable-column prop="material" name="재질"></ngx-datatable-column>
            <ngx-datatable-column prop="size" name="규격" [width]="100" [canAutoResize]="false" [resizeable]="false" cellClass="text-center"></ngx-datatable-column>
            <ngx-datatable-column prop="maker" name="메이커" cellClass="text-center"></ngx-datatable-column>
            <ngx-datatable-column prop="partner_code" name="거래처코드" [width]="1" [canAutoResize]="false" [resizeable]="false"></ngx-datatable-column>
            <ngx-datatable-column prop="partner_name" name="공급처(약칭)" cellClass="text-center"></ngx-datatable-column>
            <ngx-datatable-column prop="price" name="단가" [width]="100" [canAutoResize]="false" [resizeable]="false" cellClass="text-right">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                    <span>{{ value | numberFormat }}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="price_date" name="단가적용일자" [width]="110" [canAutoResize]="false" [resizeable]="false" cellClass="text-center"></ngx-datatable-column>
            <!-- 재고수량 추가 -->
            <ngx-datatable-column prop="remaining_weight" name="재고중량" [width]="100" [canAutoResize]="false" [resizeable]="false" cellClass="text-center">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                  <span>{{ value | numberFormat }}</span>
              </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>

    <div class="panel-footer">
        <div class="row">
			<div class="col-sm-6 hidden-xs">

            </div>
            <div class="col-sm-6 text-right text-center-xs">
                <button (click)="openModal('order')" [disabled]="selectedCnt != 1" class="btn btn-sm btn-primary btn-addon">
                    <i class="glyphicon glyphicon-plus"></i>발주
                </button>
                <button (click)="openModal('loss')" [disabled]="selectedCnt != 1" class="btn btn-sm btn-success btn-addon">
                    <i class="glyphicon glyphicon-plus"></i>LOSS처리
                </button>
    		</div>
        </div>
	</div>
</div>




<div bsModal #LossFormModal="bs-modal" id="loss-form" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

            <form [formGroup]="lossForm">
            <input type="hidden" formControlName="material_code" id="material_code" />
			<div class="modal-header">
				<button type="button" class="close" (click)="LossFormModal.hide()"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ lossFormTitle }}</h4>
			</div>
			<div class="modal-body">

                <div class="row">
                    <div class="col-lg-5">

                        <div class="form-group">
                            <div class="row">
            					<div for="material_name" class="col-lg-4 font-bold">
                                    재질
                                </div>
            					<div class="col-lg-8">
            						{{ lossForm.value.material_name }}
            					</div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="row">
            					<div for="material_size" class="col-lg-4 font-bold">
                                    규격
                                </div>
            					<div class="col-lg-8">
            						{{ lossForm.value.material_size }}
            					</div>
                            </div>
        				</div>

        				<div class="form-group">
                            <div class="row">
            					<div for="material_maker_name" class="col-lg-4 font-bold">
                                    메이커
                                </div>
            					<div class="col-lg-8">
                                    {{ lossForm.value.material_maker_name }}
            					</div>
                            </div>
        				</div>

                        <div class="form-group">
                            <div class="row">
            					<div for="partner_name" class="col-lg-4 font-bold">
                                    거래처
                                </div>
            					<div class="col-lg-8">
                                    {{ lossForm.value.partner_name }}
            					</div>
                            </div>
        				</div>

                        <div class="form-group">
                            <div class="row">
                                <div for="price_per_unit" class="col-lg-4 font-bold">
                                    단가
                                </div>
                                <div class="col-lg-8">
                                    {{ lossForm.value.price_per_unit }}
            					</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
            					<label for="weight_used" class="col-lg-4 control-label font-bold">
                                    중량
                                </label>
            					<div class="col-lg-8">
            						<input type="text" formControlName="weight_used" id="weight_used" nextFocus="input_date" class="form-control w-sm" />
            					</div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="row">
            					<label for="input_date" class="col-lg-4 control-label font-bold">
                                    처리일자
                                </label>
            					<div class="col-lg-8">
            						<input type="text" formControlName="input_date" id="input_date" bsDatepicker class="form-control w-sm" />
            					</div>
                            </div>
        				</div>

                    </div>


                    <div class="col-lg-7">

                        <div class="row m">
                            <div class="col-lg-6">
                                <span class="h5 font-bold">원자재재고현황</span>
                            </div>
                        </div>

                        <ngx-datatable
                            [style.height.px] = "300"
                            class="bootstrap"
                            [rows]="materialRows"
                            [columnMode]="'force'"
                            [headerHeight]="30"
                            [rowHeight]="30"
                            [scrollbarV]="true"
                            [scrollbarH]="false"
                            [selected]="selectedRcvItems"
                            [selectionType]="'checkbox'"
                            [selectAllRowsOnPage]="false"
                            [messages]="messages"
                            >
                            <ngx-datatable-column prop="id" name="" [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" headerClass="checkAll" cellClass="text-center">                                
                                <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-onCheckboxChangeFn="onCheckboxChangeFn">
                                    <label class="i-checks i-checks-sm m-b-none">
                                        <input type="checkbox" (change)="onCheckboxChangeFn($event)"  /><i></i>
                                    </label>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="material_code" name="자재코드" [width]="1" [canAutoResize]="false" [resizeable]="false"></ngx-datatable-column>
                            <ngx-datatable-column prop="material" name="재질" [width]="150" [canAutoResize]="false" [resizeable]="false"></ngx-datatable-column>
                            <ngx-datatable-column prop="size" name="규격" [width]="60" [canAutoResize]="false" [resizeable]="false" cellClass="text-center"></ngx-datatable-column>
                            <ngx-datatable-column prop="steel_maker" name="제강메이커" [width]="150" [canAutoResize]="false" [resizeable]="false"></ngx-datatable-column>
                            <ngx-datatable-column prop="rcv_date" name="입고일" [width]="100" [canAutoResize]="false" [resizeable]="false" cellClass="text-center"></ngx-datatable-column>
                            <ngx-datatable-column prop="ms_no" name="M.S.NO" [width]="170" [canAutoResize]="false" [resizeable]="false"></ngx-datatable-column>
                            <ngx-datatable-column prop="remaining_weight" name="재고" [width]="70" [canAutoResize]="false" [resizeable]="false" cellClass="text-right">
                                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                                    <span>{{ value | numberFormat }}</span>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>

                    </div>

                </div>

            </div>
            
            <div class="modal-footer">
				<div class="text-center">
					<button type="button" (click)="lossSave()" [disabled]="!lossForm.valid || selectedRcvItems.length != 1" class="btn btn-primary btn-save">완료</button>
                    <button type="button" (click)="LossFormModal.hide()" class="btn btn-primary btn-cancel">취소</button>
				</div>
            </div>
            </form>

		</div>
	</div>
</div>




<div bsModal #InputFormModal="bs-modal" id="input-form" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

            <form [formGroup]="inputForm">
            <input type="hidden" formControlName="material_code" id="material_code" />
			<div class="modal-header">
				<button type="button" class="close" (click)="InputFormModal.hide()"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ inputFormTitle }}</h4>
			</div>
			<div class="modal-body">

                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2 text-center"> &nbsp;  &nbsp; 1차입고</div>
                    <div class="col-lg-2 text-center"> &nbsp;  &nbsp; 2차입고</div>
                    <div class="col-lg-2 text-center"> &nbsp;  &nbsp; 3차입고</div>
                </div>

                <div class="row">
                    <div class="col-lg-4">

                        <!-- <div class="form-group">
                            <div class="row">
            					<label for="material_name" class="col-lg-4 control-label">
                                    재질
                                </label>
            					<div class="col-lg-8">
            						<input type="text" formControlName="material_name" id="material_name" nextFocus="size" class="form-control w-sm" />
            					</div>
                            </div>
        				</div> -->
                        <div class="form-group">
                            <div class="row">
            					<label for="material_name" class="col-lg-4 control-label">
                                    자재명
                                </label>
            					<div class="col-lg-8">
            						<input type="text" formControlName="material_name" id="material_name" nextFocus="size" class="form-control w-sm" />
            					</div>
                            </div>
        				</div>

                        <div class="form-group">
                            <div class="row">
            					<label for="material_size" class="col-lg-4 control-label">
                                    규격
                                </label>
            					<div class="col-lg-8">
            						<input type="text" formControlName="material_size" id="material_size" nextFocus="maker" class="form-control w-sm" />
            					</div>
                            </div>
        				</div>

        				<!-- <div class="form-group">
                            <div class="row">
            					<label for="material_maker" class="col-lg-4 control-label">
                                    메이커
                                </label>
            					<div class="col-lg-8">
                                    <input formControlName="material_maker_name" id="material_maker_name"
                                        [typeahead]="inputMakers"
                                        typeaheadOptionField="CfgName"
                                        [typeaheadOptionsLimit]="50"
                                        [typeaheadScrollable]="true"
                                        [typeaheadMinLength]="0"
                                        (typeaheadOnSelect)="onSelectInputMaker($event)"
                                        placeholder="메이커명"
                                        autocomplete="off"
                                        class="input-sm form-control w-sm inline v-middle" />
                                    <input type="hidden" formControlName="material_maker" id="material_maker" />
            					</div>
                            </div>
        				</div> -->

                        <div class="form-group">
                            <div class="row">
            					<label for="partner_name" class="col-lg-4 control-label">
                                    거래처
                                </label>
            					<div class="col-lg-8">
                                    <input formControlName="partner_name" id="partner_name"
                                        [typeahead]="inputPartners"
                                        typeaheadOptionField="Name"
                                        [typeaheadOptionsLimit]="50"
                                        [typeaheadScrollable]="true"
                                        [typeaheadMinLength]="0"
                                        (typeaheadOnSelect)="onSelectInputPartner($event)"
                                        placeholder="거래처명"
                                        autocomplete="off"
                                        class="input-sm form-control w-sm inline v-middle" />
                                    <input type="hidden" formControlName="partner_code" id="partner_code" />
            					</div>
                            </div>
        				</div>

                        <div class="form-group">
                            <div class="row">
                                <label for="price_per_unit" class="col-lg-4 control-label">
                                    단가
                                </label>
                                <div class="col-lg-8">
                                    <input type="text" formControlName="price_per_unit" id="price_per_unit" nextFocus="order_date1" class="form-control w-sm text-right" />
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-8">

                        <div class="form-group">
                            <div class="row">
                                <label for="order_date1" class="col-lg-2 control-label">
                                    주문일자 <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                                </label>
                                <div class="col-lg-3">
                                    <input type="text" formControlName="order_date1" id="order_date1" bsDatepicker placement="bottom left" nextFocus="order_weight1" class="form-control w-sm" />
                                </div>
                                <div class="col-lg-3">
                                    <input type="text" formControlName="order_date2" id="order_date2" bsDatepicker placement="bottom left" nextFocus="order_weight2" class="form-control w-sm" />
                                </div>
                                <div class="col-lg-3">
                                    <input type="text" formControlName="order_date3" id="order_date3" bsDatepicker placement="bottom left" nextFocus="order_weight3" class="form-control w-sm" />
                                </div>
                            </div>
                        </div>

                        <!-- <div class="form-group">
                            <div class="row">
            					<label for="order_weight" class="col-lg-2 control-label">
                                    주문중량 <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                                </label>
                                <div class="col-lg-3">
                                    <input type="text" formControlName="order_weight1" id="order_weight1" (blur)="CalculOrderAmount($event)" nextFocus="order_amount1" class="form-control w-sm text-right" />
                                </div>
                                <div class="col-lg-3">
                                    <input type="text" formControlName="order_weight2" id="order_weight2" (blur)="CalculOrderAmount($event)" nextFocus="order_amount2" class="form-control w-sm text-right" />
                                </div>
                                <div class="col-lg-3">
                                    <input type="text" formControlName="order_weight3" id="order_weight3" (blur)="CalculOrderAmount($event)" nextFocus="order_amount3" class="form-control w-sm text-right" />
                                </div>
                            </div>
        				</div> -->
                        <div class="form-group">
                            <div class="row">
            					<label for="order_weight" class="col-lg-2 control-label">
                                    주문수량 <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                                </label>
                                <div class="col-lg-3">
                                    <input type="text" formControlName="order_weight1" id="order_weight1" (blur)="CalculOrderAmount($event)" nextFocus="order_amount1" class="form-control w-sm text-right" />
                                </div>
                                <div class="col-lg-3">
                                    <input type="text" formControlName="order_weight2" id="order_weight2" (blur)="CalculOrderAmount($event)" nextFocus="order_amount2" class="form-control w-sm text-right" />
                                </div>
                                <div class="col-lg-3">
                                    <input type="text" formControlName="order_weight3" id="order_weight3" (blur)="CalculOrderAmount($event)" nextFocus="order_amount3" class="form-control w-sm text-right" />
                                </div>
                            </div>
        				</div>

                        <div class="form-group">
                            <div class="row">
            					<label for="order_amount1" class="col-lg-2 control-label">
                                    금액
                                </label>
                                <div class="col-lg-3">
                                    <input type="text" formControlName="order_amount1" id="order_amount1" nextFocus="rcv_request_date1" class="form-control w-sm text-right" />
                                </div>
                                <div class="col-lg-3">
                                    <input type="text" formControlName="order_amount2" id="order_amount2" nextFocus="rcv_request_date2" class="form-control w-sm text-right" />
                                </div>
                                <div class="col-lg-3">
                                    <input type="text" formControlName="order_amount3" id="order_amount3" nextFocus="rcv_request_date3" class="form-control w-sm text-right" />
                                </div>
                            </div>
        				</div>

        				<div class="form-group">
                            <div class="row">
            					<label for="rcv_request_date1" class="col-lg-2 control-label">
                                    입고요구일 <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                                </label>
                                <div class="col-lg-3">
                                    <input type="text" formControlName="rcv_request_date1" id="rcv_request_date1" bsDatepicker placement="bottom left" nextFocus="rcv_location1" class="form-control w-sm" />
                                </div>
                                <div class="col-lg-3">
                                    <input type="text" formControlName="rcv_request_date2" id="rcv_request_date2" bsDatepicker placement="bottom left" nextFocus="rcv_location2" class="form-control w-sm" />
                                </div>
                                <div class="col-lg-3">
                                    <input type="text" formControlName="rcv_request_date3" id="rcv_request_date3" bsDatepicker placement="bottom left" nextFocus="rcv_location3" class="form-control w-sm" />
                                </div>
                            </div>
        				</div>

                        <div class="form-group">
                            <div class="row">
            					<label for="rcv_location1" class="col-lg-2 control-label">
                                    입고장소 <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                                </label>
                                <div class="col-lg-3">
                                    <input formControlName="rcv_location1" id="rcv_location1" nextFocus="order_date2"
                                    [typeahead]="locationPartners"
                                    typeaheadOptionField="Name"
                                    [typeaheadOptionsLimit]="50"
                                    [typeaheadScrollable]="true"
                                    [typeaheadMinLength]="0"
                                    (typeaheadOnSelect)="onSelectLocationPartner($event, '1')"
                                    placeholder="거래처명"
                                    autocomplete="off"
                                    class="form-control w-sm" />
                                </div>
                                <div class="col-lg-3">
                                    <input formControlName="rcv_location2" id="rcv_location2" nextFocus="order_date3"
                                    [typeahead]="locationPartners"
                                    typeaheadOptionField="Name"
                                    [typeaheadOptionsLimit]="50"
                                    [typeaheadScrollable]="true"
                                    [typeaheadMinLength]="0"
                                    (typeaheadOnSelect)="onSelectLocationPartner($event, '2')"
                                    placeholder="거래처명"
                                    autocomplete="off"
                                    class="form-control w-sm" />
                                </div>
                                <div class="col-lg-3">
                                    <input formControlName="rcv_location3" id="rcv_location3"
                                    [typeahead]="locationPartners"
                                    typeaheadOptionField="Name"
                                    [typeaheadOptionsLimit]="50"
                                    [typeaheadScrollable]="true"
                                    [typeaheadMinLength]="0"
                                    (typeaheadOnSelect)="onSelectLocationPartner($event, '3')"
                                    placeholder="거래처명"
                                    autocomplete="off"
                                    class="form-control w-sm" />
                                </div>
                            </div>
        				</div>

                    </div>

                </div>

            </div>
            <div class="modal-footer">
				<div class="text-center">
					<button type="button" (click)="Save()" [disabled]="!inputForm.valid" class="btn btn-primary btn-save">완료</button>
                    <button type="button" (click)="InputFormModal.hide()" class="btn btn-primary btn-cancel">취소</button>
				</div>
            </div>
            </form>

		</div>
	</div>
</div>

<div *ngIf="isLoadingProgress" class="loading-progress">

    <div class="sk-fading-circle">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
    </div>

</div>
