<div class="panel panel-default">

    <div class="panel-heading">
        <div class="text-center">
            <span class="h4 block m-b-sm">{{ panelTitle }}</span>
        </div>
        <div class="row">
            <div class="col-sm-8 m-b-xs pos-rlt">
                <form [formGroup]="searchForm">
                <input formControlName="sch_partner_name"
                    [typeahead]="partnerList"
                    typeaheadOptionField="name"
                    [typeaheadOptionsLimit]="50"
                    [typeaheadScrollable]="true"
                    [typeaheadMinLength]="0"
                    (typeaheadOnSelect)="onSelectListPartner($event)"
                    placeholder="거래처명"
                    class="input-sm form-control w-sm inline v-middle" />
                <input type="text" formControlName="sch_order_no" id="sch_order_no" (keyup)="updateFilter($event)" class="input-sm form-control w-sm inline v-middle" placeholder="수주번호" />
                <button (click)="getAll()" class="btn btn-sm btn-default">검색</button>
                </form>
            </div>
            <div class="col-sm-4 text-right">
                <!-- <button class="btn btn-sm btn-success btn-addon" data-toggle="modal" data-target="#upload-form" (click)="openModal('upload','')">
                <i class="glyphicon glyphicon-upload"></i>엑셀업로드
                </button> -->
            </div>
        </div>
    </div>

    <div class="panel-body">
        <ngx-datatable
            [style.height.px] = gridHeight
            class="bootstrap"
            [rows]="rows"
            [columnMode]="'force'"
            [headerHeight]="30"
            [rowHeight]="30"
            [scrollbarV]="true"
            [scrollbarH]="false"
            [selected]="selected"
            [selectionType]="'single'"
            (select)='onSelect($event)'
            [messages]="messages">
            <ngx-datatable-column prop="order_no" name="수주번호" cellClass="text-center"></ngx-datatable-column>
            <ngx-datatable-column prop="partner_name" name="거래처" [width]="1" [canAutoResize]="false"
                                  [resizeable]="false"></ngx-datatable-column>
            <ngx-datatable-column prop="product_name" name="제품명"></ngx-datatable-column>
            <ngx-datatable-column prop="product_type" name="규격"></ngx-datatable-column>
            <ngx-datatable-column prop="demand_date" name="요구일" cellClass="text-center"></ngx-datatable-column>
            <ngx-datatable-column prop="promised_date" name="약속일자" cellClass="text-center"></ngx-datatable-column>
            <ngx-datatable-column prop="order_qty" name="수주수량" [width]="70" [canAutoResize]="false" [resizeable]="false" cellClass="text-right">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                    <span>{{ value | numberFormat }}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="delivery_qty" name="납품수량" [width]="80" [canAutoResize]="false"
                                  [resizeable]="false" cellClass="text-right">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                    <span>{{ value | numberFormat }}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="not_delivered_qty" name="미납수량" [width]="80" [canAutoResize]="false" [resizeable]="false" cellClass="text-right">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                    <span>{{ value | numberFormat }}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="current_qty" name="제품재고" [width]="80" [canAutoResize]="false" [resizeable]="false" cellClass="text-right">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                    <span>{{ value | numberFormat }}</span>
                </ng-template>
            </ngx-datatable-column>
<!--            <ngx-datatable-column prop="invoice_id" name="송장" [width]="30" [canAutoResize]="false" [resizeable]="false" cellClass="text-center">-->
<!--                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">-->
<!--                    <i *ngIf="value > 0" data-toggle="modal" data-target="#invoice" (click)="openModal('view',value)" class="glyphicon glyphicon-paperclip"></i>-->
<!--                </ng-template>-->
<!--            </ngx-datatable-column>-->
        </ngx-datatable>
    </div>

    <footer class="panel-footer">
		<div class="row">
			<div class="col-sm-6 hidden-xs">
                <!-- <button class="btn btn-sm btn-danger btn-addon" data-toggle="modal" data-target="#change-status-confirm" (click)="openModal('delete','selected')">
                    <i class="glyphicon glyphicon-trash"></i>삭제
                </button> -->
            </div>
            <div class="col-sm-6 text-right text-center-xs">
                <button (click)="openModal('create', '')" [disabled]="!selectedId" class="btn btn-sm btn-primary btn-addon">
                    <i class="glyphicon glyphicon-plus"></i>납품처리
                </button>
                <!-- <a href="" class="btn btn-sm btn-info btn-addon"><i class="glyphicon glyphicon-print"></i>인쇄</a>
                <a href="" class="btn btn-sm btn-success btn-addon"><i class="glyphicon glyphicon-download-alt"></i>엑셀</a> -->
    		</div>
        </div>
	</footer>
</div>

<div bsModal #InputFormModal="bs-modal" id="input-form" class="modal fade" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form [formGroup]="inputForm">
                <div class="modal-header">
                    <button type="button" class="close" (click)="InputFormModal.hide()"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{ inputFormTitle }}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="row">
                                    <label for="input_date" class="col-lg-4 control-label">
                                        납품일자 <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                                    </label>
                                    <div class="col-lg-8">
                                        <input type="text" formControlName="input_date" id="input_date" bsDatepicker placement="bottom left"
                                               nextFocus="" class="form-control w-sm"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label for="partner_name" class="col-lg-4 control-label">
                                        거래처 <span class="text-xs"></span>
                                    </label>
                                    <div class="col-lg-8">
                                        <input type="text" formControlName="partner_name" id="partner_name"
                                               nextFocus="product_price" class="form-control w-sm"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label for="order_no" class="col-lg-4 control-label">
                                        수주번호 <span class="text-xs"></span>
                                    </label>
                                    <div class="col-lg-8">
                                        <input type="text" formControlName="order_no" id="order_no"
                                               nextFocus="order_no" class="form-control w-sm"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label for="product_name" class="col-lg-4 control-label">
                                        제품명
                                    </label>
                                    <div class="col-lg-8">
                                        <input type="text" formControlName="product_name" id="product_name"
                                               class="form-control w-md"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label for="product_type" class="col-lg-4 control-label">
                                        규격
                                    </label>
                                    <div class="col-lg-8">
                                        <input type="text" formControlName="product_type" id="product_type"
                                               class="form-control w-md"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-lg-5 control-label">
                                        수주수량 / 제품재고
                                    </label>
                                    <div class="col-lg-7" style="margin-top: 5px">
                                        <span class="m-t">{{ order_qty | numberFormat }}</span>
                                        /
                                        <span class="m-t">{{ current_qty | numberFormat }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label for="delivery_qty" class="col-lg-4 control-label">
                                        납품수량 <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                                    </label>
                                    <div class="col-lg-8">
                                        <input type="text" decimal [(ngModel)]="delivable_qty"
                                               (blur)="calculDeliveryPrice()" formControlName="delivery_qty"
                                               id="delivery_qty" nextFocus="product_price" class="form-control w-sm"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label for="product_price" class="col-lg-4 control-label">
                                        단가
                                    </label>
                                    <div class="col-lg-8">
                                        <input type="text" decimal formControlName="product_price"
                                               id="product_price" nextFocus="delivery_price" class="form-control w-sm"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label for="delivery_price" class="col-lg-4 control-label">
                                        금액
                                    </label>
                                    <div class="col-lg-8">
                                        <input type="text" decimal [(ngModel)]="delivery_price"
                                               formControlName="delivery_price" id="delivery_price" nextFocus="order_no"
                                               class="form-control w-sm"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label for="transport_vehicle" class="col-lg-4 control-label">
                                        운송차량 <span class="text-xs text-danger glyphicon"></span>
                                    </label>
                                    <div class="col-lg-8">
                                        <input type="text" formControlName="transport_vehicle" id="transport_vehicle"
                                               nextFocus="unload_place" class="form-control w-sm"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label for="unload_place" class="col-lg-4 control-label">
                                        거래처 <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                                    </label>
                                    <div class="col-lg-8">
                                        <!--                    <input type="text" formControlName="partner_name" id="product_code" nextFocus=""-->
                                        <!--                                                                    class="form-control inline w-sm"/>-->
                                        <input formControlName="unload_place" id="unload_place"
                                               [typeahead]="partnerList"
                                               typeaheadOptionField="name"
                                               [typeaheadOptionsLimit]="50"
                                               [typeaheadScrollable]="true"
                                               [typeaheadMinLength]="0"
                                               (typeaheadOnSelect)="onSelectListUnloadPlace($event)"
                                               class="form-control inline w-sm"/>
                                        <input type="hidden" formControlName="unload_place_id" id="unload_place_id"/>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" formControlName="sales_orders_detail_id" id="sales_orders_detail_id"/>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="text-center">
                        <button type="button" (click)="deliveryCompletion()"
                                [disabled]="!inputForm.valid" class="btn btn-primary btn-save">완료
                        </button>
                        <button type="button" (click)="InputFormModal.hide()" class="btn btn-primary btn-cancel">
                            <span>닫기</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div *ngIf="isLoadingProgress" class="loading-progress">

    <div class="sk-fading-circle">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
    </div>

</div>
