<div class="panel panel-default">

  <div class="panel-heading">
    <div class="text-center">
      <span class="h4 block m-b-sm">{{ panelTitle }}</span>
    </div>
    <div class="row">
      <div class="col-sm-8 m-b-xs pos-rlt">
        <form [formGroup]="searchForm">
          <input formControlName="sch_partner_name"
                 [typeahead]="listPartners"
                 typeaheadOptionField="alias"
                 [typeaheadOptionsLimit]="50"
                 [typeaheadScrollable]="true"
                 [typeaheadMinLength]="0"
                 (typeaheadOnSelect)="onSelectListPartner($event)"
                 placeholder="거래처명"
                 class="input-sm form-control w-sm inline v-middle"/>
          <button (click)="getAll()" class="btn btn-sm btn-default">검색</button>
        </form>
      </div>
      <div class="col-sm-4 text-right">
        <!-- <button class="btn btn-sm btn-success btn-addon" data-toggle="modal" data-target="#upload-form" (click)="openModal('upload','')">
        <i class="glyphicon glyphicon-upload"></i>엑셀업로드
        </button> -->
      </div>
    </div>
  </div>

  <div class="panel-body">
    <ngx-datatable
      [style.height.px]=gridHeight
      class="bootstrap"
      [rows]="rows"
      [columnMode]="'force'"
      [headerHeight]="30"
      [rowHeight]="30"
      [scrollbarV]="true"
      [scrollbarH]="false"
      [selected]="selected"
      [selectionType]="'single'"
      (select)='onSelect($event)'
      [messages]="messages">
      <ngx-datatable-column prop="name" name="자재명"></ngx-datatable-column>
      <ngx-datatable-column prop="size" name="규격"></ngx-datatable-column>
      <ngx-datatable-column prop="partner_name" name="거래처"></ngx-datatable-column>
      <ngx-datatable-column prop="price" name="단가" [width]="120" [canAutoResize]="false" [resizeable]="false"
                            cellClass="text-right">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
          <span>{{ value | numberFormat }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="price_date" name="단가적용일자" [width]="120" [canAutoResize]="false" [resizeable]="false"
                            cellClass="text-center"></ngx-datatable-column>
      <!-- 재고수량 추가 -->
      <ngx-datatable-column prop="current_qty" name="재고" [width]="100" [canAutoResize]="false"
                            [resizeable]="false" cellClass="text-right">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
          <span>{{ value | numberFormat }}</span>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>

  <div class="panel-footer">
    <div class="row">
      <div class="col-sm-6 hidden-xs">

      </div>
      <div class="col-sm-6 text-right text-center-xs">
        <button (click)="openModal('order')" [disabled]="selectedId == ''" class="btn btn-sm btn-primary btn-addon">
          <i class="glyphicon glyphicon-plus"></i>발주
        </button>
        <button (click)="openModal('loss')" [disabled]="selectedId == ''" class="btn btn-sm btn-success btn-addon">
          <i class="glyphicon glyphicon-plus"></i>LOSS처리
        </button>
      </div>
    </div>
  </div>
</div>


<div bsModal #LossFormModal="bs-modal" id="loss-form" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <form [formGroup]="lossForm">
        <div class="modal-header">
          <button type="button" class="close" (click)="LossFormModal.hide()"><span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{{ lossFormTitle }}</h4>
        </div>
        <div class="modal-body">
        <input type="hidden" formControlName="material_id" id="material_id"/>
            <div class="form-group">
                <div class="row">
                    <label for="input_date" class="col-lg-4 control-label">
                        일자<span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                    </label>
                    <div class="col-lg-8">
                        <input type="text" formControlName="input_date" id="input_date" nextFocus="qty" class="form-control w-sm" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label for="name" class="col-lg-4 control-label">
                        자재명<span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                    </label>
                    <div class="col-lg-8">
                        <input type="text" formControlName="name" id="name" readonly class="form-control w-sm" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label for="size" class="col-lg-4 control-label">
                        규격<span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                    </label>
                    <div class="col-lg-8">
                        <input type="text" formControlName="size" id="size" readonly class="form-control w-sm" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label for="qty" class="col-lg-4 control-label">
                        개수<span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                    </label>
                    <div class="col-lg-8">
                        <input type="text" formControlName="qty" id="qty" class="form-control w-sm" />
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
          <div class="text-center">
            <button type="button" (click)="lossSave()" [disabled]="!lossForm.valid"
                    class="btn btn-primary btn-save">완료
            </button>
            <button type="button" (click)="LossFormModal.hide()" class="btn btn-primary btn-cancel">취소</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>


<div bsModal #InputFormModal="bs-modal" id="input-form" class="modal fade" tabindex="-1" role="dialog"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <form [formGroup]="inputForm">
        <input type="hidden" formControlName="material_id" id="material_id"/>
        <div class="modal-header">
          <button type="button" class="close" (click)="InputFormModal.hide()"><span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{{ inputFormTitle }}</h4>
        </div>
        <div class="modal-body">

              <div class="form-group">
                <div class="row">
                  <label for="input_date" class="col-lg-2 control-label">
                    발주일자 <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                  </label>
                  <div class="col-lg-4">
                    <input type="text" formControlName="input_date" id="input_date" bsDatepicker
                           placement="bottom left" nextFocus="order_weight1" class="form-control w-sm"/>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <label for="partner_name" class="col-lg-2 control-label">
                    거래처명
                  </label>
                  <div class="col-lg-4">
                    <input readonly type="text" formControlName="partner_name" id="partner_name"
                           class="input-sm form-control w-sm inline v-middle"/>
                  </div>

                  <label for="price" class="col-lg-2 control-label">
                    단가
                  </label>
                  <div class="col-lg-4">
                    <input readonly type="text" formControlName="price" id="price" nextFocus="order_date1"
                           class="form-control w-sm text-right"/>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <label for="name" class="col-lg-2 control-label">
                    제품명
                  </label>
                  <div class="col-lg-4">
                    <input readonly type="text" formControlName="name" id="name" nextFocus="size"
                           class="form-control w-sm"/>
                  </div>

                  <label for="order_price" class="col-lg-2 control-label">
                    금액
                  </label>
                  <div class="col-lg-4">
                    <input type="text" formControlName="order_price" id="order_price" nextFocus="rcv_request_date1"
                           class="form-control w-sm text-right"/>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <label for="size" class="col-lg-2 control-label">
                    규격
                  </label>
                  <div class="col-lg-4">
                    <input readonly type="text" formControlName="size" id="size" nextFocus="maker"
                           class="form-control w-sm"/>
                  </div>
                  <label for="promised_date" class="col-lg-2 control-label">
                    납품요구일 <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                  </label>
                  <div class="col-lg-4">
                    <input type="text" formControlName="promised_date" id="promised_date" bsDatepicker
                           placement="bottom left" nextFocus="rcv_location1" class="form-control w-sm"/>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <label for="order_qty" class="col-lg-2 control-label">
                    수량 <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                  </label>
                  <div class="col-lg-4">
                    <input type="text" formControlName="order_qty" id="order_qty"
                           (blur)="CalculOrderAmount($event)"
                           class="form-control w-sm text-right"/>
                  </div>
                  <label for="receiving_location" class="col-lg-2 control-label">
                    납품처 <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                  </label>
                  <div class="col-lg-4">
                    <input formControlName="receiving_location" id="receiving_location"
                           [typeahead]="locationPartners"
                           typeaheadOptionField="name"
                           [typeaheadOptionsLimit]="50"
                           [typeaheadScrollable]="true"
                           [typeaheadMinLength]="0"
                           (typeaheadOnSelect)="onSelectLocationPartner($event)"
                           placeholder="거래처명"
                           autocomplete="off"
                           class="form-control w-sm"/>
                    <input type="hidden" formControlName="receiving_location_id" id="receiving_location_id"/>
                  </div>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <div class="text-center">
            <button type="button" (click)="Save()" [disabled]="!inputForm.valid" class="btn btn-primary btn-save">완료
            </button>
            <button type="button" (click)="InputFormModal.hide()" class="btn btn-primary btn-cancel">취소</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>

<div *ngIf="isLoadingProgress" class="loading-progress">

  <div class="sk-fading-circle">
    <div class="sk-circle1 sk-circle"></div>
    <div class="sk-circle2 sk-circle"></div>
    <div class="sk-circle3 sk-circle"></div>
    <div class="sk-circle4 sk-circle"></div>
    <div class="sk-circle5 sk-circle"></div>
    <div class="sk-circle6 sk-circle"></div>
    <div class="sk-circle7 sk-circle"></div>
    <div class="sk-circle8 sk-circle"></div>
    <div class="sk-circle9 sk-circle"></div>
    <div class="sk-circle10 sk-circle"></div>
    <div class="sk-circle11 sk-circle"></div>
    <div class="sk-circle12 sk-circle"></div>
  </div>

</div>
