<div class="row text-center">
    <span class="title">{{ panelTitle }}</span>
</div>

<div class="m-b text-right">
    작업지시일시 : {{ orderTime }}
</div>

<div *ngFor="let subrows of rows">
    <div class="row">
        <div class="col-sm-9">
            작업LINE : {{ subrows.subKey }}
        </div>
        <div *ngIf="subrows.subKey != 'outs'" class="col-sm-3 text-right">
            <div *ngIf="subrows.lineWorkers.group1_leader">1근 작업반장 : {{ subrows.lineWorkers.group1_leader }}</div>
            <div *ngIf="subrows.lineWorkers.group2_leader">2근 작업반장 : {{ subrows.lineWorkers.group2_leader }}</div>
            <div *ngIf="subrows.lineWorkers.group3_leader">2근 작업반장 : {{ subrows.lineWorkers.group3_leader }}</div>
        </div>
    </div>

    <div *ngFor="let daterow of subrows.subData | keys">
        <div class="row m-l-xs">
            {{ daterow.key }}
        </div>
        <div class="table-responsive">
        	<table class="table table-bordered table-condensed b-light" style="border-top:1px solid #eaeff0">
        	<thead>
        	<tr>
        		<th class="text-center">시작</th>
        		<th class="text-center">종료</th>
                <th class="text-center">작업</th>
                <th class="text-center">금형규격</th>
                <th class="text-center">규격</th>
        		<th class="text-center">제품번호</th>
        		<th class="text-center">도번</th>
                <th class="text-center">수량</th>
        	</tr>
        	</thead>
        	<tbody>
        	<tr *ngFor="let row of daterow.value">
        		<td class="text-center">{{ row.working_stime }}</td>
        		<td class="text-center">{{ row.working_etime }}</td>
                <td class="text-center">{{ row.production_time }}</td>
                <td class="text-center">{{ row.mold_size }}</td>
                <td class="text-center">{{ row.size }}</td>
                <td class="text-center">{{ row.product_code }}</td>
        		<td class="text-center">{{ row.drawing_no }}</td>
        		<td class="text-center">{{ row.order_qty }}</td>
        	</tr>
        	</tbody>
        	</table>
        </div>
    </div>
</div>
