<div class="panel panel-default">
  <div class="panel-heading">
    <div class="text-center">
      <span class="h4 block m-b-sm">{{ panelTitle }}</span>
    </div>
    <div class="row">
      <div class="col-sm-8 m-b-xs">
        <form [formGroup]="searchForm">
          <label for="sch_order_no" class="control-label text-sm">수주번호</label>
          <input type="text" formControlName="sch_order_no" id="sch_order_no" (keyup)="updateFilter($event)" class="input-sm form-control w-sm inline v-middle"/>
          <button (click)="getAll()" class="btn btn-sm btn-default hidden-print">검색</button>
          <!-- <button (click)="resetSeqNo()" class="btn btn-sm btn-dark hidden-print">미반영수주</button> -->
        </form>
      </div>
      <div class="col-sm-4 text-right">
        <!--
        <button class="btn btn-sm btn-success btn-addon">
        <i class="glyphicon glyphicon-upload"></i>엑셀업로드
        </button>
        -->
      </div>
    </div>
  </div>
  <div class="panel-body">
    <ngx-datatable
        [style.height.px] = gridHeight
        class="bootstrap"
        [rows]="rows"
        [columnMode]="'force'"
        [headerHeight]="30"
        [rowHeight]="30"
        (select)='onSelect($event)'
        [scrollbarV]="true"
        [scrollbarH]="false"
        [selected]="selected"
        [selectionType]="'checkbox'"
        [selectAllRowsOnPage]="false">
        <ngx-datatable-column prop="order_no" name="수주번호" cellClass="text-center"></ngx-datatable-column>
        <ngx-datatable-column prop="product_name" name="제품명" cellClass="text-center"></ngx-datatable-column>
        <ngx-datatable-column prop="partner_name" name="거래처" cellClass="text-center"></ngx-datatable-column>
        <ngx-datatable-column prop="promised_date" name="약속일자" cellClass="text-center"></ngx-datatable-column>
        <ngx-datatable-column prop="qty"  name="수량" cellClass="text-center"></ngx-datatable-column>
        <ngx-datatable-column prop="Production_qty"  name="완료수량" cellClass="text-center"></ngx-datatable-column>
        <ngx-datatable-column prop="id"  cellClass="text-center">
          <ng-template ngx-datatable-header-template>
              잔량
          </ng-template>
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          {{row.remindQty}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="id" cellClass="text-center" width="110px">
            <ng-template ngx-datatable-header-template>
                진행율
            </ng-template>
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                <div style="border:solid 1px #ddd;margin:5px;padding:3px; width: 110px" >
                  <div style="background:#999;height:10px" [style.width]="row.remindPrecent + '%'"></div>
                </div>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="start_date" name="생산시작일" cellClass="text-center"></ngx-datatable-column>
        <ngx-datatable-column prop="end_date" name="생산종료일" cellClass="text-center"></ngx-datatable-column>
    </ngx-datatable>
</div>
  <footer class="panel-footer hidden-print">
    <div class="row">
      <div class="col-sm-4 hidden-xs">
        <!-- <button (click)="orderSave()" class="btn btn-sm btn-dark">저장</button> -->
      </div>

      <div class="col-sm-8 text-right">
        <!-- <button (click)="openModal('cutting', '')" [disabled]="!selectedId" class="btn btn-sm btn-primary">
          조립지시서
        </button>
        <button (click)="openModal('line-change', '')" [disabled]="!selectedId" class="btn btn-sm btn-danger">
          라인변경
        </button> -->
        <!--                <button type="button" appPopupWindow popWinURL="/print/production/planning/production-planning" popWinOptions="width=auto,height=auto,top=auto,left=auto" class="btn btn-sm btn-info btn-addon"><i class="glyphicon glyphicon-print"></i>인쇄</button>-->
        <button type="button" class="btn btn-sm btn-info btn-addon"
                (click)="openModal('print-view', '')">
          <i class="glyphicon glyphicon-print"></i>인쇄
        </button>
        <button type="button" class="btn btn-sm btn-success btn-addon" (click)="elSrv.excelDL('','/production/planning','생산계획.xlsx')"><i
          class="glyphicon glyphicon-download-alt"></i>엑셀
        </button>
      </div>
    </div>
  </footer>
</div>




<div *ngIf="isLoadingProgress" class="loading-progress">

  <div class="sk-fading-circle">
    <div class="sk-circle1 sk-circle"></div>
    <div class="sk-circle2 sk-circle"></div>
    <div class="sk-circle3 sk-circle"></div>
    <div class="sk-circle4 sk-circle"></div>
    <div class="sk-circle5 sk-circle"></div>
    <div class="sk-circle6 sk-circle"></div>
    <div class="sk-circle7 sk-circle"></div>
    <div class="sk-circle8 sk-circle"></div>
    <div class="sk-circle9 sk-circle"></div>
    <div class="sk-circle10 sk-circle"></div>
    <div class="sk-circle11 sk-circle"></div>
    <div class="sk-circle12 sk-circle"></div>
  </div>

</div>
