table {
    font-size:12px;
}

.title {
    display: inline-block;
    width:350px;
    padding:0 0 5px 0;
    border-bottom:3px double #000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.title1 {
    margin:10px 0 10px 0;
}
.title2 {
    margin:30px 0 10px 0;
}

table.approval {
    width:720px;
    height:60px;
    margin:0;
    border-left:2px solid #000;
    font-size: 12px;
    font-weight: bold;
}
table.approval td{
    border-right:2px solid #000;
    border-bottom:2px solid #000;
    text-align: center;
}
table.approval td.td1{
    width:30px;
}
table.approval td.td2{
    width:60px;
}
table.approval td.td3{
    width:120px;
}
table.approval td.td4{
    width:210px;
}
table.approval td.td5{
    width:150px;
}
table.approval td.td6{
    width:157px;
}
table.approval td.td7{
    width:256px;
}
table.approval td.td8{
    width:126px;
}
table.approval td.td9{
    width:540px;
}
table.approval td.td10{
    width:52px;
}
