<div class="panel panel-default" id="print-target-ctrs-comp">

    <div class="panel-heading">
        <div class="text-center">
            <span class="h4 block m-b-sm">{{ panelTitle }}</span>
        </div>
        <div class="row">
            <div class="col-sm-8 m-b-xs">
                <form [formGroup]="searchForm">
                    <label for="sch_prdline" class="m-l">작업라인</label>
                    <select formControlName="sch_prdline" id="sch_prdline" (change)="getAll()" class="input-sm form-control w-sm inline v-middle">
                        <option *ngFor="let line of productionLines" value="{{ line.LineCode }}">{{ line.LineCode }}-{{ line.EquipmentName }}</option>
                    </select>
                    <!-- <label for="sch_sdate" class="control-label text-sm m-l">조회기간</label>
                    <input type="text" formControlName="sch_sdate" bsDatepicker placement="bottom left" class="input-sm form-control w-xs inline v-middle" /> ~
                    <input type="text" formControlName="sch_edate" bsDatepicker placement="bottom left" class="input-sm form-control w-xs inline v-middle" /> -->
                    <button (click)="getAll()" class="btn btn-sm btn-default hidden-print">검색</button>
                </form>
            </div>
            <div class="col-sm-4 text-right">
                <!--
                <button class="btn btn-sm btn-success btn-addon">
                <i class="glyphicon glyphicon-upload"></i>엑셀업로드
                </button>
                -->
            </div>
        </div>
    </div>

    <div class="panel-body">
        <ngx-datatable
            [style.height.px] = gridHeight
            class="bootstrap"
            [rows]="rows"
            [columnMode]="'force'"
            [headerHeight]="30"
            [rowHeight]="30"
            [scrollbarV]="true"
            [scrollbarH]="false"
            [virtualization]="false"
            [messages]="messages">
            <ngx-datatable-column prop="poc_no" name="POC No" cellClass="text-center"></ngx-datatable-column>
            <ngx-datatable-column prop="working_date" name="작업일" cellClass="text-center"></ngx-datatable-column>
            <ngx-datatable-column prop="working_time" name="시작시간" cellClass="text-center"></ngx-datatable-column>
            <ngx-datatable-column prop="production_time" name="작업소요" cellClass="text-right">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                    <span>{{ value | numberFormat }} 분</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="product_code" name="제품번호"></ngx-datatable-column>
            <ngx-datatable-column prop="product_name" name="제품명"></ngx-datatable-column>
            <ngx-datatable-column prop="order_qty" name="생산수량" cellClass="text-right">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                    <span>{{ value | numberFormat }}</span>
                </ng-template>
            </ngx-datatable-column>
            
            <ngx-datatable-column prop="mold_size" name="금형규격"></ngx-datatable-column>
            <ngx-datatable-column prop="mold_position" name="위치"></ngx-datatable-column>

            <ngx-datatable-column prop="cutting_order" name="W" cellClass="text-center">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                    &nbsp; <span *ngIf="value == 'Y'">★</span> &nbsp;
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="cutting_quantity" name="J" cellClass="text-center">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                    &nbsp; <span *ngIf="value > 0">★</span> &nbsp;
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="mold_ready" name="M" cellClass="text-center">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                    &nbsp; <span *ngIf="value == 'Y'" class="text-danger">★</span> &nbsp;
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="id" name="금형선택" [width]="100" [canAutoResize]="false" [resizeable]="false" cellClass="text-center hidden-print">
                <!-- <ng-template ngx-datatable-header-template><span id="st_header_cell_title">{{name}}</span></ng-template> -->
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <button (click)="openModal(value + '::' + row.poc_no + '::' + row.product_code)" class="btn btn-xs btn-primary">
                        금형선택
                    </button>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>

    <footer class="panel-footer hidden-print">
		<div class="row">
            <div class="col-sm-4 hidden-xs">
            </div>
            <div class="col-sm-8 text-right">
                <button type="button" (click)="electronService.readyPrint('print-target-ctrs-comp', '', electronService.PRINT_OPT.LANDSCAPE)" class="btn btn-sm btn-info btn-addon">
                    <i class="glyphicon glyphicon-print"></i>인쇄
                </button>
                <button type="button" class="btn btn-sm btn-success btn-addon" (click)="excelDown()"><i class="glyphicon glyphicon-download-alt"></i>엑셀</button>
    		</div>
        </div>
	</footer>
</div>

<div bsModal #InputFormModal="bs-modal" id="input-form" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" (click)="InputFormModal.hide()"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ moldSelectTitle }}</h4>
			</div>
			<div class="modal-body">

                <table class="table table-bordered b-light" style="border-top:1px solid #eaeff0">
        		<tbody>
                <tr>
                    <th>POC No</th>
                    <td>{{ pocNo }}</td>
                    <th>도번</th>
                    <td>{{ subDrawingNo }}</td>
                </tr>
                <tr>
                    <th>제품번호</th>
                    <td>{{ productCode }}</td>
                    <th>제품명</th>
                    <td>{{ productName }}</td>
                </tr>
                </tbody>
                </table>

                <ngx-datatable
                    [style.height.px] = gridHeight
                    class="bootstrap"
                    [rows]="moldRows"
                    [columnMode]="'force'"
                    [headerHeight]="30"
                    [rowHeight]="30"
                    [selected]="selected"
                    [selectionType]="'single'"
                    [selectAllRowsOnPage]="false"
                    (select)='onSelect($event)'
                    [messages]="messages">
                    <ngx-datatable-column prop="mold_code" [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" headerClass="checkAll" cellClass="text-center">
                        <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                            <label class="i-checks i-checks-sm m-b-none">
                                <input type="checkbox" [disabled]="true" /><i></i>
                            </label>
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
                            <label class="i-checks i-checks-sm m-b-none">
                                <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)"/><i></i>
                            </label>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column prop="management_no" name="금형관리번호" [width]="180" [canAutoResize]="false" [resizeable]="false" cellClass="text-center"></ngx-datatable-column>
                    <ngx-datatable-column prop="production_date" name="제작일" [width]="140" [canAutoResize]="false" [resizeable]="false" cellClass="text-center"></ngx-datatable-column>
                    <ngx-datatable-column prop="remaining_limits" name="잔여수명" [width]="120" [canAutoResize]="false" [resizeable]="false" cellClass="text-right">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                            <span>{{ value | numberFormat }}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column prop="mold_stand_no" name="보관위치" [width]="120" [canAutoResize]="false" [resizeable]="false" cellClass="text-center"></ngx-datatable-column>
                    <ngx-datatable-column prop="production_line" name="작업라인" [width]="120" [canAutoResize]="false" [resizeable]="false" cellClass="text-center"></ngx-datatable-column>
                    <ngx-datatable-column prop="last_work_date" name="작업일" [width]="140" [canAutoResize]="false" [resizeable]="false" cellClass="text-center"></ngx-datatable-column>
                </ngx-datatable>

            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <button type="button" (click)="Save()" [disabled]="!selectedMoldCode" class="btn btn-danger btn-save">선택완료</button>
                    <button type="button" (click)="InputFormModal.hide()" class="btn btn-primary btn-cancel">취소</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isLoadingProgress" class="loading-progress">

    <div class="sk-fading-circle">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
    </div>

</div>
